n8n/lite/workflows/site_to_vector_example.json
{
  "name": "site-to-vector example",
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "debbef37-d1a5-4c57-aba6-befa92f52bff",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2396.703373323493,
        1020
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b5f1695b-be23-415d-864c-36ab82e0fe29",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2576.703373323493,
        940
      ]
    },
    {
      "parameters": {
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "1d4d3894-8ff7-4ba7-955d-0ae194c0174c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2616.703373323493,
        1140
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "ebc1a13d-511b-4ffd-bf14-30efc03c0e47",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1480,
        1020
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "96fc66af-0415-4b42-9cf3-5dbf40f9c59c",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        996.703373323493,
        1660
      ]
    },
    {
      "parameters": {
        "url": "https://n8n-io.github.io/n8n-demo-website/sitemap.xml",
        "options": {}
      },
      "id": "42db4cbf-9da4-402b-b135-eb8a0f750479",
      "name": "Get sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        836.703373323493,
        720
      ]
    },
    {
      "parameters": {
        "options": {
          "explicitRoot": false,
          "ignoreAttrs": true
        }
      },
      "id": "e7c4e208-b38f-4577-8297-3f1094733fed",
      "name": "Turn XML sitemap into JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1056.703373323493,
        720
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "id": "edc4c000-5a22-40ed-b5f6-ed5b018e4cba",
      "name": "Turn the URL array into multiple items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1276.703373323493,
        720
      ]
    },
    {
      "parameters": {},
      "id": "96c8f38d-475e-4b12-b969-c7420b65dcde",
      "name": "Wait 5 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1996.703373323493,
        1040
      ],
      "webhookId": "f4e7dead-77ad-4216-a5a0-ef95914bf3ab"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {}
      },
      "id": "0e600a60-edcd-46b8-b99b-abcef4e03bad",
      "name": "Get pages listed in the sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1736.703373323493,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "281fb229-8b31-484e-ba47-7a5289156558",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        696.703373323493,
        1400
      ],
      "webhookId": "4b338d3c-b03f-42f2-94c1-9353d0f1fbc2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').item.json.chatInput }}"
      },
      "id": "ec2f266d-e28a-4097-b1a5-ec96cc6662ac",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.3,
      "position": [
        1036.703373323493,
        1400
      ]
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "0a733459-30ed-4584-b101-63b64ea70f82",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1236.703373323493,
        1600
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "b64e8813-906f-46f1-80c0-3a7dad213ff1",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1536.703373323493,
        2020
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "6dba566c-c494-42ad-9f40-67b9033f5659",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2216.703373323493,
        720
      ]
    },
    {
      "parameters": {
        "content": "**Aggregate into one item**\n\nThe Pinecone node loops over each input item. This is standard n8n node behavior.\n\nThis means if you want to use the **Clear namespace** setting in the Pinecone node, you need to input a single item.",
        "height": 381.66422439067196,
        "color": 5
      },
      "id": "58aa6602-5cb2-41b2-992c-fb8401d9cf22",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2156.703373323493,
        500
      ]
    },
    {
      "parameters": {
        "content": "### Workflow to scrape data and send it to Pinecone",
        "height": 878.8927796727229,
        "width": 2382.6739342193496,
        "color": 7
      },
      "id": "e0a3e1d6-78a0-4e0b-a29e-baebd0cd01bd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "### Workflow to chat and get answers from the Pinecone vector database",
        "height": 825.9872504327399,
        "width": 1181.407211476183,
        "color": 7
      },
      "id": "4ec0adb6-bc96-49b0-bed3-ad56dbcc9c01",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        636.703373323493,
        1360
      ]
    },
    {
      "parameters": {
        "content": "## Try it out \n\n1. Set credentials and choose your Pinecone vector database. See the notes on individual nodes for details.\n2. Select **Test workflow** to run the main workflow and load data into Pinecone.\n3. Select **Chat** and try asking:\n\n_What is the purpose of the n8n demo website?_",
        "height": 326.49681260818465,
        "color": 4
      },
      "id": "52a8e749-d564-43a4-844f-631d0f0e6acf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        276.703373323493,
        540
      ]
    },
    {
      "parameters": {
        "content": "**Setup**\n\n1. In Pinecone, create a vector database. Set **Dimensions** to `3072` and **Metric** to `cosine`. You can use the free starter plan.\n2. In the Pinecone node, set your credentials.\n3. Select your Pinecone index.",
        "height": 381.3701016273242,
        "width": 304.1011298750183,
        "color": 2
      },
      "id": "e8e61479-1d00-40e7-b1f9-3e40d4cdd538",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2456.703373323493,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Next steps\n\nLearn more about [Advanced AI in n8n](https://docs.n8n.io/advanced-ai/)",
        "width": 331.8066536811489
      },
      "id": "be93b41d-94e1-4ff7-8b8f-4c317f1603ce",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2776.703373323493,
        1260
      ]
    },
    {
      "parameters": {
        "content": "**Set your credentials**",
        "height": 206.68134932939768,
        "width": 182.42633582707612,
        "color": 2
      },
      "id": "50baecf0-af4e-4377-a943-cb4b4506d82a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336.703373323493,
        980
      ]
    },
    {
      "parameters": {
        "content": "**Set your credentials**",
        "height": 184.89671964234537,
        "width": 173.09006596119673,
        "color": 2
      },
      "id": "4644759f-b6bd-456a-a6c6-84ed294c8275",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        947.59568816702,
        1600.2285847094058
      ]
    },
    {
      "parameters": {
        "content": "**Set your credentials**",
        "height": 192.67694453057842,
        "width": 221.3274602682409,
        "color": 2
      },
      "id": "213f9ba2-1933-4650-9f0a-e56c0d0b742f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456.703373323493,
        1960
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "debs-test",
          "mode": "list",
          "cachedResultName": "debs-test"
        },
        "options": {
          "pineconeNamespace": "test-web-scraper"
        }
      },
      "id": "83152633-7ef4-4292-b5f9-a4869fd9cb60",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1336.703373323493,
        1820
      ]
    },
    {
      "parameters": {
        "content": "**Set your credentials**\n\n**Select your Pinecone index***",
        "width": 367.59568816702017,
        "color": 2
      },
      "id": "385c5312-555b-476c-a4ee-09735e303ee8",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1236.703373323493,
        1740
      ]
    },
    {
      "parameters": {},
      "id": "d6b0eeee-6608-42c9-a189-cc43d18eac85",
      "name": "Start the workflow by clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        616.703373323493,
        720
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".md-content",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "id": "1e6742c5-2866-4a23-b50a-845a6bcb2db5",
      "name": "Extract main content",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1936.703373323493,
        720
      ]
    },
    {
      "parameters": {
        "content": "**Batch the calls to the website**\n\nFor the small demo website in this example, this is not essential. If you want to use this example with a larger website, batching like this helps avoid timeouts. Using the Wait node between batches avoids hitting the website with too many requests too fast.",
        "height": 298.48800301054644,
        "width": 316.2462039046831,
        "color": 5
      },
      "id": "359c04df-d1d8-4a93-b56d-5becc98a4a22",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1096.703373323493,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## How to scrape a different website\n\nThis workflow uses a small example website provided by n8n. To use a different site:\n\n1. Change the sitemap URL in **Get sitemap**.\n2. Update **Extract main content** according to the HTML structure of the website you're scraping.",
        "height": 356.06166718347
      },
      "id": "ba9bf5a2-7c59-4368-81b6-fe342d9969a6",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        276.703373323493,
        940
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {},
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "test-web-scraper"
        }
      },
      "id": "3473e59f-7ecf-48b2-b549-1f4177363830",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2480,
        720
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Extract main content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get pages listed in the sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sitemap": {
      "main": [
        [
          {
            "node": "Turn XML sitemap into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn XML sitemap into JSON": {
      "main": [
        [
          {
            "node": "Turn the URL array into multiple items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn the URL array into multiple items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 seconds": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pages listed in the sitemap": {
      "main": [
        [
          {
            "node": "Wait 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Start the workflow by clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Get sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract main content": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c47876e9-e022-40be-88b0-9186fd1b1b5b",
  "meta": {
    "instanceId": "b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f"
  },
  "id": "9zpgJ3RIyvtxqtM7",
  "tags": [
    {
      "createdAt": "2024-09-10T13:40:28.146Z",
      "updatedAt": "2024-09-10T13:40:28.146Z",
      "id": "RGFPzbuzJ3fHIhnF",
      "name": "test"
    }
  ]
}