n8n/workflows/bitbot core.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"search google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"webpage visitor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Todo: add item to wins","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Todo: add item to wins":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"createdAt":"2024-09-23T17:20:23.977Z","id":"WFy5RHV7y9jH9e5J","meta":{"templateCredsSetupCompleted":true},"name":"bitbot core","nodes":[{"parameters":{},"id":"2dd82ea4-6eee-4dba-8527-01c77d300ac9","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[820,380]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"55bf52f2-d389-4eb6-9c4b-11cab93f143d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1020,600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"h2YBHZETiZ8FCPjZ","mode":"list","cachedResultName":"Bitovi Site - Chat"},"options":{}},"id":"c47918cc-3de0-499b-b2c7-a109e2bbf1ac","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2020,180]},{"parameters":{"model":"gpt-4o","options":{}},"id":"1768f171-abbd-49ea-9bb9-daa12b2b2f73","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2040,680],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"088d51c6-a233-4b4e-94d9-72218a23ad93","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[2140,880]},{"parameters":{"name":"GoogleSearch","description":"use this tool to search google","workflowId":{"__rl":true,"value":"dOywinckKJomWxPe","mode":"list","cachedResultName":"Custom Google Search tool"},"fields":{"values":[{"name":"return_items","type":"booleanValue"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"the query to use for the google search\"\n\t\t}\n\t}\n}"},"id":"356522dd-b728-4550-92b5-84a14e5d2ed8","name":"search google","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2380,680]},{"parameters":{"name":"WebVisitor","description":"Use this tool to read webpages","workflowId":{"__rl":true,"value":"UD8JVjq3vPhmYWjf","mode":"list","cachedResultName":"Website Visitor Summarizer"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"query\": {\n    \"url\": \"https://www.google.com/url?q=https://www.eventbrite.com/o/bu-spark-13250579290\"\n  }\n}"},"id":"06ba4f83-9a6a-42d3-995c-55d0436d3ae4","name":"webpage visitor","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2240,680]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"sessionId\": \"{{ $now.toSeconds()}}\",\n    \"action\": \"sendMessage\",\n    \"chatInput\": \"{{ $json.query }}\"\n}","options":{}},"id":"8223bd8c-44ec-468c-8608-140816d36618","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,460]},{"parameters":{},"id":"4eaa0a8b-fb74-4b87-825a-7ae2e3513edc","name":"Todo: add item to wins","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1940,1140]},{"parameters":{},"id":"7932c7e2-0fbb-4fa5-9231-2647821d54c2","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1940,1380]},{"parameters":{"inputText":"={{ $json.query }}","categories":{"categories":[{"category":"knowledgebase_lookup","description":"simple question that can be answered from bitovi's knowledgebase"},{"category":"other","description":"If an appropriate classification cannot be found, use 'other'. do not use other unless there are no other classifications found"},{"category":"wins","description":"add an item to the wins document.  when people do cool, awesome, or amazing things. it goes in the wins.  also, if there are any #wins hashtags in the content, it's a win."},{"category":"Check availability","description":"need to check about availability"}]},"options":{"multiClass":false,"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"2b023848-b733-43be-9054-830809afbd20","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1020,380]},{"parameters":{"promptType":"define","text":"=You've received a query that could not be classified into existing categories or handled by the current knowledgebase. Your task is to search the internet for relevant and accurate information to address the query.\n\nPlease do the following:\n\nUnderstand the context and specifics of the user's query.\nSearch and review multiple reputable websites to gather information that directly addresses the query.\nRead through the content of those sites to develop a thorough understanding of the subject.\nSummarize the findings clearly and concisely.\nInclude citations or references from the websites you consulted, ensuring the information is verifiable.\nEnsure your response is factual, helpful, and directly addresses the user's request.\n\nHere is the query: {{ $json.chatInput }}","options":{}},"id":"49ffe8c9-25e3-4c5f-ad2d-824c354c555d","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2040,460]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Todo: add to wins\"\n}\n","options":{}},"id":"dac58009-b504-4d1c-91cc-4eaabd576b4a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,1140]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"ToDo: check availability\"\n}\n","options":{}},"id":"1e8ce156-cdc3-40e9-a5b2-d22fcebd7a38","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2120,1380]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"check out this awesome thing kyle did!"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-23T17:20:23.977Z","updatedAt":"2024-09-23T17:20:23.977Z","role":"workflow:owner","workflowId":"WFy5RHV7y9jH9e5J","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2024-09-23T20:50:14.450Z","versionId":"71d2fb9b-589b-4f80-9211-03f177cfff96"}