n8n/workflows/bitbot core.json
{"active":false,"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"search google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"webpage visitor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Todo: add item to wins":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"vectorize thread","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"vectorize thread","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"vectorize thread1","type":"ai_embedding","index":0}]]},"Wait":{"main":[[{"node":"vectorize thread1","type":"main","index":0}]]},"vectorize thread":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If - has messages":{"main":[[{"node":"vectorize thread","type":"main","index":0}]]},"Prepare KB lookup inputs":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Prepare slack thread summarizer":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"extract slack link","type":"ai_languageModel","index":0}]]},"extract slack link":{"main":[[{"node":"Prepare slack thread summarizer","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Prepare KB lookup inputs","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Todo: add item to wins","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"extract slack link","type":"main","index":0}]]}},"createdAt":"2024-09-23T17:20:23.977Z","id":"WFy5RHV7y9jH9e5J","meta":{"templateCredsSetupCompleted":true},"name":"bitbot core","nodes":[{"parameters":{},"id":"2dd82ea4-6eee-4dba-8527-01c77d300ac9","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1940,380]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"55bf52f2-d389-4eb6-9c4b-11cab93f143d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2520,600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"h2YBHZETiZ8FCPjZ","mode":"list","cachedResultName":"Bitovi Site - Chat"},"options":{}},"id":"c47918cc-3de0-499b-b2c7-a109e2bbf1ac","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3520,180]},{"parameters":{"model":"gpt-4o","options":{}},"id":"1768f171-abbd-49ea-9bb9-daa12b2b2f73","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3540,680],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"088d51c6-a233-4b4e-94d9-72218a23ad93","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[3640,880]},{"parameters":{"name":"GoogleSearch","description":"use this tool to search google","workflowId":{"__rl":true,"value":"dOywinckKJomWxPe","mode":"list","cachedResultName":"Custom Google Search tool"},"fields":{"values":[{"name":"return_items","type":"booleanValue"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"the query to use for the google search\"\n\t\t}\n\t}\n}"},"id":"356522dd-b728-4550-92b5-84a14e5d2ed8","name":"search google","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3880,680]},{"parameters":{"name":"WebVisitor","description":"Use this tool to read webpages","workflowId":{"__rl":true,"value":"UD8JVjq3vPhmYWjf","mode":"list","cachedResultName":"Website Visitor Summarizer"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"url\": \"https://www.google.com/url?q=https://www.eventbrite.com/o/bu-spark-13250579290\"\n}"},"id":"06ba4f83-9a6a-42d3-995c-55d0436d3ae4","name":"webpage visitor","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3740,680]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"sessionId\": \"{{ $now.toSeconds()}}\",\n    \"action\": \"sendMessage\",\n    \"chatInput\": \"{{ $json.query }}\"\n}","options":{}},"id":"8223bd8c-44ec-468c-8608-140816d36618","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,460]},{"parameters":{},"id":"4eaa0a8b-fb74-4b87-825a-7ae2e3513edc","name":"Todo: add item to wins","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3440,1140]},{"parameters":{},"id":"7932c7e2-0fbb-4fa5-9231-2647821d54c2","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3440,1380]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Todo: add to wins\"\n}\n","options":{}},"id":"dac58009-b504-4d1c-91cc-4eaabd576b4a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3660,1140]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"ToDo: check availability\"\n}\n","options":{}},"id":"1e8ce156-cdc3-40e9-a5b2-d22fcebd7a38","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3620,1380]},{"parameters":{"assignments":{"assignments":[{"id":"58eec8c9-77dc-454a-971c-8c1c13ab86ce","name":"vector_store_id","value":"bitbot_core","type":"string"}]},"options":{}},"id":"a146de92-ea18-4456-86b6-44080f80e541","name":"Globals","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,380]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"476a6c09-e3f0-4f43-9793-0e726aa1d6ea","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[4220,-500],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={ \"messages\": [{{ $('Execute Workflow Trigger').first().json.messages }}] }","options":{}},"id":"265b12e9-6f97-4b69-90ff-818296d644bb","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4420,-500]},{"parameters":{"options":{}},"id":"64c631be-dacf-4e75-95b2-e8d34bbdd00f","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[4420,-360]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"fdefd9e5-e293-4291-ad4f-d5c7cceb4a42","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[4880,-500],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"amount":3},"id":"34cbf87d-367d-42f1-8c25-819b5a1b415e","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4600,-720],"webhookId":"f2f097cb-bff8-416e-a811-cfc1ef5e6d6a"},{"parameters":{"mode":"insert","memoryKey":"={{ $('Globals').item.json.vector_store_id }}","clearStore":true},"id":"089d5209-2037-4164-9d06-803675052a3b","name":"vectorize thread","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[4220,-720]},{"parameters":{"mode":"load","memoryKey":"={{ $('Globals').item.json.vector_store_id }}","prompt":"summarize messages"},"id":"f87b52c2-b60f-41ad-802a-33b7549f02b1","name":"vectorize thread1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[4860,-720]},{"parameters":{"content":"## Inline vectorizor logic","height":599.622356474807,"width":1415.7342091768091},"id":"6ad24cca-3d21-4513-94ae-f4c66cc27611","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3860,-800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8a9c6fbb-704e-49bd-a1c8-4521b57a3c58","leftValue":"={{ $('Execute Workflow Trigger').item.json.messages }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b6784f0-9cdd-4c51-81c6-e84fd699388d","name":"If - has messages","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[3920,-680]},{"parameters":{"assignments":{"assignments":[{"id":"fe265f73-f120-40c0-b998-a2d936f1edd6","name":"query","value":"={{ $('Execute Workflow Trigger').item.json.query }}","type":"string"},{"id":"265dde6e-4831-417c-8a8c-a2b9747b64b6","name":"chat_history","value":"={{ $('Execute Workflow Trigger').item.json.chat_history }}","type":"array"}]},"options":{}},"id":"3903b921-8dcc-40f5-be42-931cd46bbecc","name":"Prepare KB lookup inputs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3300,180]},{"parameters":{"promptType":"define","text":"=You've received a query that could not be classified into existing categories or handled by the current knowledgebase. Your task is to search the internet for relevant and accurate information to address the query.\n\nPlease do the following:\n\n- Understand the context and specifics of the user's query.\n- Search and review multiple reputable websites to gather information that directly addresses the query.\n- Read through the content of those sites to develop a thorough understanding of the subject.\n- Summarize the findings clearly and concisely.\n- Include citations or references from the websites you consulted, ensuring the information is verifiable.\n- Ensure your response is factual, helpful, and directly addresses the user's request.\n\nIf you feel you do not have enough information to query, respond with a question for the user to answer.\n\n--- chat_history\n{{ $('Execute Workflow Trigger').item.json.chat_history.toJsonString() }}\n--- end chat_history\n\nHere is the query: {{ $json.chatInput }}","options":{}},"id":"49ffe8c9-25e3-4c5f-ad2d-824c354c555d","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3540,460]},{"parameters":{},"id":"fcc95171-b24d-4fa7-8e42-a75bec1110f8","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3460,1600]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Thread saving coming soon!\"\n}\n","options":{}},"id":"47d0f398-24c1-47a5-8e28-88416797f1ad","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3640,1600]},{"parameters":{"workflowId":{"__rl":true,"value":"mV6CLUpreOKjezHO","mode":"list","cachedResultName":"Slack Thread summarizer"},"options":{}},"id":"5a404719-9293-4c98-8302-8ea978b86604","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3680,1820]},{"parameters":{"assignments":{"assignments":[{"id":"fe265f73-f120-40c0-b998-a2d936f1edd6","name":"url","value":"={{ $json.output.first_slack_url }}","type":"string"}]},"options":{}},"id":"d53e93c8-9a26-44a0-aead-df3f968b4169","name":"Prepare slack thread summarizer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3460,1820]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"2498e4f1-21d1-4ba1-a771-eb5c084272c8","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3120,2040],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"text":"=Given the following query, extract the urls that begin with 'https://bitovi.slack.com/archives':\n{{ $('Execute Workflow Trigger').item.json.query }}","attributes":{"attributes":[{"name":"first_slack_url","description":"The first encountered slack url","required":true}]},"options":{}},"id":"e562e4c2-018a-4fdd-b8ae-9fa1717798c2","name":"extract slack link","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[3120,1820]},{"parameters":{"assignments":{"assignments":[{"id":"a03ffbbe-386a-4742-9317-71ebc34a0887","name":"output","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"04116ce8-d937-47f3-ae35-63573b1c4e23","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3860,1820]},{"parameters":{"inputText":"=--- Previous messages\n{{ 'chat_history' in $('Execute Workflow Trigger').first().json ? $('Execute Workflow Trigger').first().json.chat_history : \"\" }}\n--- End Previous Messages\n\n--- Query\n{{ $('Execute Workflow Trigger').item.json.query }}\n--- end Query","categories":{"categories":[{"category":"knowledgebase_lookup","description":"simple question that can be answered from bitovi's knowledgebase"},{"category":"other","description":"If an appropriate classification cannot be found, use 'other'. do not use other unless there are no other classifications found"},{"category":"wins","description":"add an item to the wins document.  when people do cool, awesome, or amazing things. it goes in the wins.  also, if there are any #wins hashtags in the content, it's a win."},{"category":"Check availability","description":"need to check about availability"},{"category":"save_thread","description":"Save a thread for later processing"},{"category":"summarize_slack_thread","description":"Summarize a given slack thread. only do this if the intent of the last message is to look at a slack url. only do this if the last message has a slack url."}]},"options":{"multiClass":true,"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"2b023848-b733-43be-9054-830809afbd20","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[2520,380]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"Please summarize this thread: https://bitovi.slack.com/archives/C07JG5Q62TV/p1727276524545819"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-23T17:20:23.977Z","updatedAt":"2024-09-23T17:20:23.977Z","role":"workflow:owner","workflowId":"WFy5RHV7y9jH9e5J","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2024-09-25T20:44:07.291Z","versionId":"469b80c2-a55e-409a-b15a-f0346514d33f"}