n8n/workflows/BitBot Slack interactive element Handler.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"If approval or reject","type":"main","index":0}]]},"If approval or reject":{"main":[[{"node":"call action url","type":"main","index":0}],[{"node":"Handle other interactive elements","type":"main","index":0}]]}},"createdAt":"2024-10-09T01:40:24.379Z","id":"UMIwP7U5jnXuMsIP","meta":{"templateCredsSetupCompleted":true},"name":"BitBot Slack interactive element Handler","nodes":[{"parameters":{},"id":"bc0f0a05-a6e5-45ea-a66f-df02103813e7","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5562ef4b-f149-45dd-b2f7-0dc50f178517","leftValue":"={{ $json.body.payload.actions[0].action_id }}","rightValue":"reject_","operator":{"type":"string","operation":"startsWith"}},{"id":"462887f4-e386-4bef-89f9-beb26f2d5e6c","leftValue":"={{ $json.body.payload.actions[0].action_id }}","rightValue":"approve_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"id":"aa004371-3f0e-4d88-b639-4c368b9a46d6","name":"If approval or reject","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[760,280]},{"parameters":{},"id":"1f1f8507-d424-4c00-81bb-c7a7e4e84467","name":"Handle other interactive elements","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1020,420]},{"parameters":{"method":"POST","url":"={{ $json.body.payload.actions[0].value }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"payload","value":"={{ $json.body.payload }}"}]},"options":{}},"id":"85b32a70-de07-4d4d-9660-be8ba550a77f","name":"call action url","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,120]}],"pinData":{"Execute Workflow Trigger":[{"json":{"body":{"payload":{"type":"block_actions","user":{"id":"U09R4SRNY","username":"mick","name":"mick","team_id":"T02B04353"},"api_app_id":"A07LJUB55KQ","token":"ezIKCpO7Xjff7CWkbSszDbYg","container":{"type":"message","message_ts":"1728438497.956139","channel_id":"C07JG5Q62TV","is_ephemeral":false},"trigger_id":"7863568167745.2374139173.286996cf19ad377fceff2d51f2742cb1","team":{"id":"T02B04353","domain":"bitovi"},"enterprise":null,"is_enterprise_install":false,"channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"message":{"user":"U07LRJTD84A","type":"message","ts":"1728438497.956139","bot_id":"B07MECJNLEL","app_id":"A07LJUB55KQ","text":"testing approval flow: <https://n8n.bitovi-ai.com/webhook-waiting/85577>","team":"T02B04353","blocks":[{"type":"section","block_id":"5vmRl","text":{"type":"mrkdwn","text":"You have a new approval request.","verbatim":false}},{"type":"actions","block_id":"ibfrT","elements":[{"type":"button","action_id":"approve_85577","text":{"type":"plain_text","text":"Approve","emoji":true},"style":"primary","value":"https://n8n.bitovi-ai.com/webhook-waiting/85577"},{"type":"button","action_id":"reject_85577","text":{"type":"plain_text","text":"Reject","emoji":true},"style":"danger","value":"https://n8n.bitovi-ai.com/webhook-waiting/85577"}]}]},"state":{"values":{}},"response_url":"https://hooks.slack.com/actions/T02B04353/7873678369504/v0OdmJxUGD8vzebsQWootJ8S","actions":[{"action_id":"approve_85577","block_id":"ibfrT","text":{"type":"plain_text","text":"Approve","emoji":true},"value":"https://n8n.bitovi-ai.com/webhook-waiting/85577","style":"primary","type":"button","action_ts":"1728438506.402039"}]}}}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-09T01:40:24.379Z","updatedAt":"2024-10-09T01:40:24.379Z","role":"workflow:owner","workflowId":"UMIwP7U5jnXuMsIP","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-17T17:53:51.618Z","updatedAt":"2024-09-17T17:53:51.618Z","id":"lSkJNcLELDjPq2JK","name":"Slack"}],"triggerCount":0,"updatedAt":"2024-10-09T02:32:30.521Z","versionId":"a3734eaa-6a41-4513-953c-940617a3b102"}