n8n/workflows/Bitovi Site - Chat.json
{"active":false,"connections":{"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Knowledgebase with sources":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"createdAt":"2024-09-12T16:50:00.441Z","id":"h2YBHZETiZ8FCPjZ","meta":{"templateCredsSetupCompleted":true},"name":"Bitovi Site - Chat","nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"48d3646c-aa58-41f0-b429-c0540f2e4bae","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2900,-140],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"name":"knowledgebase","description":"Call this tool to find information about your knowledge base.  it should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"AtkApSEqjAGA7NKT","mode":"list","cachedResultName":"KB with sources tool - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot-webcrawl-bitovi"},{"name":"pineconeNamespace","stringValue":"bitovi-site"}]}},"id":"d630ba39-e43b-462a-a5ac-58eb6b3c9166","name":"Knowledgebase with sources","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3320,-160]},{"parameters":{"contextWindowLength":10},"id":"b37f9221-9133-4ec4-9f69-1a00df12068c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[3160,-140]},{"parameters":{},"id":"71683d87-9978-48c1-8dd4-2cd399eabb84","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[2200,-180]},{"parameters":{},"id":"20bf6b67-e695-4762-a443-9455fac72755","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[2260,-420],"webhookId":"2f2abee9-26b8-4b4e-8004-d50c82e3321c"},{"parameters":{"assignments":{"assignments":[{"id":"e00c38e5-8f19-40a2-bfdd-269248f1f3a9","name":"sessionId","value":"={{ $now.toSeconds() }}","type":"string"},{"id":"f0b7f31a-b11f-418c-835c-397df0d5aebe","name":"action","value":"sendMessage","type":"string"},{"id":"293477f9-25c7-435b-82a3-1bae2235b393","name":"chatInput","value":"={{ $json.query }}","type":"string"},{"id":"c5199c98-243d-4067-8ee5-83f067747978","name":"chat_history","value":"={{ $json.chat_history }}","type":"array"}]},"options":{}},"id":"a02a1c07-44d0-4ae7-93ce-0ab12a7190c6","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2600,-260]},{"parameters":{"promptType":"define","text":"=You are an information retrieval agent tasked with retrieving accurate and reliable data exclusively from a specified knowledgebase. Your primary responsibilities are:\n\n1) Retrieve First: Always prioritize going directly to the knowledgebase for data before providing any response.\n\n2) Cite Sources: Every response must include detailed citations from the knowledgebase, including URLs, specific articles, document titles, page numbers, or section references. If the knowledgebase does not include exact page numbers, include document titles and section headings where the information is found.\n\n3) No Guessing or External Information: Do not provide data that is not explicitly found in the knowledgebase. If the knowledgebase does not contain the requested information, respond with a clear indication that the data is unavailable from the source.\n\n4) Formatting Citations: When citing, format each citation with the following structure: [heading](url), Page Number or Specific Location, Date if applicable). If the knowledgebase uses a different citation format, follow that standard instead.\n\nExample response format: \"According to the 'Product Specifications' section of the [Knowledgebase Reference Guide](https://foo.com], the widget operates at 500 MHz (Page 23, 2024).\"\n\nYour primary focus is on precision and verifiable information, sourced directly from the knowledgebase at all times.\n\nHere is the chat history (if applicable):\n--- Chat history\n{{ $json.chat_history.toJsonString() }}\n--- end Chat history\n\nAnswer this query:\n---\n{{ $json.chatInput }}\n---","options":{}},"id":"0f99f013-b1f5-4089-91fd-cba56fc3f2fc","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2900,-420]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"what is bitops?","chat_history":["**User U09R4SRNY:**\nwhat is bitops?\n","**Bitbot:**\nI'm looking into it! I have looked!\n","**Bitbot:**\nI'm looking into it!\n","**Bitbot:**\nBitOps refers to a suite of deployment-based actions provided by Bitovi that focuses on enabling developers to manage their infrastructure using GitOps principles. It allows developers to deploy applications or services written in any programming language to various environments, including virtual machines, container orchestrators like Kubernetes, and serverless functions. The approach emphasizes ownership and auditability through git-based infrastructure management.\n\nFor a deeper dive into BitOps, check out the Bitovi blog post titled [BitOps, Yo!](<https://www.bitovi.com/blog/bitops-yo>). Additionally, you can join the Bitovi Community Slack in the #devops channel if you're interested in learning about DevOps practices and collaborating with others.\n\nFor detailed information, visit the [Bitovi DevOps](<https://www.bitovi.com/blog/topic/devops>) page.\n","**Bitbot:**\nI'm looking into it! I have looked!\n","**Bitbot:**\nThe knowledgebase indicates that *bitops* refers to operations conducted in digital computing and programming, typically involving bit manipulation or using bit-level representation in programming languages. Although there wasn't a direct match for *bitops*, the closest relevant information involves services offered by **Bitovi** related to DevOps consulting. Bitovi is a company specializing in various consulting services, which may indirectly involve bitwise operations within their technology solutions.\n\nFor more detailed information on the services Bitovi offers, you can visit their [DevOps Consulting page](<https://www.bitovi.com/services/devops-consulting>). If you have specific questions, they can be contacted directly at <tel:(312)620-0386|(312) 620-0386> or by email at <mailto:contact@bitovi.com|contact@bitovi.com>.\n\n*Sources:*\n- [Bitovi DevOps Consulting](<https://www.bitovi.com/services/devops-consulting>)\n- [Bitovi Homepage](<https://www.bitovi.com>)\n"]}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-12T16:50:00.441Z","updatedAt":"2024-09-12T16:50:00.441Z","role":"workflow:owner","workflowId":"h2YBHZETiZ8FCPjZ","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-12T16:50:07.434Z","updatedAt":"2024-09-12T16:50:07.434Z","id":"JXp31F6xOBgqTVEU","name":"ChatBot"}],"triggerCount":2,"updatedAt":"2024-09-25T14:39:26.568Z","versionId":"0d6f9f5c-40d2-48ad-8543-b5bfbf501d78"}