n8n/workflows/Bitovi Site - Vectorize Pinecone.json
{"active":false,"connections":{"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]},"Get sitemap":{"main":[[{"node":"Turn XML sitemap into JSON","type":"main","index":0}]]},"Turn XML sitemap into JSON":{"main":[[{"node":"Turn the URL array into multiple items","type":"main","index":0}]]},"Turn the URL array into multiple items":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Start the workflow by clicking \"Test workflow\"":{"main":[[{"node":"pinecone_vars","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store3","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Pinecone Vector Store3","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Pinecone Vector Store4","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Knowledgebase with sources":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"pinecone_vars":{"main":[[{"node":"Get sitemap","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Get existing docs","type":"ai_embedding","index":0}]]},"if no results":{"main":[[{"node":"Get page content","type":"main","index":0}],[{"node":"TODO: update?","type":"main","index":0}]]},"Get page content":{"main":[[{"node":"Extract main content","type":"main","index":0}]]},"Pinecone Vector Store1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code":{"main":[[{"node":"if no results","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Get existing docs","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get existing docs":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract main content":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"TODO: update?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"createdAt":"2024-09-12T15:56:26.673Z","id":"nngeI2fDq8u0VFdN","meta":{"templateCredsSetupCompleted":true},"name":"Bitovi Site - Vectorize Pinecone","nodes":[{"parameters":{"options":{}},"id":"d4659371-8b56-443f-b555-86138cfff8e4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,-140],"alwaysOutputData":false},{"parameters":{"url":"https://bitovi.com/sitemap.xml","options":{}},"id":"aaa0a85c-f539-4b07-ada8-ddefff7fd584","name":"Get sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1480,-140]},{"parameters":{"options":{"explicitRoot":false,"ignoreAttrs":true}},"id":"ff7f035a-a3d9-4012-b932-071e8b52cf38","name":"Turn XML sitemap into JSON","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-1180,-140]},{"parameters":{"fieldToSplitOut":"url","options":{}},"id":"c1b8bce4-6376-427c-94fa-72ac97fd1001","name":"Turn the URL array into multiple items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1020,-140]},{"parameters":{},"id":"e88bce79-ab92-494c-8f73-49c1d459dee6","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[4840,-80],"webhookId":"c577b219-017d-44ba-ba60-2ba12b388159"},{"parameters":{"content":"# Data Extraction","height":148.39293953612835,"width":686.5482593225104,"color":7},"id":"82a61346-5093-4443-bae9-27fb67004dcd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2181,-380]},{"parameters":{},"id":"ebde3e69-4c2a-4a62-94c0-480938b56c46","name":"Start the workflow by clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1940,-140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e403cb87-3264-48eb-aabd-0f53c72e1bef","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[3980,440],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"url","value":"={{ $json.metadata.url }}"},{"name":"last_modified","value":"={{ $json.metadata.last_modified }}"}]}}},"id":"7ccb076f-e72a-42a8-be05-096688d85031","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4100,300]},{"parameters":{"chunkOverlap":500,"options":{"splitCode":"markdown"}},"id":"3f769e9a-9468-4cbf-b09a-93f168e13a1a","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[4120,440]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"a597a5dc-23aa-47dd-b5a1-ca78be583a88","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[5900,880],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"0a5a9099-40b2-4f40-97b7-10990e215923","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[6020,880]},{"parameters":{"options":{"splitCode":"html"}},"id":"36a2a2d1-1182-4cc7-bf33-d28a7f1946bb","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[6140,1100]},{"parameters":{"content":"## Clear vector store","height":689.7364920034024,"width":854.8232806294188,"color":3},"id":"3d688e27-3eaa-4235-87cc-77468cbcb568","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5560,560]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"content\": [\"clear\"]\n}\n","options":{}},"id":"5f38c76a-c3be-4de0-af40-76a8850f0b4f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5640,640]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e2b11276-cff9-46f1-b7e4-18dff04b6484","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[5020,1000],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"content":"# Chat with the site data","height":691.5405887901464,"width":691.2156542891212,"color":5},"id":"7f3d26ab-19e4-4313-a671-a8971aa071e8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4740,-220]},{"parameters":{"content":"Vector Store Test","height":530.7137536093713,"width":533.529232147323,"color":7},"id":"9c1c6cba-6026-4a0d-b06b-1dc877b49a79","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4840,640]},{"parameters":{"model":"gpt-4o","options":{}},"id":"95a06af5-c900-479f-9de4-9fe96822fe08","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5020,200],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"name":"knowledgebase","description":"Call this tool to find information about your knowledge base.  it should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"AtkApSEqjAGA7NKT","mode":"list","cachedResultName":"KB with sources tool - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot-webcrawl-bitovi"},{"name":"pineconeNamespace","stringValue":"bitovi-site"}]}},"id":"0b5a753c-f344-4a78-81b2-6945268d814b","name":"Knowledgebase with sources","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[5240,200]},{"parameters":{"promptType":"define","text":"=You are an information retrieval agent tasked with retrieving accurate and reliable data exclusively from a specified knowledgebase. Your primary responsibilities are:\n\n1) Retrieve First: Always prioritize going directly to the knowledgebase for data before providing any response.\n\n2) Cite Sources: Every response must include detailed citations from the knowledgebase, including URLs, specific articles, document titles, page numbers, or section references. If the knowledgebase does not include exact page numbers, include document titles and section headings where the information is found.\n\n3) No Guessing or External Information: Do not provide data that is not explicitly found in the knowledgebase. If the knowledgebase does not contain the requested information, respond with a clear indication that the data is unavailable from the source.\n\n4) Formatting Citations: When citing, format each citation with the following structure: [heading](url), Page Number or Specific Location, Date if applicable). If the knowledgebase uses a different citation format, follow that standard instead.\n\nExample response format: \"According to the 'Product Specifications' section of the [Knowledgebase Reference Guide](https://foo.com], the widget operates at 500 MHz (Page 23, 2024).\"\n\nYour primary focus is on precision and verifiable information, sourced directly from the knowledgebase at all times.\n\nAnswer this query:\n---\n{{ $json.chatInput }}\n---","options":{}},"id":"cd2993d2-ed0a-49da-9d52-e1740f5af746","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[5020,-80]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"namespace\": \"bitovi-site\",\n  \"index\": \"bitbot-webcrawl-bitovi\"\n}\n","options":{}},"id":"559d3bf0-0649-43e4-b875-3012cddcfc75","name":"pinecone_vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,-140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"cb90fc89-1b7e-4a36-8f3c-112ec0bce699","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1020,80],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"86a35433-7d8a-473a-8f12-16386844b63d","leftValue":"={{ $json.url_exists_in_store }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4f5f9be5-07ed-4fc2-ae22-b61a2166fa44","name":"if no results","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1900,80]},{"parameters":{"url":"={{ $json.url_to_check }}","options":{}},"id":"65acbc86-a003-4d5d-bff5-a1ee93fc52d8","name":"Get page content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-20]},{"parameters":{},"id":"5e5cb06a-6047-44aa-af43-e619e936253f","name":"TODO: update?","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2220,420]},{"parameters":{"options":{}},"id":"c087c3f0-6c96-45a2-913c-f4aed872fa6a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-420]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"options":{"pineconeNamespace":"bitovi-site"}},"id":"3a1dd171-51ba-4b28-bce0-0e95da633636","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[4020,80],"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"options":{"clearNamespace":true,"pineconeNamespace":"bitovi-site"}},"id":"79ac02e0-5812-4353-a958-e7582517cb36","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[5980,620],"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}}},{"parameters":{"jsCode":"let all_items = $input.all();\nlet loop_item = all_items.pop();\n\n\nconsole.log(\"all_items\")\nconsole.log(all_items)\nconsole.log(\"loop_item\")\nconsole.log(loop_item)\nlet hasItems = false;\nall_items.forEach(item => {\n  if(item.json.document.metadata.url == loop_item.json.loc){\n    hasItems = true;\n  }\n});\n\nreturn { \n  \"url_exists_in_store\": hasItems,\n  \"url_to_check\": loop_item.json.loc\n};"},"id":"3f9c2313-09a5-40b1-a08e-12769e143c17","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,340]},{"parameters":{"assignments":{"assignments":[{"id":"6cf2edba-1ce3-4f9e-975d-7084b2c8267c","name":"loc","value":"={{ $json.loc }}","type":"string"},{"id":"36c3e7fb-b74b-4873-8020-57d1c19ac2ff","name":"lastmod","value":"={{ $json.lastmod }}","type":"string"}]},"options":{}},"id":"32c126af-242c-457a-a9fb-646285fb224a","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-40]},{"parameters":{},"id":"13fee6a0-2a40-4834-8b87-a1019961b226","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,360]},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"prompt":"vue","options":{"pineconeNamespace":"bitovi-site"}},"id":"2faf012f-7595-45a9-ad30-293581cfb8f1","name":"Pinecone Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[4980,720],"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}}},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"={{ $('pinecone_vars').item.json.index }}","mode":"id"},"prompt":"={{ $json.loc }}","options":{"pineconeNamespace":"={{ $('pinecone_vars').item.json.namespace }}"}},"id":"e9635213-1a5e-45cb-be05-70ec9e7995ec","name":"Get existing docs","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1000,-80],"alwaysOutputData":true,"retryOnFail":true,"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"lastmod","order":"descending"}]},"options":{}},"id":"13cb7f4d-a8b3-4e8f-ace0-e8b5b564be08","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-800,-140]},{"parameters":{"amount":1},"id":"bb4c6322-2a34-406f-8f6a-a132312ad8e6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4580,500],"webhookId":"4ba15ce4-e7a2-4bf4-b34f-27c0d4f3c8d9"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".body-container,.blog-post,main","returnValue":"html"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"0bd7e729-a063-484c-a874-afa689414b7b","name":"Extract main content","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2360,-20]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"54cc534f-92c6-45c1-b06b-87899a87be38","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"247c30cb-2c89-4b51-b1d8-b45372971004","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[2620,-40]},{"parameters":{"html":"={{ $json.content }}","destinationKey":"md","options":{"ignore":"footer"}},"id":"e9b05b7d-56eb-4770-aa4f-eca95aff5368","name":"Markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[3340,-180]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"content\": \"\"\n}\n","options":{}},"id":"4e23c5a5-d3d1-42c3-a3ca-7465ffab0460","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2860,60]},{"parameters":{"jsCode":"const url = $input.first().json.loc;\nconst lastmod = $input.first().json.lastmod;\nconst md = $input.last().json.md;\n\nlet newContent = `\n--- Chunk Metadata\nlocation(aka: url): ${url}\nlastmod (aka: last_modified): ${lastmod}\n--- End Chunk Metadata\n${md}\n`\n\nreturn [{ \"json\": { \n  \"content\": newContent,\n  \"metadata\": {\n    \"url\": url,\n    \"last_modified\": lastmod\n  }\n} }];"},"id":"d58cf79f-41a2-44f0-bc83-3b3532635b7a","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3820,-380]},{"parameters":{"mode":"combine","fieldsToMatchString":"foo","joinMode":"keepEverything","options":{}},"id":"2522e43b-fa13-45c2-8415-20dd051c6e33","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3620,-380]},{"parameters":{"maxItems":500},"id":"094e41f4-3a07-427d-85d6-973e93243a1e","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-520,-140]}],"pinData":{"Turn the URL array into multiple items":[{"json":{"loc":"https://www.bitovi.com/blog/collection-of-vue-macros-in-vue.js-3.3","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/slimming-down-steal","lastmod":"2017-12-14"}},{"json":{"loc":"https://www.bitovi.com/academy/compressparameters.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/modlet-workflows","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/comparing-schema-validation-libraries-ajv-joi-yup-and-zod","lastmod":"2024-08-06"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-2-2-6-released","lastmod":"2016-09-30"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/storing-state.html","lastmod":"2024-05-11"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/building-order-form.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/making-http-requests.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-generalize-component-props-with-type-safety","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/conflict-free-leadership-roles-goals-expectations","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/lazy-values-to-speed-up-your-js-app","lastmod":"2017-10-10"}},{"json":{"loc":"https://www.bitovi.com/agile-program-management-training","lastmod":"2024-08-27"}},{"json":{"loc":"https://www.bitovi.com/blog/tips-on-hiring-a-jquery-consultant","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/form-value-changes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/save-the-date-may-2nd-2019-for-our-next-online-meetup","lastmod":"2019-04-09"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/order-service.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript/conditional.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/props.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/heyemoji-slack-app-aws-terraform-ansible","video:video":{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/blogposts/short%20videos/Screen%20Recording%202021-09-14%20at%202.36.17%20PM-1.mov/medium.jpg","video:title":"Screen Recording 2021-09-14 at 2.36.17 PM-1","video:description":"Screen Recording 2021-09-14 at 2.36.17 PM-1","video:content_loc":"https://www.bitovi.com/hubfs/blogposts/short%20videos/Screen%20Recording%202021-09-14%20at%202.36.17%20PM-1.mov","video:duration":"15","video:requires_subscription":"no","video:live":"no"},"lastmod":"2022-12-12"}},{"json":{"loc":"https://www.bitovi.com/blog/are-you-using-enough-white-space-in-your-ui-designs","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/blog/when-should-you-build-your-own-angular-design-system","lastmod":"2023-09-27"}},{"json":{"loc":"https://www.bitovi.com/blog/nextjs-conf-2022-react-roundup","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/user-inputs.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-and-apollo-client-get-started-with-graphql-in-angluar","video:video":{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/Screen%20Recording%202022-08-15%20at%2021.43.53.mov/medium.jpg","video:title":"Screen Recording 2022-08-15 at 21.43.53","video:description":"Screen Recording 2022-08-15 at 21.43.53","video:content_loc":"https://www.bitovi.com/hubfs/Screen%20Recording%202022-08-15%20at%2021.43.53.mov","video:duration":"30","video:requires_subscription":"no","video:live":"no"},"lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/build-node-app.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/style-guide-driven-development","lastmod":"2021-06-14"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-a-graphql-server-with-nestjs","video:video":{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/Screen%20Recording%202022-08-18%20at%2015.23.09.mov/medium.jpg","video:title":"Screen Recording 2022-08-18 at 15.23.09","video:description":"Screen Recording 2022-08-18 at 15.23.09","video:content_loc":"https://www.bitovi.com/hubfs/Screen%20Recording%202022-08-18%20at%2015.23.09.mov","video:duration":"23","video:requires_subscription":"no","video:live":"no"},"lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/setter-toggle.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/user-testing-from-a-tradeshow-booth","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/classes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/offline-support.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-componentfactoryresolver-can-unlock-powerful-higher-order-components","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/customize-jiras-advanced-planning-tool-for-multiple-teams-projects","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/guerrilla-user-testing-series-wendys-case-study","video:video":[{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/01-Sign_up-1.mp4/medium.jpg","video:title":"01-Sign_up-1","video:description":"01-Sign_up-1","video:content_loc":"https://www.bitovi.com/hubfs/01-Sign_up-1.mp4","video:duration":"15","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/interview2-sm.mp4/medium.jpg","video:title":"interview2-sm","video:description":"interview2-sm","video:content_loc":"https://www.bitovi.com/hubfs/interview2-sm.mp4","video:duration":"47","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/03-add.mp4/medium.jpg","video:title":"03-add","video:description":"03-add","video:content_loc":"https://www.bitovi.com/hubfs/03-add.mp4","video:duration":"15","video:requires_subscription":"no","video:live":"no"}],"lastmod":"2023-09-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/10-best-practices-usability-testing-within-agile-teams","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/getting-started-with-bitops-v2-terraform","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/conflict-free-leadership-value-of-retrospectives","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/getting-started-with-rxjs-observables","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/services/backend-engineering-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/connection-list.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-storybook-to-github-pages-with-github-actions","lastmod":"2024-05-30"}},{"json":{"loc":"https://www.bitovi.com/blog/aws-secrets-manager-devops","lastmod":"2023-09-28"}},{"json":{"loc":"https://www.bitovi.com/blog/13-things-an-angular-consultant-needs-to-know-to-be-successful","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/team-by-team-pi-planning-with-the-jira-capacity-report","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/adding-routing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/join-us-thursday-march-21st-for-our-online-meetup-on-react-hooks-webrtc-ux-for-devs-and-conference-speaking","lastmod":"2019-03-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/what-is-docker.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/rfc-strictly-typed-reactive-forms-gotchas-every-angular-developer-needs-to-know","lastmod":"2023-09-27"}},{"json":{"loc":"https://www.bitovi.com/frontend-javascript-consulting/angular-consulting","lastmod":"2023-01-27"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/connection-destroy.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/intro-to-jsx.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/create-reusable-components-for-your-donejs-applications","lastmod":"2016-11-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/slotted-content.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/designing-a-mobile-ecommerce-navigation","lastmod":"2021-05-04"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/creating-pipes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/template-literal-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-element-attributes-and-properties","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/the-on-going-benefits-of-having-a-ux-designer","lastmod":"2021-04-30"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-design-with-accessibility-in-mind","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/review-buddies-pair-programming-for-the-rest-of-us","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-4-show-more-with-range","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/side-effects.html","lastmod":"2024-02-10"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-recognize-your-team-without-spending-money","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-stealjs","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/february-2017-donejs-community-update","lastmod":"2017-03-03"}},{"json":{"loc":"https://www.bitovi.com/blog/level-up-your-react-game-with-remix-prisma-supabase-postgres-db","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/nested-routes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/conditional-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/building-custom-components.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/advanced-data-processing-with-jinja2-and-stackstorm","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/react-architecture-tips-and-tricks","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/events-part-1.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/jira-acount-setup.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/5-essential-tips-to-improve-angular-app-performance","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/community","lastmod":"2019-03-06"}},{"json":{"loc":"https://www.bitovi.com/blog/donejs-2.0","lastmod":"2018-03-08"}},{"json":{"loc":"https://www.bitovi.com/services/training/angular","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/cicd-pipelines-use-cases-everything-devops-consulting-has-taught-me","lastmod":"2024-05-31"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-docker-to-ec2-root-domain-deploy","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/building.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-consulting-pipeline-runners","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/8-topics-every-nodejs-microservice-developer-should-know","lastmod":"2021-09-01"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-package-and-modlet-workflows","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-building-a-tabs-widget","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-upgrade-a-donejs-plugin-to-canjs-3","lastmod":"2016-12-21"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovi-hoops-for-heart-with-the-american-stroke-association","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/user-experience-research","lastmod":"2019-09-26"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/react-consulting/micro-frontends","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/react-everywhere-with-vite-and-react-to-webcomponent","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/faster-page-loads-how-to-use-ndjson-to-stream-api-responses","lastmod":"2018-12-04"}},{"json":{"loc":"https://www.bitovi.com/blog/ie-11-and-angular-overview.html","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-choose-the-right-cms-traditional-decoupled-headless","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/creating-a-javascript-project-checklist","lastmod":"2021-10-29"}},{"json":{"loc":"https://www.bitovi.com/blog/stealjs-1.0-release","lastmod":"2016-12-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/clean-card-number.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/front-end/theory.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/4-values-make-design-team-different","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/build-a-data-pipeline-using-kafka-and-kafka-connect","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/meet-dylan-lundquist","lastmod":"2023-09-25"}},{"json":{"loc":"https://www.bitovi.com/blog/server-side-rendering-without-compromises","lastmod":"2018-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-build-a-design-system","lastmod":"2023-09-22"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-finding-elements-in-the-dom","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/angular-consulting/angular-micro-frontends","lastmod":"2022-02-09"}},{"json":{"loc":"https://www.bitovi.com/blog/ten-commandments-of-software-engineering","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/graphql-everything-you-need-to-know-with-code-examples","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/privacy","lastmod":"2016-07-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/continuous-exploration.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/managing-state.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/en/devops-consulting","lastmod":"2022-10-11"}},{"json":{"loc":"https://www.bitovi.com/services/devops-consulting/platform-engineering","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-upgrades-painless-migration-from-tslint-to-eslint","lastmod":"2023-02-22"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/js-comparison.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/value-of-user-experience","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/typescript-4.9-features-and-improvements","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/nodejs","lastmod":"2021-12-08"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/haulhound","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/writing-a-dockerfile.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/services/github-actions-consulting-bitovi","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/about","lastmod":"2023-06-01"}},{"json":{"loc":"https://www.bitovi.com/blog/donejs-release","lastmod":"2016-09-16"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-canjs","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/navigation.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/advancedtypescriptsectioninfo.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/coping-with-stateful-code","lastmod":"2017-09-14"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/listing-routes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/goals.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-services/blockchain-consulting","lastmod":"2019-06-05"}},{"json":{"loc":"https://www.bitovi.com/blog/always-know-when-to-use-share-vs.-sharereplay","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/help-us-improve-canjs-stealjs-and-the-rest-of-the-donejs-family","lastmod":"2017-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/should-you-hire-bitovi-for-jquery-consulting","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/layout.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/quickorder-full-project-architecture","lastmod":"2020-04-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/basics.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/rxjs-with-react-pt-2","lastmod":"2021-08-31"}},{"json":{"loc":"https://www.bitovi.com/blog/intro-to-event-driven-node.js-with-mqtt","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/live-style-guide-documentjs-documentcss","lastmod":"2021-05-03"}},{"json":{"loc":"https://www.bitovi.com/blog/how-node.js-fakes-multithreading","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/algebra.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-graphql/porting-to-prisma.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/toggle-save.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/ideas.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-documentation-overview","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/creating-a-new-app.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/why-your-angular-bundle-is-bloated","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/closures.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/march-2018-donejs-community-update","lastmod":"2018-05-17"}},{"json":{"loc":"https://www.bitovi.com/blog/let-node.js-make-your-coffee-with-mqtt-and-the-internet-of-things","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovis-2016-employee-retreat-phoenix","lastmod":"2018-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-jquery","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-improve-your-angular-e-commerce-application-with-scully","lastmod":"2023-09-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/setting-expectations.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/server-side-rendering-dynamic-routes-in-angular-with-scully","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/organizing-a-jquery-application","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/hashchange-routing-with-can-route-part-2-advanced","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/react-consulting/react-native","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/december-2017-donejs-community-update","lastmod":"2017-12-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/creating-navigation.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/mobile-first-modules","lastmod":"2021-04-26"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-devops","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/ngrx-init.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-graphql/adding-mongodb.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-micro-frontend-architecture-why-use-it","lastmod":"2024-02-09"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/build-and-run-image.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/module-federation-and-angular-service-workers-pwa","lastmod":"2024-02-09"}},{"json":{"loc":"https://www.bitovi.com/blog/5-best-practices-to-simplify-ansible-playbooks","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-v15-directive-composition-api","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/angular-performance-improvement","lastmod":"2020-05-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/classes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/the-case-for-monorepos-how-and-when-to-develop-with-monorepos","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript/property-changes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/hire-better-developers","lastmod":"2017-07-19"}},{"json":{"loc":"https://www.bitovi.com/performance-improvement-case-study-with-webinarninja","lastmod":"2022-05-27"}},{"json":{"loc":"https://www.bitovi.com/blog/more-mocks-mocking-modules-in-vitest","lastmod":"2024-07-15"}},{"json":{"loc":"https://www.bitovi.com/blog/creating-pages-in-a-living-style-guide","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/continuous-exploration-board.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/agile-nodejs-case-study-1","lastmod":"2021-02-23"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/js-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/data-driven-javascript-controls","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/academy/createurl.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/simulate-service-layer.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/nre-labs","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-web-application-architecture","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-debug-server-side-rendering","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/events-part-2.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/3-tips-for-designers-trying-to-get-client-sign-off","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/choosing-the-best-ai-testing-tool-testrigor","lastmod":"2024-08-26"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/security-and-auth.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/functional-utilities.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-2-2-way-mustache-helpers","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/about/jobs","lastmod":"2024-03-14"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/user-interface-design","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/publishing-and-updating.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/why-checklist","lastmod":"2023-04-14"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/dispatching-events.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-14-three-cant-miss-new-features","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/new-in-vue-3.3-two-way-binding-with-definemodel-macro","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/digital-consulting-services","lastmod":"2023-05-18"}},{"json":{"loc":"https://www.bitovi.com/blog/dependency-injection-for-javascript-modules","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/select-a-route.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/interview-with-a-devops-engineer","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/restaurant-service.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/cka-certification-exam-survival-guide","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/tutorial-automate-your-upgrade-to-canjs-3-with-can-migrate","lastmod":"2017-08-15"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovian-nicole-greene-giving-talk-at-women-who-code-san-diego","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/best-practices-for-working-with-svgs","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/when-to-use-the-non-null-assertion-operator-in-angular","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/javascript-consulting-core-principles","lastmod":"2018-02-14"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/declarative-state.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/js-and-jquery-essentials","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-speed-up-your-angular-builds","lastmod":"2024-08-06"}},{"json":{"loc":"https://www.bitovi.com/open-source-javascript-frameworks","lastmod":"2019-03-28"}},{"json":{"loc":"https://www.bitovi.com/blog/3-things-every-product-design-team-needs-in-2023","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/fundamentals-of-relational-database-normalization","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-a-website-roadmap-in-7-steps","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/the-5-tenets-of-legibility-of-ui-design","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/designing-configurable-interfaces","lastmod":"2021-05-03"}},{"json":{"loc":"https://www.bitovi.com/blog/use-localstack-to-build-development-environment-for-serverless-app","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/managing-parallel-design-system-and-app-development","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/blog/april-2017-donejs-community-update","lastmod":"2017-05-08"}},{"json":{"loc":"https://www.bitovi.com/blog/stateful-mock-server","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/brodart-bibz","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/migrating-your-node.js-app-from-raw-sql-to-an-orm","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/supercharged-content-projection-with-ng-template","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/vue-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/intro-to-testing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/training/style-guide.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/clear-all-completed.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-testing-overview","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/long-live-es6-proxies","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-use-node.js-temporal-workflows-for-batch-processing","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/typing-systems.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/5-quick-tips-for-writing-more-readable-react-code-chatgpt-experiment","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/use-objects-or-switch-statements-in-javascript","lastmod":"2024-01-10"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/index-accessed-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/interfaces.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/ending-a-project.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/angular-meetup","lastmod":"2022-11-16"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/error-on-blur.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/create-api-effects.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/transitioning-to-delivery.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/modules.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/transitioning-from-apache-airflow-to-temporal","lastmod":"2024-01-25"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/nested-routes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-5-real-time-chat","lastmod":"2016-09-21"}},{"json":{"loc":"https://www.bitovi.com/blog/its-time-to-rethink-how-we-version-artifacts","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-6-instantaneous-web-apps-2","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/nested-routes.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-solve-common-value-boxing-issues-in-ngrx-forms","lastmod":"2022-03-01"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-stackstorm-to-aws-using-a-github-action","video:video":[{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-workflows2.mov/medium.jpg","video:title":"GHA-Stackstorm-workflows2","video:description":"GHA-Stackstorm-workflows2","video:content_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-workflows2.mov","video:duration":"21","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/stackstorm-5-monitor.mov/medium.jpg","video:title":"stackstorm-5-monitor","video:description":"stackstorm-5-monitor","video:content_loc":"https://www.bitovi.com/hubfs/stackstorm-5-monitor.mov","video:duration":"6","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-OpsRepo1.mov/medium.jpg","video:title":"GHA-Stackstorm-OpsRepo1","video:description":"GHA-Stackstorm-OpsRepo1","video:content_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-OpsRepo1.mov","video:duration":"44","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/stackstorm-6-longmon.mov/medium.jpg","video:title":"stackstorm-6-longmon","video:description":"stackstorm-6-longmon","video:content_loc":"https://www.bitovi.com/hubfs/stackstorm-6-longmon.mov","video:duration":"31","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-OpsRepo.mov/medium.jpg","video:title":"GHA-Stackstorm-OpsRepo","video:description":"GHA-Stackstorm-OpsRepo","video:content_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-OpsRepo.mov","video:duration":"19","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-workflows.mov/medium.jpg","video:title":"GHA-Stackstorm-workflows","video:description":"GHA-Stackstorm-workflows","video:content_loc":"https://www.bitovi.com/hubfs/GHA-Stackstorm-workflows.mov","video:duration":"26","video:requires_subscription":"no","video:live":"no"}],"lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/4-reasons-to-fall-in-love-with-angular-component-inheritance","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/our-user-experience-team","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/significant-whitespace","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/angular-consulting/design-systems","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/fn-plugins.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/stateful-hooks.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/docker-compose.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/services/product-design-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/use-flexbox-to-create-a-sticky-header-and-sidebar-with-flexible-content","lastmod":"2024-01-31"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/testing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/services/quality-engineering-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/why-you-should-move-from-selenium-to-cypress-for-angular","lastmod":"2023-09-22"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-prototypes","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/a-refactoring","lastmod":"2018-03-02"}},{"json":{"loc":"https://www.bitovi.com/blog/write-angular-unit-tests-that-actually-work","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/backend-basics-anatomy-of-a-node-api","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/new-on-canjs.com-recipes","lastmod":"2017-03-16"}},{"json":{"loc":"https://www.bitovi.com/blog/understanding-angulars-control-value-accessor-interface","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-upgrade-to-stealjs-1","lastmod":"2017-01-24"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/creating-components.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/making-http-requests.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-a-path-alias-in-webpack","lastmod":"2024-08-06"}},{"json":{"loc":"https://www.bitovi.com/blog/hot-module-replacement-comes-to-stealjs","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/using-css-grid-to-build-a-page-layout","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/what-does-good-code-review-look-like","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/blog/document-fragments","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/product-overview.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/attributes-and-properties.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/building-an-image-gallery-with-ngrx","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/web-application-theory","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/distributable-javascript-component","lastmod":"2016-11-18"}},{"json":{"loc":"https://www.bitovi.com/blog/github-action-helm-charts-eks","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/routing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/downloads/web-app-development-checklist","lastmod":"2023-04-11"}},{"json":{"loc":"https://www.bitovi.com/blog/december-2016-donejs-community-update","lastmod":"2017-01-05"}},{"json":{"loc":"https://www.bitovi.com/blog/im-going-to-be-wfh-today","lastmod":"2021-05-03"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-stealjs-overview","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-automation-using-stackstorm-ansible-deployment","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/services/devops-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/render-todos.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/free-weekly-online-javascript-training","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/freeosk-redesigned-and-react-re-implemented","lastmod":"2020-04-03"}},{"json":{"loc":"https://www.bitovi.com/blog/whats-new-in-rxjs-7-small-bundles-and-big-changes-to-share","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/contact","lastmod":"2017-10-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/display-markers.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/your-next-ai-startup-should-be-built-on-temporal-part-2-prompt-engineering","lastmod":"2024-06-26"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/order-history-component.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/context-hooks.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/why-wc.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/presenting.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-canjs-overview","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/component-edit.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript/scope.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/form-and-function-of-product-design","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-hatchify-low-code-libraries-for-react-node-and-sequelize","lastmod":"2024-03-15"}},{"json":{"loc":"https://www.bitovi.com/blog/sending-transactional-emails-with-remix-and-amazon-aws-ses","lastmod":"2023-12-05"}},{"json":{"loc":"https://www.bitovi.com/blog/hatchify-the-fastest-way-to-build-jsonapis","lastmod":"2024-03-21"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/lowes-iris","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/automate-jest-tests-in-your-devops-pipeline-with-github-actions","lastmod":"2024-05-02"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-web-application-theory","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/rds-database-upgrade-via-terraform-retrospective","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/tabs-widget.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/angular.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-traversing-elements-in-the-dom","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/createlinks.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-break-down-epics-into-user-stories","lastmod":"2023-09-22"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-closures","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/navigation-params.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/angular-consulting/angular-design-systems","lastmod":"2022-03-11"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/react-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/why-build-with-angular","lastmod":"2022-02-08"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript/call-stack.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/keyof-typeof.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/validating.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/intro-to-jsx.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work","lastmod":"2021-03-16"}},{"json":{"loc":"https://www.bitovi.com/blog/new-canjs-recipe-weather-report-guide","lastmod":"2017-03-24"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-meetup-nov-9.html","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/updating-service-params.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/dispatch-actions.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/advanced-roadmap-setup.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/generics.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/save-the-date-march-21st-for-our-next-online-meetup-and-videos-from-februarys-meetup","lastmod":"2019-03-05"}},{"json":{"loc":"https://www.bitovi.com/accessibility-consulting","lastmod":"2021-07-26"}},{"json":{"loc":"https://www.bitovi.com/blog/css-only-type-grinding-casting-tokens-into-useful-values","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/may-2018-donejs-community-update","lastmod":"2018-05-17"}},{"json":{"loc":"https://www.bitovi.com/blog/funcunit-infographic","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-5","lastmod":"2018-07-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-reducer.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/props.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/5-reasons-to-choose-nodejs","lastmod":"2021-09-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/communication.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/why-ngrx.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com","lastmod":"2024-08-23"}},{"json":{"loc":"https://www.bitovi.com/blog/recursive-react-components","lastmod":"2019-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-setup-aws-rds-proxy-clickops","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/react-hooks-git-workflows-managing-sessions-svgs","lastmod":"2019-07-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/testing.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-redirect-effects.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/embrace-7-principles-of-universal-design-for-better-website-design","lastmod":"2021-06-23"}},{"json":{"loc":"https://www.bitovi.com/blog/react-native-7-common-questions-answered-by-a-react-consulting-expert","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-used-selectors.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/setting-up-your-environment.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/intro-to-temporal-architecture-and-essential-metrics","lastmod":"2023-10-26"}},{"json":{"loc":"https://www.bitovi.com/blog/my-favorite-panels-from-axecon-2022","lastmod":"2022-04-06"}},{"json":{"loc":"https://www.bitovi.com/blog/open-source-theory","lastmod":"2018-11-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/why-typescript.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-consulting-at-bitovi","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-set-up-authentication-for-a-react-app-with-auth0","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/toggle-data.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/conflict-free-leadership-preventing-conflict","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/js-vs-dom.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/open-source/react-to-web-component","lastmod":"2023-07-18"}},{"json":{"loc":"https://www.bitovi.com/blog/bitops-terraform","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-donejs-1.0-the-high-performance-real-time-web-app-framework","lastmod":"2017-04-27"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/debugging.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/premier-training-lessons-learned","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/first-component.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/intro-to-jsx.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/a-crash-course-in-how-dom-events-work","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-3-0-release","lastmod":"2017-12-12"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/finding-elements.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/setup-canjs.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/use-bitovi-querystring-parser-with-your-favorite-orm","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-build-a-single-spa-angular-application","lastmod":"2024-03-26"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-3-paginated-grid","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/prioritizing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/stateful-hooks.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/improve-velocity-with-efficient-code-review-process","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/scheduling.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/map-view.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/reporting.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/deferreds-and-3-1","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/using-canjs-2-2-with-stealjs","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/free-angular-audit","lastmod":"2023-06-29"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-get-started-with-pinia-in-vue","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/helpful-tips-for-debugging-scully-angular","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/refinement.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/building-real-time-multi-platform-app","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/your-next-ai-startup-should-be-built-on-temporal-part-3-automated-prompt-testing","lastmod":"2024-06-26"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/debugging-devtools.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/ide-support.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/avoid-the-zombie-apocalypse","lastmod":"2023-10-26"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-7-computes-and-sliders","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/utility-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/our-software-consulting-work","lastmod":"2024-08-23"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/react-context.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-automation-using-stackstorm-bitops-secrets","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/july-2017-donejs-community-update","lastmod":"2017-08-01"}},{"json":{"loc":"https://www.bitovi.com/blog/creating-a-design-system-with-storybook","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-use-ng-serve-with-service-worker-support","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/weekly-widget-1-treecombo","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/create-redirect-effects.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/product-design-project-readiness-questions-to-ask-before-kickoff","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/does-your-design-wiki-answer-these-key-questions","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/cloud-ready-series-setting-up-a-ci-pipeline","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/quick-software-project-estimator","lastmod":"2024-07-15"}},{"json":{"loc":"https://www.bitovi.com/blog/dont-overload-the-api-sequential-batched-promises","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/angular-consulting/upgrades","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/using-temporal-cloud-with-on-prem-data","lastmod":"2023-11-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/values.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/cicd-tools-processes-everything-devops-consulting-has-taught-me","lastmod":"2024-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/create-reducer.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/donejs-3","lastmod":"2019-01-08"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-ux-design","lastmod":"2021-05-03"}},{"json":{"loc":"https://www.bitovi.com/blog/remote-culture-community-and-communication-tips","lastmod":"2020-04-02"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-ui-design-everything-you-need-to-know","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/blog/january-2017-donejs-community-update","lastmod":"2017-02-04"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/setting-up-your-environment.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/faster-jquery-event-fix-with-es5-getters","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/pose","lastmod":"2021-06-09"}},{"json":{"loc":"https://www.bitovi.com/blog/guerrilla-user-testing-series-burger-king-case-study","video:video":[{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/bk-loc-01-best.mp4/medium.jpg","video:title":"bk-loc-01-best","video:description":"bk-loc-01-best","video:content_loc":"https://www.bitovi.com/hubfs/bk-loc-01-best.mp4","video:duration":"20","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/BK-loc-3-v4.mp4/medium.jpg","video:title":"BK-loc-3-v4","video:description":"BK-loc-3-v4","video:content_loc":"https://www.bitovi.com/hubfs/BK-loc-3-v4.mp4","video:duration":"47","video:requires_subscription":"no","video:live":"no"},{"video:thumbnail_loc":"https://www.bitovi.com/hubfs/bk-good-UX-2.mp4/medium.jpg","video:title":"bk-good-UX-2","video:description":"bk-good-UX-2","video:content_loc":"https://www.bitovi.com/hubfs/bk-good-UX-2.mp4","video:duration":"21","video:requires_subscription":"no","video:live":"no"}],"lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/ux-javascript-training","lastmod":"2019-07-10"}},{"json":{"loc":"https://www.bitovi.com/blog/managing-nested-and-dynamic-forms-in-angular","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript/prototypes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/exporting-and-importing.html","lastmod":"2024-04-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/production-readiness.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/create-actions.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/marketing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/frontend-javascript-consulting/react-consulting","lastmod":"2023-01-17"}},{"json":{"loc":"https://www.bitovi.com/blog/announcing-bitops-v2.0","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-any-docker-project-to-aws-with-github-actions","lastmod":"2023-12-05"}},{"json":{"loc":"https://www.bitovi.com/blog/visual-regression-testing-quality","lastmod":"2023-09-27"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovi-summer-training-retreat","lastmod":"2016-07-14"}},{"json":{"loc":"https://www.bitovi.com/blog/ajax-fixtures-javascript","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-4.0","lastmod":"2018-03-08"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/angular-consulting/micro-frontends","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/consultant-vs-technologist.html","lastmod":"2024-09-09"}},{"json":{"loc":"https://www.bitovi.com/blog/create-dynamic-components-with-strings-in-react-and-typescript","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/should-you-trust-your-api-with-trpc","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/breaking-long-poles.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/improve-angular-performance-and-seo-with-angular-universal","lastmod":"2023-09-25"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-to-debug-javascript.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-graphql/setting-up-apollo.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/creating-an-svg-icon-typeface","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/designer-pr-checklist","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/define-todo.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/documenting-a-stylesheet-in-a-living-style-guide","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/the-dark-side-of-design","lastmod":"2022-04-13"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/creating-directive.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/stealjs-script-manager","lastmod":"2016-09-21"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/components.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work/iris-lowes-iot-home-automation-app","lastmod":"2019-03-15"}},{"json":{"loc":"https://www.bitovi.com/blog/javascript-query-string-encoding-and-decoding","lastmod":"2017-03-31"}},{"json":{"loc":"https://www.bitovi.com/blog/the-best-product-and-ux-design-online-resources","lastmod":"2024-02-08"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-consulting-continuous-delivery","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-automation-using-stackstorm-getting-started","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-custom-eslint-rules-its-not-as-hard-as-you-think","lastmod":"2022-02-02"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-apollo-client-apollo-cache-configuration","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-6.0","lastmod":"2019-11-22"}},{"json":{"loc":"https://www.bitovi.com/blog/temporal-is-a-swiss-army-knife-for-your-distributed-systems","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/create-selectors.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/rxjs-with-react-pt-1","lastmod":"2021-02-22"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-dom-jquery/traversing-elements.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/component-create.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-be-an-a11y-accessibility-design","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/blog/november-2018-donejs-community-update","lastmod":"2018-11-13"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-events-part-1","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-automation-using-stackstorm-bitops-infrastructure","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-types-operators-and-primitives","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-basic-js","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-react-view-model-mvvm-with-react","lastmod":"2018-11-27"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/functions.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/services/training/react","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/mapped-types.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/formatlinkdata.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/battle-of-the-node.js-orms-objection-prisma-sequelize","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/javascript-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/the-remote-company-checklist-strategies-for-effective-remote-team-management","lastmod":"2022-11-28"}},{"json":{"loc":"https://www.bitovi.com/blog/getting-started-with-cordova-in-15-minutes-or-less","lastmod":"2016-09-19"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/estimating.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/join-us-thursday-may-2nd-for-our-online-meetup-embracing-obstacles-react-hooks-solo-dev-using-docker-to-improve-dev","lastmod":"2019-04-30"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-legacy-code-all-code-is-legacy-code","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/10-product-design-personas-worth-hiring-in-2024","lastmod":"2024-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/context.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/intro-to-react.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/routing-in-canjs","lastmod":"2016-09-16"}},{"json":{"loc":"https://www.bitovi.com/blog/creating-a-generator-for-donejs-applications","lastmod":"2017-01-04"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work/haulhound-trucking-web-app","lastmod":"2019-03-15"}},{"json":{"loc":"https://www.bitovi.com/blog/testing-angular-applications-end-to-end-e2e-with-cypress","lastmod":"2023-09-22"}},{"json":{"loc":"https://www.bitovi.com/blog/leveraging-temporal-cloud-in-fedramp-compliant-organizations","lastmod":"2024-03-07"}},{"json":{"loc":"https://www.bitovi.com/blog/open-source-bitops-v2.1-2.2-2.3","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/bitops-terraform-ansible","lastmod":"2022-12-06"}},{"json":{"loc":"https://www.bitovi.com/blog/write-your-first-temporal-workflow-in-typescript","lastmod":"2023-07-05"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/angular-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/frontend-javascript-consulting","lastmod":"2019-06-06"}},{"json":{"loc":"https://www.bitovi.com/blog/github-as-a-platform-engineering-platform-the-github-actions-path","lastmod":"2024-04-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/components.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/cloud-ready-series-dockerize-javascript-and-node-apps","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/data-fetching.html","lastmod":"2024-02-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/getting-started.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/node.js-consulting-101-breaking-down-technical-requirements","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/pull-restaurant-data-into-view.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/the-complete-guide-to-devops","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/cvc.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/manage-form-driven-state-with-ngrx-forms-part-2","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/angular-consulting/angular-updates","lastmod":"2022-02-09"}},{"json":{"loc":"https://www.bitovi.com/blog/hello-potential-bitovian","lastmod":"2024-07-18"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-build-a-micro-frontend-architecture-with-angular","lastmod":"2023-07-06"}},{"json":{"loc":"https://www.bitovi.com/services/backend/nodejs-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-services","lastmod":"2022-01-18"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-migrate-husky-to-lefthook","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/templates.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/google-maps.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/join-us-for-our-first-online-meetup","lastmod":"2019-04-24"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/building-our-first-app.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-conditionally-load-modules-with-stealjs","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/blog/3-ways-to-simplify-frontends-with-multiple-microservices","lastmod":"2024-03-26"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/our-ux-process","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/youre-doing-agile-wrong","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/bus-tracker-component.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/external-secrets-operator-aws","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-a-biased-framework-comparison","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/improve-app-performance-with-ngoptimizedimage-directive","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/react-shell-script-docker-publish-accessible-design","lastmod":"2020-07-05"}},{"json":{"loc":"https://www.bitovi.com/blog/stable-and-innovative-code-priorities-and-goals","lastmod":"2017-12-14"}},{"json":{"loc":"https://www.bitovi.com/blog/donejs-error-handling","lastmod":"2018-03-27"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/optimization-hooks.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/building-reusable-web-components","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-avoid-the-infamous-cannot-read-properties-of-undefined-with-typescript","lastmod":"2023-02-22"}},{"json":{"loc":"https://www.bitovi.com/blog/should-your-team-be-using-micro-frontends-and-module-federation","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/blog/webrtc-react-suspense-codemods-docker-donejs","lastmod":"2019-10-25"}},{"json":{"loc":"https://www.bitovi.com/blog/implementing-event-sourcing-cqrs-in-node.js","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript/configuration.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/boost-angular-performance-by-rendering-pages-with-scully","lastmod":"2023-09-22"}},{"json":{"loc":"https://www.bitovi.com/blog/tailwind-css-with-angular-v12-what-you-need-to-know","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/ux-javascript-training/javascript-training","lastmod":"2021-08-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/prioritization.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/7-mistakes-to-avoid-when-moving-from-angularjs-to-angular","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/react-to-web-component-v2","lastmod":"2024-03-26"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-best-practices-managing-repository-configuration","lastmod":"2022-09-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/use-selectors.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/remove-side-effects","lastmod":"2017-09-12"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/performance-optimization.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/getfiles.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-use-rxjs-catcherror-without-unsubscribing-from-new-events","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-prometheus-and-grafana-to-aws-with-github-actions","lastmod":"2023-12-12"}},{"json":{"loc":"https://www.bitovi.com/blog/graphql-apollo-an-intro-for-angular-developers","lastmod":"2023-09-27"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/front-end.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/disable-while-pending.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/steal-2.0","lastmod":"2018-07-24"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-callback-functions-for-communication-between-components","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/disable-pay-button.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-api-effects.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/item-total-pipe.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/handling-errors-with-rxjs","lastmod":"2022-02-22"}},{"json":{"loc":"https://www.bitovi.com/frontend-javascript-consulting/vue-consulting","lastmod":"2022-09-16"}},{"json":{"loc":"https://www.bitovi.com/blog/organize-and-prioritize-by-emoji-coding-your-checklists","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-a-web-component-with-create-react-app","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/routing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/meet-amanda-a-product-designer-accessibility-advocate","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/controlled-vs-uncontrolled.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/react-hooks-webrtc-signaling-monadic-composition-ux-discovery","lastmod":"2019-09-12"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/making-http-requests.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/card-error.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/may-2017-donejs-community-update","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/deploy-app.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/setting-up-your-environment.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-context","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/conference-speaking-like-a-boss","lastmod":"2019-04-30"}},{"json":{"loc":"https://www.bitovi.com/blog/postgresql-dynamodb-mongodb-choosing-a-database-for-a-node.js-app","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-2-3-release","lastmod":"2016-09-30"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/styling.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-a-static-site-to-aws-s3-cdn-r53-in-one-step","lastmod":"2024-01-19"}},{"json":{"loc":"https://www.bitovi.com/blog/replay-testing-to-avoid-non-determinism-in-temporal-workflows","lastmod":"2023-12-18"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/prototypes.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/conflict-free-leadership-framework-in-action","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/developer-preview-of-standalone-support-in-angular-elements","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/monitoring-stackstorm-with-prometheus-and-grafana","lastmod":"2024-02-15"}},{"json":{"loc":"https://www.bitovi.com/blog/protect-your-business-from-it-disasters-lessons-from-the-crowdstrike-outage","lastmod":"2024-07-25"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/real-time-connection.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/four-lessons-i-learned-node.js-consulting-for-a-fortune-500-company","lastmod":"2023-10-17"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work/levis-ecommerce-responsive-redesign","lastmod":"2019-03-15"}},{"json":{"loc":"https://www.bitovi.com/people","lastmod":"2023-06-30"}},{"json":{"loc":"https://www.bitovi.com/blog/new-canjs-recipes-playlist-editor-todomvc-with-stealjs-advanced-weather-report-guide","lastmod":"2017-05-16"}},{"json":{"loc":"https://www.bitovi.com/blog/canjs-debugging-tutorial","lastmod":"2018-10-11"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/connection.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/simple-async-alternative-to-use-reducer","lastmod":"2021-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-comparisons","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/services/backend/temporal-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/define-todo-list.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/integrate-other-libraries-with-symbols","lastmod":"2017-09-26"}},{"json":{"loc":"https://www.bitovi.com/en/angular-consulting-thank-you","lastmod":"2021-11-08"}},{"json":{"loc":"https://www.bitovi.com/blog/the-best-software-architectures-to-use-for-node.js-consulting","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/rxjs-react-shell-tooling-docker-compose","lastmod":"2020-07-05"}},{"json":{"loc":"https://www.bitovi.com/blog/how-a-ux-designer-saves-you-time-and-money-in-development","lastmod":"2021-04-30"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-can-map-and-can-list","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/solving-state-management-problems-with-ngrx","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/3-reasons-you-should-test-your-angular-component-templates","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog","lastmod":"2024-06-14"}},{"json":{"loc":"https://www.bitovi.com/agile-nodejs-case-study","lastmod":"2021-02-12"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-typescript.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/the-truth-behind-micro-frontends-insights-from-real-case-studies","lastmod":"2024-05-23"}},{"json":{"loc":"https://www.bitovi.com/blog/hashchange-routing-with-can-route-part-1-basics","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/announcing-velocirender","lastmod":"2019-02-07"}},{"json":{"loc":"https://www.bitovi.com/blog/get-more-out-of-slack-with-an-ai-powered-gpt-chatbot-free-slack-app","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/services/frontend-development-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/development.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovian-talking-about-angular-performance-at-upcoming-event","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/bitovi-eslint-config-handpicked-rules-to-improve-your-code","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/blog/5-useful-stackstorm-techniques","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-use-react-suspense-to-improve-ui-load-time","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-graphql.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/stackstorm-angular-to-react-conversion","lastmod":"2020-03-31"}},{"json":{"loc":"https://www.bitovi.com/blog/eks-helm-bitops","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/controlled-vs-uncontrolled.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/june-2017-donejs-community-update","lastmod":"2017-07-17"}},{"json":{"loc":"https://www.bitovi.com/blog/utilizing-http2-push-in-a-single-page-application","lastmod":"2017-12-14"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/show-paying.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/conflict-free-leadership-emotional-intelligence","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/backend-consulting/nodejs-consulting","lastmod":"2022-09-07"}},{"json":{"loc":"https://www.bitovi.com/angular-consulting/angular-application-audit","lastmod":"2022-06-21"}},{"json":{"loc":"https://www.bitovi.com/blog/june-2018-donejs-community-update","lastmod":"2018-06-12"}},{"json":{"loc":"https://www.bitovi.com/academy/createparameters.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-for-newbies-devops-lifecycle","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/blog/real-reasons-projects-fail","lastmod":"2017-02-13"}},{"json":{"loc":"https://www.bitovi.com/blog/planning-your-living-style-guide","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-agile-program-management-with-jira/managing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/pragmatic-design-secret-to-scaling-design-teams","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/understand-declarative-vs-imperative-code-using-array-functions","lastmod":"2021-05-25"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-a11y-eslint-rules","lastmod":"2023-10-10"}},{"json":{"loc":"https://www.bitovi.com/blog/funcunit-fun-web-application-testing","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/module-loaders-master-the-pipeline","lastmod":"2018-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-events-part-2","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/blog/the-coffee-shop-user-experience-lab","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/choosing-the-best-ai-testing-tool","lastmod":"2024-08-26"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-technology-consulting/building-rapport.html","lastmod":"2024-09-09"}},{"json":{"loc":"https://www.bitovi.com/blog/what-is-design-insights-from-our-product-design-team","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/you-should-be-building-and-scaling-products-with-a-design-system","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/setting-up-your-environment.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/react-hooks-vs-classes-the-ultimate-comparison","lastmod":"2023-10-04"}},{"json":{"loc":"https://www.bitovi.com/blog/finding-ideas-through-sketching","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker/volumes-and-local-development.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-funcunit-works","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/styling-in-react.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/bitops-yo","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/managing-complex-state.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/get-started-with-stealjs","lastmod":"2016-09-16"}},{"json":{"loc":"https://www.bitovi.com/process","lastmod":"2019-06-13"}},{"json":{"loc":"https://www.bitovi.com/blog/running-aws-resources-on-localstack","lastmod":"2023-11-13"}},{"json":{"loc":"https://www.bitovi.com/services/frontend/angular-consulting/application-audit","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/using-asyncstorage.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/prepare-for-anything-with-gsap","lastmod":"2021-06-25"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-native/intro-to-react-native.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/typescript-features-every-angular-developer-needs-to-know","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/four-tips-for-working-with-remote-product-design-teams","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-web-components/customize-header.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/jobs/design","lastmod":"2019-08-12"}},{"json":{"loc":"https://www.bitovi.com/blog/stackstorm-solves-devops-automation-for-enterprise-client","lastmod":"2018-06-25"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/training.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/tools","lastmod":"2019-06-13"}},{"json":{"loc":"https://www.bitovi.com/blog/combining-documentation-with-prototypes-6","lastmod":"2021-04-30"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-your-react-project-to-github-pages-with-github-actions","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-use-ndjson-streams-with-can-connect","lastmod":"2017-07-18"}},{"json":{"loc":"https://www.bitovi.com/blog/writing-the-perfect-jquery-plugin","lastmod":"2018-11-29"}},{"json":{"loc":"https://www.bitovi.com/blog/http2-in-donejs","lastmod":"2017-09-12"}},{"json":{"loc":"https://www.bitovi.com/blog/survival-strategies-for-new-remote-developers","lastmod":"2020-03-11"}},{"json":{"loc":"https://www.bitovi.com/bitops","lastmod":"2023-07-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/request-payment.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/state-city-options.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/services/agile-project-management-consulting","lastmod":"2024-09-10"}},{"json":{"loc":"https://www.bitovi.com/blog/svg-handwriting-animation-with-flair","lastmod":"2021-06-25"}},{"json":{"loc":"https://www.bitovi.com/test-new-blog","lastmod":"2023-11-09"}},{"json":{"loc":"https://www.bitovi.com/blog/training-series-element-styles-and-positioning","lastmod":"2017-06-20"}},{"json":{"loc":"https://www.bitovi.com/academy/advanced-typescript/generics-with-constraints.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-incrementally-migrate-an-angular-project-to-typescript-strict-mode","lastmod":"2023-09-29"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/writing-unit-tests.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/unlocking-sketch-metadata-find-symbols-across-files-using-sketchtool-cli-bash-and-json","lastmod":"2021-07-12"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work/equibit-blockchain-securities-trading-app-icos","lastmod":"2019-03-15"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/styling-in-react.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-actions.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/5-pitfalls-of-nodejs-microservices","lastmod":"2021-08-31"}},{"json":{"loc":"https://www.bitovi.com/blog/is-your-angular-app-performance-hurting-your-revenue","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/read-this-before-using-animations-in-your-ui","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/usereducer-react-hooks-drag-and-drop-angular-control-value-accessor-canjs-custom-elements","lastmod":"2019-06-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react/intro-to-react.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/introducing-bitops","lastmod":"2022-12-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-docker.html-original","lastmod":"2023-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/we-love-open-source-contributors","lastmod":"2017-02-24"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-canjs/toggle-event.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/provide-valuable-design-feedback","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-react-vite/routing.html","lastmod":"2024-02-16"}},{"json":{"loc":"https://www.bitovi.com/blog/whats-new-in-node.js-and-graphql-for-2023","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/project-management-series-waterfall-vs-agile","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/blog/devops-consulting-continuous-integration","lastmod":"2023-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/back-of-napkin-fast-projections","lastmod":"2023-09-20"}},{"json":{"loc":"https://www.bitovi.com/blog/3-ways-knitting-and-web-design-go-hand-in-hand","lastmod":"2021-05-03"}},{"json":{"loc":"https://www.bitovi.com/blog/march-2017-donejs-community-update","lastmod":"2017-04-05"}},{"json":{"loc":"https://www.bitovi.com/blog/stable-and-innovative-independent-repositories","lastmod":"2017-09-11"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/october-2017-donejs-community-update","lastmod":"2017-11-06"}},{"json":{"loc":"https://www.bitovi.com/blog/your-agile-team-needs-a-product-requirements-document","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/change-propagation","lastmod":"2016-11-18"}},{"json":{"loc":"https://www.bitovi.com/community/slack","lastmod":"2020-03-10"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-add-real-time-data-to-your-.net-application","lastmod":"2018-12-05"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-ngrx/test-selectors.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/september-2017-donejs-community-update","lastmod":"2017-10-06"}},{"json":{"loc":"https://www.bitovi.com/blog/manage-form-driven-state-with-ngrx-forms-part-1","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/blog/mocking-modules-in-jest-tests","lastmod":"2024-08-06"}},{"json":{"loc":"https://www.bitovi.com/blog/take-a-step-back-simple-tips-to-quickly-check-a-design-for-usability","lastmod":"2021-05-10"}},{"json":{"loc":"https://www.bitovi.com/blog/day.js-a-convenient-alternative-to-moment.js-for-node.js-consulting","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/deploy-docker-to-ec2-pull-request-environments","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/web-application-consulting-work/samsclub-ecommerce-redesign","lastmod":"2019-03-15"}},{"json":{"loc":"https://www.bitovi.com/replay-happy-hour","lastmod":"2023-08-29"}},{"json":{"loc":"https://www.bitovi.com/home-2017","lastmod":"2018-08-01"}},{"json":{"loc":"https://www.bitovi.com/blog/6-personal-challenges-working-remotely","lastmod":"2023-09-19"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-angular/why-angular.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/august-2017-donejs-community-update","lastmod":"2017-09-06"}},{"json":{"loc":"https://www.bitovi.com/blog/how-to-create-an-external-data-store-for-your-docker-to-ec2-deployment","lastmod":"2024-06-17"}},{"json":{"loc":"https://www.bitovi.com/blog/why-tailwind-doesnt-work-for-me","lastmod":"2024-01-04"}},{"json":{"loc":"https://www.bitovi.com/blog/top-5-angular-debugging-tools","lastmod":"2023-10-02"}},{"json":{"loc":"https://www.bitovi.com/blog/angular-16-just-dropped-a-long-overdue-feature","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/blog/improve-angular-performance-by-caching-api-calls","lastmod":"2022-01-28"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-rxjs/expiry.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/bitops-automating-cicd-website-deployment","lastmod":"2022-10-05"}},{"json":{"loc":"https://www.bitovi.com/blog/how-and-when-to-memoize-your-react-application","lastmod":"2023-10-06"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-graphql/adding-testing.html","lastmod":"2024-08-28"}},{"json":{"loc":"https://www.bitovi.com/blog/longevity-or-lack-thereof-in-javascript-frameworks","lastmod":"2016-09-16"}},{"json":{"loc":"https://www.bitovi.com/ux-design-consulting/ux-case-studies/bafs-ppp","lastmod":"2021-05-07"}},{"json":{"loc":"https://www.bitovi.com/blog/your-next-ai-startup-should-be-built-on-temporal-part-1-document-processing","lastmod":"2024-06-26"}},{"json":{"loc":"https://www.bitovi.com/blog/project-management-series-project-lifecycle","lastmod":"2024-08-09"}},{"json":{"loc":"https://www.bitovi.com/blog/simplified-data-and-api-mocking-with-cypress-and-msw","lastmod":"2023-10-09"}},{"json":{"loc":"https://www.bitovi.com/blog/vue-reactivity-ref-reactive-shallowref-shallowreactive","lastmod":"2023-10-03"}},{"json":{"loc":"https://www.bitovi.com/academy/learn-advanced-javascript/promises.html","lastmod":"2024-08-28"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-12T15:56:26.673Z","updatedAt":"2024-09-12T15:56:26.673Z","role":"workflow:owner","workflowId":"nngeI2fDq8u0VFdN","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-12T15:56:00.697Z","updatedAt":"2024-09-12T15:56:00.697Z","id":"ybl4O9NnLw9GRSbI","name":"vectorize"}],"triggerCount":0,"updatedAt":"2024-09-23T22:27:18.251Z","versionId":"83da3658-54f9-4136-bbd3-28050d4ec43a"}