n8n/workflows/Calendar tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2024-09-23T05:19:28.185Z","id":"0ZCIRDBZAdOyeC7X","meta":{"templateCredsSetupCompleted":true},"name":"Calendar tool","nodes":[{"parameters":{},"id":"e546bc10-4e84-405e-a22e-5e353af10900","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[700,360]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"={{ $json.query.email }}","mode":"id"},"timeMin":"={{ $json.query.start_time }}","timeMax":"={{ $json.query.end_time }}","options":{"outputFormat":"raw"}},"id":"b2070c01-6b3e-4f71-9c2c-507328a52513","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[920,360],"credentials":{"googleCalendarOAuth2Api":{"id":"iwcyavE2pJSm8NpV","name":"Google Calendar account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {\n    \"kind\": \"{{ $json.kind }}\",\n    \"timeMin\": \"{{ $json.timeMin }}\",\n    \"timeMax\": \"{{ $json.timeMax }}\",\n    \"calendars\": {{ $json.calendars.toJsonString() }}\n  }\n}\n","options":{}},"id":"bb3d21df-b3ea-41a3-8675-f3ef8ac78679","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,360]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-23T05:19:28.185Z","updatedAt":"2024-09-23T05:19:28.185Z","role":"workflow:owner","workflowId":"0ZCIRDBZAdOyeC7X","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"},{"createdAt":"2024-09-23T05:24:47.883Z","updatedAt":"2024-09-23T05:24:47.883Z","id":"gTnAJiEcaiih7qyp","name":"Google"},{"createdAt":"2024-09-23T05:24:59.038Z","updatedAt":"2024-09-23T05:24:59.038Z","id":"SNaJoagqGIEgk0iO","name":"Calendar"}],"triggerCount":0,"updatedAt":"2024-09-23T06:05:10.332Z","versionId":"d7125429-fcce-4c3b-8fb3-24b24d6fba2b"}