n8n/workflows/Custom Google Search tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"createdAt":"2024-09-15T05:01:11.868Z","id":"dOywinckKJomWxPe","meta":{"templateCredsSetupCompleted":true},"name":"Custom Google Search tool","nodes":[{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyC7P6O-4TgoCmyzNb1AJLNmS19u9ewJbOs"},{"name":"cx","value":"e5df679d374ab4b23"},{"name":"q","value":"={{ $('Execute Workflow Trigger').first().json.query.query }}"}]},"options":{}},"id":"65fb5ed5-5623-45f2-8a8c-285d604f06c8","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,440]},{"parameters":{},"id":"e1875c82-461e-4ae6-b891-b9eb85dcdab2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[860,440]},{"parameters":{"assignments":{"assignments":[{"id":"c8aaf55e-4fbb-4cb5-9a5d-1dd703491af6","name":"response","value":"={{ $json }}","type":"object"}]},"options":{"dotNotation":true}},"id":"d6c09f3c-54d5-4e8e-8a0d-6965c1453682","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,440]},{"parameters":{"jsCode":"let q = $('Execute Workflow Trigger').first().json.query;\n\nif('query' in q){\n  q = q.query\n}\nreturn q;"},"id":"bf9ce789-b386-4e6c-85a2-404ae9ccd720","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,440],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1388a072-5a14-4196-9d1d-705ff3db1eac","leftValue":"={{ $('Execute Workflow Trigger').item.json.return_items }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c2f59d35-f1b5-43d5-897e-7bb776d712be","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1680,440]},{"parameters":{"assignments":{"assignments":[{"id":"b8aaa800-6290-4b48-84dc-07cc1471b567","name":"response","value":"={{ $json.response.items }}","type":"array"}]},"options":{}},"id":"ac04aa9f-c953-459f-9e19-566db3b17694","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,420]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"query":"<@U07LRJTD84A> test"},"return_items":true}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-15T05:01:11.868Z","updatedAt":"2024-09-15T05:01:11.868Z","role":"workflow:owner","workflowId":"dOywinckKJomWxPe","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"}],"triggerCount":0,"updatedAt":"2024-09-30T20:49:03.795Z","versionId":"806b0c6f-2d83-4390-b9e8-635d9dfd87de"}