n8n/workflows/duckduckgo-search-tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"DuckDuckGo","type":"main","index":0}]]}},"createdAt":"2024-09-11T06:01:48.178Z","id":"EsY7CuwrGwH0kB50","meta":{"templateCredsSetupCompleted":true},"name":"duckduckgo-search-tool","nodes":[{"parameters":{},"id":"80e9f4ce-88a9-498f-9fe2-820306060466","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[820,380]},{"parameters":{"query":"={{ $json.query }}","safeSearch":-1},"id":"776850e4-5657-4ebf-8fb5-9ffe8e174840","name":"DuckDuckGo","type":"n8n-nodes-duckduckgo.duckDuckGoNode","typeVersion":1,"position":[1420,380]},{"parameters":{},"id":"5de8cb0a-0869-48e9-879a-f7cdfbd5b3cd","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,380],"webhookId":"a6d76b51-8dec-45af-ad18-f24767e5048c"}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"mick@bitovi.com"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-11T06:01:48.178Z","updatedAt":"2024-09-11T06:01:48.178Z","role":"workflow:owner","workflowId":"EsY7CuwrGwH0kB50","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"}],"triggerCount":0,"updatedAt":"2024-09-11T06:09:30.091Z","versionId":"1c6fbe5f-2d35-4203-aaea-1b9ce5e50a49"}