n8n/workflows/Email Research Workflow.json
{"active":false,"connections":{"Schedule Trigger":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Email Researcher","type":"main","index":0}]]},"n8n Form Trigger":{"main":[[{"node":"Email Researcher","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Email Researcher":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"createdAt":"2024-09-11T05:17:47.899Z","id":"Fr9GwcekzD1CRdmC","meta":{"templateCredsSetupCompleted":true},"name":"Email Research Workflow","nodes":[{"parameters":{"options":{}},"id":"45ad1bfe-2cb9-4e08-b6be-7f75c25d874a","name":"SerpAPI - Search Google","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[2660,1340],"typeVersion":1,"disabled":true},{"parameters":{"content":"## Read Me\n\nThis workflow allows you to do account research with the web using AI.\n\nThe advanced AI module has 2 capabilities: \n- Research Google using SerpAPI\n- Visit and get website content using a sub-workflow\n\n\nFrom an unstructured input like a domain or a company name. \n\nIt will return the following properties: \n- domain\n- company Linkedin Url\n- cheapest plan\n- has free trial\n- has entreprise plan\n- has API\n- market (B2B or B2C)\n\n\nThe strength of n8n here is that you can adapt this workflow to research whatever information you need.\n\nYou just have to precise it in the prompt and to precise the output format in the \"Strutured Output Parser\" module.\n\n[Click here to find more detailed instructions with video guide.](https://lempire.notion.site/AI-Web-research-with-n8n-a25aae3258d0423481a08bd102f16906)\n","height":658.0614601225933,"width":409.0131656322444},"id":"535e1bf4-4ca2-485d-a388-1362743ed9ad","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1560,60],"typeVersion":1},{"parameters":{"content":"Get your free API key here https://serpapi.com/","height":276.9940915275391},"id":"348a5f18-f7c6-45d9-b93c-e81d2cf3670d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2580,1240],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"5e03d6d6-b47f-4404-a0ac-f7756f20f551","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1820,1380],"typeVersion":1.2,"disabled":true},{"parameters":{"name":"search_google","description":"Call this tool to get results from a google search.","source":"parameter","workflowJson":"{\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"2b1cc1a8b0a2fb9caab11ab2d5eb3712f9973066051b2e898cf4041a1f2a7757\"\n  },\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"fbb17d8d-e2dc-46ae-aba4-8c27cc9d8766\",\n      \"name\": \"Execute Workflow Trigger\",\n      \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        20,\n        460\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"https://app.scrapingbee.com/api/v1/store/google\",\n        \"authentication\": \"genericCredentialType\",\n        \"genericAuthType\": \"httpQueryAuth\",\n        \"sendQuery\": true,\n        \"queryParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"search\",\n              \"value\": \"={{ $json.query.google_search_query }}\"\n            },\n            {\n              \"name\": \"language\",\n              \"value\": \"en\"\n            },\n            {\n              \"name\": \"nb_results\",\n              \"value\": \"5\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"b938a2bd-030e-46d7-adee-4e3c85cfc1b3\",\n      \"name\": \"Search Google\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        300,\n        460\n      ],\n      \"credentials\": {\n        \"httpQueryAuth\": {\n          \"id\": \"Pb2CIMT0tN838QPy\",\n          \"name\": \"ScrapingBee\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"096fee70-444e-4948-816c-752b20786062\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.organic_results }}\",\n              \"type\": \"array\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"c5db1fb6-d875-47d2-97db-287777583f22\",\n      \"name\": \"Response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        520,\n        460\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute Workflow Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Search Google\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Search Google\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {\n    \"Execute Workflow Trigger\": [\n      {\n        \"query\": {\n          \"google_search_query\": \"site:lemlist.com pricing\"\n        }\n      }\n    ]\n  }\n}","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"google_search_query\": \"site:lemlist.com pricing\"\n}"},"id":"a9aa3d76-6597-4728-923d-f39e96c19478","name":"Search Google with ScrapingBee","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[2960,1400],"typeVersion":1.1,"disabled":true},{"parameters":{"content":"Instead of SERP API module, you can also use this custom module for ScrapingBee. It is more cost-efficient.\n\nGet your free API key here https://www.scrapingbee.com/","height":374.0352439405913},"id":"1c5ef343-7638-42cb-ad81-96c53672c926","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2880,1200],"typeVersion":1},{"parameters":{"content":"# Input\nGet the email :tada:","height":421.8455650963256,"width":393.38472842465717},"id":"f1e15e9b-4d5e-4eb4-ad56-01ab589a694e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[2180,100],"typeVersion":1},{"parameters":{"content":"# TODO: Timer trigger\nOn a timer, get emails from a google doc or spreadsheet","height":333.8263184006576,"width":393.38472842465717},"id":"e6eaf630-99f6-4eea-9981-2b522c5ecdaf","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1780,1220],"typeVersion":1},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert"}]}},"id":"a89e7e20-cbc3-4680-a93e-44f2f26e2478","name":"Google Docs","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2000,1380],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c069d982-86b8-4bb0-837d-abda80799316","name":"email","value":"mick@bitovi.com","type":"string"}]},"options":{}},"id":"6b06329a-6d66-4ce1-9b32-366af255bd17","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,360]},{"parameters":{"content":"duckduckgo is free :)\ngotta sub-workflow the node, though, if we want to use it as a tool","height":336.0517611559202},"id":"62807581-77b1-46bf-9024-0f0d86614028","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2260,1220],"typeVersion":1},{"parameters":{},"id":"01641f6b-67a1-4522-b13f-a308e190b039","name":"DuckDuckGo","type":"n8n-nodes-duckduckgo.duckDuckGoNode","typeVersion":1,"position":[2320,1340],"disabled":true},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#bitbot-email-research","mode":"name"},"messageType":"block","blocksUi":"={\"blocks\": {{ $json.blocks.toJsonString() }}}","text":"Issue with blocks","otherOptions":{"includeLinkToWorkflow":true,"mrkdwn":false}},"id":"67a98a18-9250-4b62-ab7d-14c5e5502b6d","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[4060,140],"credentials":{"slackApi":{"id":"NkDWa3KbQtVjPYEc","name":"Slack account"}}},{"parameters":{"path":"b73823d1-ad45-4af3-acb5-c84b82186ad8","formTitle":"Email Research Bot","formDescription":"Provide an email, and we'll create a detailed report!","formFields":{"values":[{"fieldLabel":"Email","fieldType":"email","requiredField":true}]},"options":{}},"id":"06b94876-b4f0-4e13-a75a-d1f8af62dd1e","name":"n8n Form Trigger","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[2360,140],"webhookId":"b73823d1-ad45-4af3-acb5-c84b82186ad8","disabled":true},{"parameters":{},"id":"aeb46d45-eed9-4a4f-86ce-f241d751e93a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2360,360]},{"parameters":{"workflowId":{"__rl":true,"value":"dM2SQoOdwaXWVOAy","mode":"list","cachedResultName":"Email Research tool"},"mode":"each","options":{}},"id":"397a8862-e6cc-4d75-bd38-0274ce68fdbe","name":"Email Researcher","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3100,140]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function convertLeadToSlackBlocks(leadData) {\n  const blocks = [];\n\n  // Header section\n  blocks.push({\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `👤 Lead Information: ${leadData.full_name || leadData.email}`,\n      emoji: true\n    }\n  });\n\n  // Basic Information\n  blocks.push({\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*Email:* ${leadData.email}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Name:* ${leadData.full_name || 'N/A'}`\n      }\n    ]\n  });\n\n  // HubSpot Data\n  if (leadData.hubspot_data) {\n    blocks.push({ 'type': 'divider' });\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*📊 HubSpot Data*'\n      }\n    });\n\n    const hubspotFields = [\n      { type: 'mrkdwn', text: `*Lifecycle Stage:* ${leadData.hubspot_data.LifecycleStage || 'N/A'}` },\n      { type: 'mrkdwn', text: `*Created:* ${leadData.hubspot_data.CreateDate || 'N/A'}` },\n      { type: 'mrkdwn', text: `*Last Modified:* ${leadData.hubspot_data.LastModifiedDate || 'N/A'}` },\n      { type: 'mrkdwn', text: `*Last Sales Activity:* ${leadData.hubspot_data.LastSalesActivityDate || 'N/A'} (${leadData.hubspot_data.LastSalesActivityType || 'N/A'})` },\n      { type: 'mrkdwn', text: `*Is Unworked:* ${leadData.hubspot_data.IsUnworked || 'N/A'}` },\n      { type: 'mrkdwn', text: `*First Engagement:* ${leadData.hubspot_data.FirstEngagementDate || 'N/A'} (${leadData.hubspot_data.FirstEngagementObjectType || 'N/A'})` },\n      { type: 'mrkdwn', text: `*Last Contacted:* ${leadData.hubspot_data.LastContactedDate || 'N/A'}` },\n      { type: 'mrkdwn', text: `*Latest Meeting:* ${leadData.hubspot_data.LatestMeetingActivity || 'N/A'}` }\n    ];\n\n    // Split HubSpot fields into two columns\n    const midpoint = Math.ceil(hubspotFields.length / 2);\n    blocks.push({\n      type: 'section',\n      fields: hubspotFields.slice(0, midpoint)\n    });\n    blocks.push({\n      type: 'section',\n      fields: hubspotFields.slice(midpoint)\n    });\n\n    // Associated Company\n    if (leadData.hubspot_data.AssociatedCompany) {\n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*🏢 Associated Company*'\n        }\n      });\n\n      const companyFields = [\n        { type: 'mrkdwn', text: `*Name:* ${leadData.hubspot_data.AssociatedCompany.Name || 'N/A'}` },\n        { type: 'mrkdwn', text: `*Domain:* ${leadData.hubspot_data.AssociatedCompany.Domain || 'N/A'}` },\n        { type: 'mrkdwn', text: `*Revenue:* $${(leadData.hubspot_data.AssociatedCompany.AnnualRevenue / 1000000).toFixed(1)}M` },\n        { type: 'mrkdwn', text: `*Employees:* ${leadData.hubspot_data.AssociatedCompany.NumberOfEmployees || 'N/A'}` },\n        { type: 'mrkdwn', text: `*Industry:* ${leadData.hubspot_data.AssociatedCompany.Industry || 'N/A'}` },\n        { type: 'mrkdwn', text: `*Founded:* ${leadData.hubspot_data.AssociatedCompany.Founded || 'N/A'}` },\n        { type: 'mrkdwn', text: `*Location:* ${[leadData.hubspot_data.AssociatedCompany.City, leadData.hubspot_data.AssociatedCompany.State, leadData.hubspot_data.AssociatedCompany.Country].filter(Boolean).join(', ')}` },\n        { type: 'mrkdwn', text: `*Phone:* ${leadData.hubspot_data.AssociatedCompany.Phone || 'N/A'}` }\n      ];\n\n      // Split company fields into two columns\n      const companyMidpoint = Math.ceil(companyFields.length / 2);\n      blocks.push({\n        type: 'section',\n        fields: companyFields.slice(0, companyMidpoint)\n      });\n      blocks.push({\n        type: 'section',\n        fields: companyFields.slice(companyMidpoint)\n      });\n\n      // Company description\n      if (leadData.hubspot_data.AssociatedCompany.Description) {\n        blocks.push({\n          type: 'section',\n          text: {\n            type: 'mrkdwn',\n            text: `*Description:* ${leadData.hubspot_data.AssociatedCompany.Description}`\n          }\n        });\n      }\n\n      // Company social links\n      const socialLinks = [];\n      if (leadData.hubspot_data.AssociatedCompany.LinkedInUrl) socialLinks.push(`<${leadData.hubspot_data.AssociatedCompany.LinkedInUrl}|LinkedIn>`);\n      if (leadData.hubspot_data.AssociatedCompany.FacebookUrl) socialLinks.push(`<${leadData.hubspot_data.AssociatedCompany.FacebookUrl}|Facebook>`);\n      if (leadData.hubspot_data.AssociatedCompany.TwitterHandle) socialLinks.push(`<https://twitter.com/${leadData.hubspot_data.AssociatedCompany.TwitterHandle}|Twitter>`);\n\n      if (socialLinks.length > 0) {\n        blocks.push({\n          type: 'context',\n          elements: [\n            {\n              type: 'mrkdwn',\n              text: `*Social:* ${socialLinks.join(' | ')}`\n            }\n          ]\n        });\n      }\n    }\n\n    // List Memberships\n    if (leadData.hubspot_data.ListMemberships && leadData.hubspot_data.ListMemberships.length > 0) {\n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*📋 List Memberships:* ${leadData.hubspot_data.ListMemberships.map(list => list.ListId).join(', ')}`\n        }\n      });\n    }\n  }\n\n  // LinkedIn Information\n  if (leadData.linkedin_info) {\n    blocks.push({ 'type': 'divider' });\n    \n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*🔗 LinkedIn Information*'\n      }\n    });\n\n    const linkedinFields = [\n      {\n        type: 'mrkdwn',\n        text: `*Profile:* ${leadData.linkedin_info.profile_url ? `<${leadData.linkedin_info.profile_url}|View Profile>` : 'N/A'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Current Position:* ${leadData.linkedin_info.current_position || 'N/A'}`\n      }\n    ];\n\n    if (leadData.linkedin_info.groups && leadData.linkedin_info.groups.length > 0) {\n      linkedinFields.push({\n        type: 'mrkdwn',\n        text: `*Groups:* ${leadData.linkedin_info.groups.join(', ')}`\n      });\n    }\n\n    blocks.push({\n      type: 'section',\n      fields: linkedinFields\n    });\n\n    // Recent LinkedIn Posts\n    if (leadData.linkedin_info.recent_posts && leadData.linkedin_info.recent_posts.length > 0) {\n      blocks.push({ 'type': 'divider' });\n      \n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: '*📝 Recent LinkedIn Posts*'\n        }\n      });\n\n      leadData.linkedin_info.recent_posts.forEach(post => {\n        blocks.push({\n          type: 'section',\n          text: {\n            type: 'mrkdwn',\n            text: `• _${post.date}:_ ${post.content.substring(0, 100)}${post.content.length > 100 ? '...' : ''} <${post.url}|(link)>`\n          }\n        });\n      });\n    }\n  }\n\n  // Blog Articles\n  if (leadData.blog_articles && leadData.blog_articles.length > 0) {\n    blocks.push({ 'type': 'divider' });\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*📚 Blog Articles*'\n      }\n    });\n\n    leadData.blog_articles.forEach(article => {\n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `• _${article.date}_: ${article.title} <${article.url}|(link)>`\n        }\n      });\n    });\n  }\n\n  // Company Information\n  if (leadData.company) {\n    blocks.push({ 'type': 'divider' });\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*🏢 Company Information*'\n      }\n    });\n\n    const companyFields = [\n      {\n        type: 'mrkdwn',\n        text: `*Name:* ${leadData.company.name || 'N/A'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Industry:* ${leadData.company.industry || 'N/A'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Size:* ${leadData.company.size || 'N/A'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Website:* ${leadData.company.website ? `<${leadData.company.website}|Visit Site>` : 'N/A'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*LinkedIn:* ${leadData.company.linkedin_url ? `<${leadData.company.linkedin_url}|View Company>` : 'N/A'}`\n      }\n    ];\n\n    blocks.push({\n      type: 'section',\n      fields: companyFields\n    });\n  }\n\n  // Company Leaders\n  if (leadData.company_leaders && leadData.company_leaders.length > 0) {\n    blocks.push({ 'type': 'divider' });\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*👥 Company Leaders*'\n      }\n    });\n\n    leadData.company_leaders.forEach(leader => {\n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `• *${leader.name}* - ${leader.position}${leader.linkedin_url ? ` (<${leader.linkedin_url}|LinkedIn>)` : ''}`\n        }\n      });\n    });\n  }\n\n  // Final Summary\n  if (leadData.final_summary) {\n    blocks.push({ type: 'divider' });\n\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*🎯 Final Summary*'\n      }\n    });\n\n    const summaryEmoji = {\n      high: '🟢',\n      medium: '🟡',\n      low: '🔴'\n    };\n\n    blocks.push({\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: `*Lead Potential:* ${summaryEmoji[leadData.final_summary.lead_potential.toLowerCase()]} ${leadData.final_summary.lead_potential.toUpperCase()}`\n        }\n      ]\n    });\n\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*Assessment:* ${leadData.final_summary.assessment}`\n      }\n    });\n\n    if (leadData.final_summary.recommended_action) {\n      blocks.push({ type: 'divider' });\n      blocks.push({\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Recommended Action:*\\n> ${leadData.final_summary.recommended_action}`\n        }\n      });\n    }\n  }\n\n  return blocks;\n}\n\nlet obj = $input.item.json.agent_response;\n\nlet hubspot_data = $input.item.json.hubspot_contact;\n\nconsole.log(\"hubspot_data\");\nconsole.log(hubspot_data);\n\nconsole.log(\"attach hubspot_data to obj\")\nobj.hubspot_data = hubspot_data;\n\nconsole.log(\"\");\nconsole.log(\"obj after\", obj);\n\nreturn { \n  blocks: convertLeadToSlackBlocks(obj)\n}"},"id":"1b889137-1f6e-4b7e-ac79-7381db6b8a77","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3700,140]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-11T05:17:47.899Z","updatedAt":"2024-09-11T05:17:47.899Z","role":"workflow:owner","workflowId":"Fr9GwcekzD1CRdmC","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2024-09-11T16:40:44.584Z","versionId":"c908ef28-eb04-4aba-921b-c25e17b260ee"}