n8n/workflows/Email Test.json
{"active":false,"connections":{"Gmail Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"createdAt":"2024-09-12T21:32:54.064Z","id":"LSPa6We5qiQQnCGF","meta":null,"name":"Email Test","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"readStatus":"unread"}},"id":"82dfb25c-b139-4664-8b73-2c0b220286c9","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[820,380],"credentials":{"gmailOAuth2":{"id":"6frPpoghiJvdzD6h","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","message":"={{ $json.message.content }}","options":{}},"id":"7efe5dc5-e63a-412d-a0b4-b91e516d4360","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1500,380],"credentials":{"gmailOAuth2":{"id":"6frPpoghiJvdzD6h","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are a helpful assistant. You respond to emails based on what the user is asking.\n\nBe sure to always format your response with sleek html styling for html emails.\n\nrespond with ONLY html. your output will be sent directly, so do not add anything before or after.  \nyour response should go WITHIN the html elements\n\nDo not provie the signature of anyone else. You are BitBot.","role":"system"},{"content":"Be direct and helpful.","role":"assistant"},{"content":"={{ $json.snippet }}"}]},"options":{}},"id":"143fc22c-5cea-4b56-888e-a551eba9a2ab","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1120,380],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}}],"pinData":{},"settings":{},"shared":[{"createdAt":"2024-09-12T21:32:54.064Z","updatedAt":"2024-09-12T21:32:54.064Z","role":"workflow:owner","workflowId":"LSPa6We5qiQQnCGF","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1726177944,"possibleDuplicates":["191e83954960ccff"]}}},"tags":[{"createdAt":"2024-09-10T13:40:28.146Z","updatedAt":"2024-09-10T13:40:28.146Z","id":"RGFPzbuzJ3fHIhnF","name":"test"}],"triggerCount":1,"updatedAt":"2024-09-13T19:39:11.104Z","versionId":"a8dbffb5-0f56-4e08-a9fb-b7ad9b73a051"}