n8n/workflows/Generate DevOps Team Gathering Slide.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Confluence - Get Wins","type":"main","index":0}]]},"Confluence - Get Wins":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"slack anouncement","type":"main","index":0}]]},"slack anouncement":{"main":[[{"node":"Slack thread","type":"main","index":0}]]},"Slack thread":{"main":[[]]}},"createdAt":"2024-09-18T12:56:12.712Z","id":"G8Ci4OeyUIwCJyXi","meta":{"templateCredsSetupCompleted":true},"name":"Generate DevOps Team Gathering Slide","nodes":[{"parameters":{},"id":"bed68000-953d-4a1d-9a0d-9c89b4720130","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[820,380]},{"parameters":{"url":"https://bitovi.atlassian.net/wiki/api/v2/pages/96960647","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"body-format","value":"view"}]},"options":{}},"id":"8ad0c694-0f58-4213-9a53-3b6b8598dfd4","name":"Confluence - Get Wins","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,380],"credentials":{"httpCustomAuth":{"id":"2l3D2lJRf1fI9EAg","name":"Mick - Confluence api key"}}},{"parameters":{"text":"={{ $json.body.view.value }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"wins\": [{\n      \"original_message\": \"original\",\n      \"generated_fun_message\": \"original but much more fun and exciting\",\n      \"when\": \"September 2024\",\n      \"who\": \"leo\",\n      \"links\": [\"https://foo.com\"]\n    }]\n}","options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nExtract data for the current month and the past month.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nBe sure to also generate a fun message based on the item! put it here (\"generated_fun_message\"). Ensure item names correspond to the item's \"who\" value.\n\nif there is a line in the second table (e.g. the previous month) that looks like \"Team gathering on Aug. 7.  Below this line was captured\", ignore everything below it.\n\nToday's date is {{ $now }}"}},"id":"b407de08-feee-4f55-9111-a94a4bd793a9","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1240,380]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"1723c5af-4aeb-4469-a30d-6415c4a536f7","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1240,600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Function to convert wins to Slack blocks\nfunction convertWinsToSlackBlocks(data) {\n  const blocks = [];\n\n  // Header section\n  blocks.push({\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: '🎉 Team Wins',\n      emoji: true\n    }\n  });\n\n  // Iterate over each win and construct blocks\n  data.forEach(win => {\n    blocks.push({ type: 'divider' });\n\n    // Fun message section\n    blocks.push({\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*${win.generated_fun_message}*`\n      }\n    });\n\n    // Details fields\n    const fields = [];\n\n    if (win.when) {\n      fields.push({\n        type: 'mrkdwn',\n        text: `*Date:*\\n${win.when}`\n      });\n    }\n\n    if (win.who) {\n      fields.push({\n        type: 'mrkdwn',\n        text: `*Who:*\\n${win.who}`\n      });\n    }\n\n    if (win.original_message) {\n      fields.push({\n        type: 'mrkdwn',\n        text: `*Original Message:*\\n${win.original_message}`\n      });\n    }\n\n    if (win.links && win.links.length > 0) {\n      const linksText = win.links.map(link => `<${link}|Link>`).join('\\n');\n      fields.push({\n        type: 'mrkdwn',\n        text: `*Links:*\\n${linksText}`\n      });\n    }\n\n    if (fields.length > 0) {\n      blocks.push({\n        type: 'section',\n        fields: fields\n      });\n    }\n  });\n\n  return blocks;\n}\n\n// n8n code\n// Initialize an array to collect output items\nconst output = [];\n\n// Loop over input items\nfor (const item of $input.all()) {\n  // Access the data from each input item\n  const data = item.json;\n\n  // Extract the wins array from the data\n  const wins = data.output?.wins || [];\n\n  // Generate Slack blocks using the function\n  const blocks = convertWinsToSlackBlocks(wins);\n\n  // Add the blocks to the output item\n  output.push({\n    json: {\n      blocks: blocks\n    }\n  });\n}\n\n// Return the output items\nreturn output;\n"},"id":"8e969901-7caa-4a9f-8eef-4d474403c91f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,400]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#bitbot-testing","mode":"name"},"messageType":"block","blocksUi":"{\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📊 Team Gathering Highlights! 🌟\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"Hey team! We've compiled the latest updates, achievements, and exciting news for our upcoming gathering. Dive into the thread to see what's in store! 👇\"\n      }\n    }\n  ]\n}\n","text":"Team Gathering Updates","otherOptions":{"includeLinkToWorkflow":false}},"id":"dbc509e1-41b9-4c5a-b55c-f7203ad3921c","name":"slack anouncement","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1840,400],"credentials":{"slackApi":{"id":"NkDWa3KbQtVjPYEc","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $json.channel }}","mode":"id"},"messageType":"block","blocksUi":"={\"blocks\": {{ $('Code').item.json.blocks.toJsonString() }} }","otherOptions":{"includeLinkToWorkflow":false,"link_names":true,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.message.ts }}"}},"mrkdwn":true}},"id":"72daa3b5-f611-49b2-b682-c071abb0edbe","name":"Slack thread","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2100,400],"credentials":{"slackApi":{"id":"NkDWa3KbQtVjPYEc","name":"Slack account"}}}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-18T12:56:12.712Z","updatedAt":"2024-09-18T12:56:12.712Z","role":"workflow:owner","workflowId":"G8Ci4OeyUIwCJyXi","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2024-09-18T17:43:55.617Z","versionId":"522ffb19-e37a-4e85-8b47-251877855658"}