n8n/workflows/GitHub Backup Workflows.json
{"active":false,"connections":{"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"n8n1","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]},"n8n":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"github status]","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"github status]":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]}},"createdAt":"2024-09-23T21:05:48.885Z","id":"sn8lZfNz4fzotdBr","meta":{"templateCredsSetupCompleted":true},"name":"GitHub Backup Workflows","nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,640],"typeVersion":1,"id":"174891d1-9d62-448c-bce8-37324355527f"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"name":"GitHub","type":"n8n-nodes-base.github","position":[1840,480],"typeVersion":1,"alwaysOutputData":true,"id":"a1219d3e-8402-4353-b8bc-f95ae10bdb07","credentials":{"githubApi":{"id":"CXXwF2DXYDwIGtkl","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json","fileContent":"={{ $json.ordered.toJsonString() }}","commitMessage":"=[N8N Backup] {{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json ({{$json[\"github_status\"]}})","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[3500,1080],"typeVersion":1,"id":"7332b635-cbc0-41a1-b2f8-1cb279f8e01c","credentials":{"githubApi":{"id":"CXXwF2DXYDwIGtkl","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json","fileContent":"={{ $json.ordered.toJsonString() }}","commitMessage":"=[N8N Backup] {{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json ({{$json[\"github_status\"]}})","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"] }}"}}},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[3480,1380],"typeVersion":1,"id":"5d17a7b1-6393-48bd-8d5c-fb00a30229f5","credentials":{"githubApi":{"id":"CXXwF2DXYDwIGtkl","name":"GitHub account"}}},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[380,940],"typeVersion":1,"id":"d306898c-3a59-4516-84c6-d63a34685a97"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[1460,560],"typeVersion":1,"id":"6cf51749-08c3-4fc7-8a42-f7212c8c73ab"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"bitovi"},{"name":"repo.name","value":"bitbot"},{"name":"repo.path","value":"n8n/workflows"},{"name":"repo.branch","value":"n8n-workflows"}]},"options":{"dotNotation":true}},"name":"Globals","type":"n8n-nodes-base.set","position":[520,780],"typeVersion":1,"id":"41a49ffe-86c2-48ee-b1f0-471728c8cb70"},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"85f365ca-0e67-4ad2-a48b-06d1421d0744","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[720,780],"credentials":{"n8nApi":{"id":"2MQXXYUlzTQbn5BB","name":"n8n account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"8f91e0eb-94c4-45cc-87cc-f8d2902f6e09","name":"n8n1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1760,680],"credentials":{"n8nApi":{"id":"2MQXXYUlzTQbn5BB","name":"n8n account"}}},{"parameters":{"jsCode":"let github_result = $input.first().json;\nlet n8n_workflow_data = $input.last().json;\n\nconsole.log(\"github_result\");\nconsole.log(github_result)\n\n\nif (github_result.content) {\n    // Decode the Base64 content from GitHub\n    let contentDecoded = Buffer.from(github_result.content, 'base64').toString();\n    // Parse the JSON content\n    let origWorkflow = JSON.parse(contentDecoded);\n\n    // Get the workflow data from n8n\n    let n8nWorkflow = n8n_workflow_data;\n\n    // Order the JSON objects by keys\n    let orderedOriginal = {};\n    let orderedActual = {};\n\n    console.log(\"origWorkflow\")\n    console.log(origWorkflow)\n    Object.keys(origWorkflow).sort().forEach(key => {\n        orderedOriginal[key] = origWorkflow[key];\n    });\n\n    Object.keys(n8nWorkflow).sort().forEach(key => {\n        orderedActual[key] = n8nWorkflow[key];\n    });\n\n    console.log(\"ordered Original\")\n    console.log(orderedOriginal)\n    console.log(\"ordered Actual\")\n    console.log(orderedActual)\n    // Compare the ordered JSON objects\n    if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n        github_result.github_status = \"same\";\n        github_result.content_decoded = orderedOriginal;\n        github_result.ordered = orderedOriginal;\n    } else {\n        github_result.github_status = \"different\";\n        github_result.content_decoded = orderedOriginal;\n        github_result.n8n_data_string = JSON.stringify(orderedActual, null, 2);\n        github_result.ordered = orderedActual;\n    }\n} else {\n    // No content from GitHub; this is a new workflow\n    let n8nWorkflow = n8n_workflow_data;\n    let orderedActual = {};\n\n    console.log(\"n8nWorkflow\")\n    console.log(n8nWorkflow)\n    Object.keys(n8nWorkflow).sort().forEach(key => {\n        orderedActual[key] = n8nWorkflow[key];\n    });\n\n    // Set the status to \"new\" and store the ordered workflow data\n    github_result.github_status = \"new\";\n    github_result.n8n_data_string = JSON.stringify(orderedActual, null, 2);\n    github_result.ordered = orderedActual;\n}\n\n// Return the modified GitHub result\nreturn [{ json: github_result }];\n"},"id":"4deb8263-7873-49a4-9073-aba6334858cf","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2280,580]},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[3260,780],"typeVersion":1,"id":"538ef978-9c49-4719-bb89-a80e57a918bc"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[3280,1080],"typeVersion":1,"id":"b4ed41d2-16fe-475b-bab9-cac163047e40"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[3280,1380],"typeVersion":1,"id":"37e3f3da-8b07-4b9e-a0ac-e2a95e896254"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.github_status }}","rightValue":"same","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"426b00c2-0140-438f-81e7-1fe337bd5b96","leftValue":"={{ $json.github_status }}","rightValue":"different","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"370bb891-ae9a-4bdd-9698-61c367ba6191","leftValue":"={{ $json.github_status }}","rightValue":"new","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"id":"6c3ced6f-1ef6-40d2-938e-fc41160ed135","name":"github status]","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2500,580]},{"parameters":{},"id":"8306f651-fc84-4746-9e6f-04c029f7952c","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2060,580]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-23T21:05:48.885Z","updatedAt":"2024-09-23T21:05:48.885Z","role":"workflow:owner","workflowId":"sn8lZfNz4fzotdBr","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2024-09-23T22:21:14.765Z","versionId":"35a7d402-8282-412e-80fb-f7ab84c91302"}