n8n/workflows/Google Drive - Inbox Classifier.json
{"active":false,"connections":{"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"get classifications","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"get classifications":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Docs","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2024-09-16T04:59:36.125Z","id":"t3X0sTb5rymPtpX2","meta":{"templateCredsSetupCompleted":true},"name":"Google Drive - Inbox Classifier","nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"355771f6-4ee2-41f8-96a3-cdf94aabc9b9","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1360,520],"credentials":{"googleDriveOAuth2Api":{"id":"xNfxGGovy2fr6q67","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{"keepSource":"json"}},"id":"e488b092-acff-43d5-afb6-d563e0ffd130","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1540,520]},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1tuBd_jy2TK7dgRve3nXAZ0NftfOg-TXeepe7H2Ttycc/edit"},"id":"608497f5-e27f-4840-8259-b107b0b8543f","name":"get classifications","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[240,400],"credentials":{"googleDocsOAuth2Api":{"id":"q9pFkZfSoFZXSWqG","name":"Google Docs account"}}},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"1501e4a5-a15c-4e58-8285-dbfdf4a1e31b","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3080,400],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"classification\": \"research\",\n\t\"classification_reason\": \"The article is from arxiv\",\n    \"folder_path\": \"research\",\n    \"all_classifications\": [\"foo\",\"bar\"],\n    \"all_relevant_classifications\": [\"foo\"],\n  \"all_core_requirements\":[\"requirement1\"]\n}"},"id":"a43cb368-440e-41bd-b233-78e4eeabf1d7","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3280,400]},{"parameters":{"assignments":{"assignments":[{"id":"6a5e36a7-b3d5-4a49-9e5f-4f481d35f614","name":"classification_data","value":"={{ $json.output }}","type":"object"}]},"options":{}},"id":"0fd57b45-33e3-4969-bb1f-49022a93399f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3500,200]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YZ3FeOP6_ZKGmDgy_RWMIPPKo04NuRJAAGazAYycbEk","mode":"list","cachedResultName":"files_handled","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZ3FeOP6_ZKGmDgy_RWMIPPKo04NuRJAAGazAYycbEk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZ3FeOP6_ZKGmDgy_RWMIPPKo04NuRJAAGazAYycbEk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"new_path":"={{ $json.classification_data.folder_path }}","json_data":"={{ $json.classification_data }}","classifiction":"={{ $json.classification_data.classification }}","file_path":"={{ $('Switch').item.json.webViewLink }}","original_path":"inbox","classification_reason":"={{ $json.classification_data.classification_reason }}"},"matchingColumns":[],"schema":[{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"original_path","displayName":"original_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"new_path","displayName":"new_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"classifiction","displayName":"classifiction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"classification_reason","displayName":"classification_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"cf64803c-7946-4dd5-8dec-a08a0176f6d5","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3940,240],"credentials":{"googleSheetsOAuth2Api":{"id":"bg3aO19BU4Spdcgb","name":"Google Sheets account"}}},{"parameters":{},"id":"c5a94450-59c6-4f1b-b276-e55172a16dbb","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,400]},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1u9Xxgbba6wogU686LrzGdpv_WILqRpw6","mode":"list","cachedResultName":"inbox","cachedResultUrl":"https://drive.google.com/drive/folders/1u9Xxgbba6wogU686LrzGdpv_WILqRpw6"}},"options":{"fields":["webViewLink","id","kind","mimeType","name","version"]}},"id":"15d8dbe8-d1da-41e6-8870-a49556a8ed6a","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[500,400],"credentials":{"googleDriveOAuth2Api":{"id":"xNfxGGovy2fr6q67","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e392e9d0-8240-4ace-b1b0-87266190c0cf","leftValue":"={{ $json.name }}","rightValue":"files_handled","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"85b9b5cc-ff4b-4af1-bcfa-d59633251044","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[720,400]},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"id":"47b3d2b9-1d26-4a0c-89c2-f277d2057069","name":"Google Docs","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1440,360],"credentials":{"googleDocsOAuth2Api":{"id":"q9pFkZfSoFZXSWqG","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c9cf98d-970e-4328-b3ee-0b938e618be4","name":"text","value":"=title:{{ $('Switch').item.json.name }}\n{{ $json.content }}","type":"string"}]},"options":{}},"id":"8391d861-1b7d-433c-98f9-676ed8cb70d9","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,360]},{"parameters":{"assignments":{"assignments":[{"id":"54e05fd6-35ca-4a46-a350-c09f48e7c15a","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"387440ee-ddba-4080-b1f2-60e3579627cb","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,520]},{"parameters":{"assignments":{"assignments":[{"id":"55335ebb-9080-4b28-b1b4-acb1ccbb20c6","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"0af1a828-9174-41c8-aa10-26d7f5770ed5","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,420]},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"id":"daf9febd-38bf-43e9-8be6-a43ef18d3e39","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1980,420]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"google_doc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b2bcadb0-87b5-4b7a-b7c9-4e1a88e54916","leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":0}},"id":"9961c594-e61e-4c36-bace-990a9628fdac","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[940,400]},{"parameters":{"promptType":"define","text":"=classification requirements:\n---\n{{ $('get classifications').item.json.content }}\n---\n\ntext to classify:\n---\n{{ $json.text }}\n---","hasOutputParser":true,"messages":{"messageValues":[{"message":"You're an expert document classifier for google drive.\nWhen given document text, you quickly and expertly classify it based on the given classification requirements.\nAlways ensure to capture all of the requirement items. this part is extremely critical.\nalso, rigorously adhere to any requirements given to you by the user"}]}},"id":"9edd774c-16fd-4fdb-9a97-e30f8f83c062","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3080,180]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-16T04:59:36.125Z","updatedAt":"2024-09-16T04:59:36.125Z","role":"workflow:owner","workflowId":"t3X0sTb5rymPtpX2","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2024-09-16T06:24:43Z"}},"tags":[],"triggerCount":1,"updatedAt":"2024-09-16T13:52:59.480Z","versionId":"1301b842-afd9-4623-b48c-0b53245f254c"}