n8n/workflows/Jira DevOps - Vectorize.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Code","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"In-Memory Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Merge":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"In-Memory Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"In-Memory Vector Store":{"main":[[{"node":"Merge","type":"main","index":1}]]},"In-Memory Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"createdAt":"2024-09-10T13:46:54.629Z","id":"ZLl4hVfWDGssD0O6","meta":{"templateCredsSetupCompleted":true},"name":"Jira DevOps - Vectorize","nodes":[{"parameters":{},"id":"6e18daa0-bd13-43b6-ac44-c7109f8c35c9","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[700,360]},{"parameters":{"operation":"getAll","limit":5,"options":{"jql":"project = DEVOPS AND status NOT IN (Completed, Canceled, Closed) AND (labels NOT IN (\"bitbot-processing\",\"bitbot-processing-done\") OR labels IS EMPTY)"}},"id":"1b3ed890-c5ed-4166-bce7-d82e65a67f4b","name":"Jira Software","type":"n8n-nodes-base.jira","typeVersion":1,"position":[880,360],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}}},{"parameters":{"jsCode":"function formatValue(value, indentLevel = 0) {\n    const indent = '  '.repeat(indentLevel);\n    let formattedStr = \"\";\n\n    if (value === null || value === undefined) {\n        return `${indent}null\\n`;\n    }\n\n    if (typeof value === 'object' && !Array.isArray(value)) {\n        for (let [subKey, subValue] of Object.entries(value)) {\n            if (typeof subValue === 'object' && subValue !== null) {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                formattedStr += formatValue(subValue, indentLevel + 1);\n            } else {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${subValue}\\n`;\n            }\n        }\n    } else if (Array.isArray(value)) {\n        value.forEach(item => {\n            formattedStr += formatValue(item, indentLevel + 1);\n        });\n    } else {\n        formattedStr += `${indent}${value}\\n`;\n    }\n\n    return formattedStr;\n}\nfunction convertChunksToMessages(chunksList) {\n\n    const messages = [];\n\n    chunksList.forEach(chunk => {\n        for (let [chunkType, content] of Object.entries(chunk)) {\n            let message = `**${chunkType.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}**\\n`;\n\n            for (let [key, value] of Object.entries(content)) {\n                if (typeof value === 'object') {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                    message += formatValue(value, 1);\n                } else {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${value}\\n`;\n                }\n            }\n\n            messages.push(message.trim());\n        }\n    });\n\n    return messages;\n}\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet chunksList = [];\nfor (const item of $input.all()) {\n    const baseId = item.json.id;\n    const baseKey = item.json.key;\n\n    // Metadata chunk\n    chunksList.push({\n        metadata: {\n            id: baseId,\n            key: baseKey,\n            expand: item.json.expand,\n            self: item.json.self\n        }\n    });\n\n    // Issue Type and Parent chunk\n    const parentInfo = item.json.fields.parent || {};\n    chunksList.push({\n        issueTypeAndParent: {\n            id: baseId,\n            key: baseKey,\n            issuetype: item.json.fields.issuetype,\n            parent: parentInfo\n        }\n    });\n\n    // Project Information chunk\n    chunksList.push({\n        projectInformation: {\n            id: baseId,\n            key: baseKey,\n            project: item.json.fields.project\n        }\n    });\n\n    // Custom Fields chunk, one chunk per custom field with a value\n    Object.entries(item.json.fields).forEach(([field, value]) => {\n        if (field.startsWith(\"customfield_\") && value !== null) {\n            chunksList.push({\n                customField: {\n                    id: baseId,\n                    key: baseKey,\n                    [field]: value\n                }\n            });\n        }\n    });\n\n    // Assignee and Status chunk\n    chunksList.push({\n        assigneeAndStatus: {\n            id: baseId,\n            key: baseKey,\n            assignee: item.json.fields.assignee,\n            status: item.json.fields.status\n        }\n    });\n\n    // Creator, Reporter, and Summary chunk\n    chunksList.push({\n        creatorReporterAndSummary: {\n            id: baseId,\n            key: baseKey,\n            summary: item.json.fields.summary,\n            creator: item.json.fields.creator,\n            reporter: item.json.fields.reporter\n        }\n    });\n}\n\nreturn { chunks: convertChunksToMessages(chunksList) };"},"id":"0b3948ad-9a14-41ea-ad7a-99c80caa1591","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,360]},{"parameters":{"fieldToSplitOut":"chunks","options":{}},"id":"04dffaaa-cc88-4948-b74e-268c7ca9b4cf","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1320,360]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"7ec290d8-31e6-4325-aa3d-ad23c7bc4ad8","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1580,580],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks }}","options":{}},"id":"507fbe6a-a22a-425a-8eed-b561229bbec7","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1780,580]},{"parameters":{"chunkOverlap":50,"options":{}},"id":"b3df7ea3-5c19-40e9-a620-f3dd7892e5fc","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1780,800]},{"parameters":{"method":"PUT","url":"=https://bitovi.atlassian.net/rest/api/3/issue/{{ $json.key }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"update\": {\n    \"labels\": [\n      {\n        \"add\": \"bitbot-processing\"\n      }\n    ]\n  }\n}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"b95c1fc6-f957-4e11-8673-0dbed3e91399","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,620],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}}},{"parameters":{"method":"PUT","url":"=https://bitovi.atlassian.net/rest/api/3/issue/{{ $json.key }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"update\": {\n    \"labels\": [\n      {\n        \"add\": \"bitbot-processing-done\"\n      },\n      {\n        \"remove\": \"bitbot-processing\"\n      }\n    ]\n  }\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c67aa0f9-0e53-414f-97d7-e17b0a8ed614","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,20],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}}},{"parameters":{"mode":"chooseBranch"},"id":"3d006177-027a-4f97-a375-7570054db97e","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1880,100]},{"parameters":{"options":{}},"id":"b4df81bd-9f35-4e0c-890b-0efffcc4d406","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2800,840],"webhookId":"754bc478-b7eb-4adb-9944-df082b7b0a89"},{"parameters":{"model":"gpt-4o","options":{}},"id":"f319b627-d60a-481c-9002-a25e323495fd","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3000,860],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"name":"jira_devops","description":"devops jira tickets"},"id":"e6a5a673-ed33-49c4-ae28-e961ff69861f","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3200,860]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"d8abdff5-f8fa-43c0-af79-619ee968e24f","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[3140,1260],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"98be4cc5-60db-45b3-86cc-a79c255db85e","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3300,980],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"mode":"insert","memoryKey":"jira-devops"},"id":"5be2f0d7-eccf-48a3-b8e8-e0a2d507d9f8","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1580,360]},{"parameters":{"memoryKey":"jira-devops"},"id":"dcf50df6-f085-4aef-b28a-52c6cbec3ed4","name":"In-Memory Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[3140,1120]},{"parameters":{"contextWindowLength":15},"id":"f2977c8a-619b-4eea-bcd7-1f0e1db69663","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[3100,760]},{"parameters":{"agent":"conversationalAgent","options":{}},"id":"4326aacc-e1b7-4ea8-9277-bbd25a76b949","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3020,520]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-10T13:46:54.629Z","updatedAt":"2024-09-10T13:46:54.629Z","role":"workflow:owner","workflowId":"ZLl4hVfWDGssD0O6","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-12T15:56:00.697Z","updatedAt":"2024-09-12T15:56:00.697Z","id":"ybl4O9NnLw9GRSbI","name":"vectorize"}],"triggerCount":0,"updatedAt":"2024-09-23T07:03:22.445Z","versionId":"09181279-75fe-4748-8c75-0273227aedf8"}