n8n/workflows/Jira DevOps - Vectorize test.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0},{"node":"Jira Software1","type":"main","index":0},{"node":"Jira Software2","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"In-Memory Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"In-Memory Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"In-Memory Vector Store":{"main":[[{"node":"Merge","type":"main","index":1}]]},"In-Memory Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"test","type":"ai_embedding","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"clear","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"clear","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Jira Software1":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"In-Memory Vector Store4","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"In-Memory Vector Store4","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"In-Memory Vector Store4":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code1":{"main":[[{"node":"In-Memory Vector Store4","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Jira Software2":{"main":[[{"node":"Merge2","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"In-Memory Vector Store5","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"In-Memory Vector Store5","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"In-Memory Vector Store5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Code2":{"main":[[{"node":"In-Memory Vector Store5","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"test":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"createdAt":"2024-09-23T06:17:38.515Z","id":"zcKmJZGdPxayJyu9","meta":{"templateCredsSetupCompleted":true},"name":"Jira DevOps - Vectorize test","nodes":[{"parameters":{},"id":"dbc3fd32-7a5d-4a27-a7a7-306e97f1bea8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,-20]},{"parameters":{"operation":"getAll","limit":10,"options":{"jql":"project = DEVOPS AND status NOT IN (Completed, Canceled, Closed) AND (labels NOT IN (\"bitbot-processing\",\"bitbot-processing-done\") OR labels IS EMPTY)"}},"id":"811a7554-8014-4f5c-a4fe-a257d2954be6","name":"Jira Software","type":"n8n-nodes-base.jira","typeVersion":1,"position":[300,-460],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}},"disabled":true},{"parameters":{"jsCode":"function formatValue(value, indentLevel = 0) {\n    const indent = '  '.repeat(indentLevel);\n    let formattedStr = \"\";\n\n    if (value === null || value === undefined) {\n        return `${indent}null\\n`;\n    }\n\n    if (typeof value === 'object' && !Array.isArray(value)) {\n        for (let [subKey, subValue] of Object.entries(value)) {\n            if (typeof subValue === 'object' && subValue !== null) {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                formattedStr += formatValue(subValue, indentLevel + 1);\n            } else {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${subValue}\\n`;\n            }\n        }\n    } else if (Array.isArray(value)) {\n        value.forEach(item => {\n            formattedStr += formatValue(item, indentLevel + 1);\n        });\n    } else {\n        formattedStr += `${indent}${value}\\n`;\n    }\n\n    return formattedStr;\n}\nfunction convertChunksToMessages(chunksList) {\n\n    const messages = [];\n\n    chunksList.forEach(chunk => {\n        for (let [chunkType, content] of Object.entries(chunk)) {\n            let message = `**${chunkType.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}**\\n`;\n\n            for (let [key, value] of Object.entries(content)) {\n                if (typeof value === 'object') {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                    message += formatValue(value, 1);\n                } else {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${value}\\n`;\n                }\n            }\n\n            messages.push(message.trim());\n        }\n    });\n\n    return messages;\n}\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet chunksList = [];\nfor (const item of $input.all()) {\n    const baseId = item.json.id;\n    const baseKey = item.json.key;\n\n    // Metadata chunk\n    chunksList.push({\n        metadata: {\n            id: baseId,\n            key: baseKey,\n            expand: item.json.expand,\n            self: item.json.self\n        }\n    });\n\n    // Issue Type and Parent chunk\n    const parentInfo = item.json.fields.parent || {};\n    chunksList.push({\n        issueTypeAndParent: {\n            id: baseId,\n            key: baseKey,\n            issuetype: item.json.fields.issuetype,\n            parent: parentInfo\n        }\n    });\n\n    // Project Information chunk\n    chunksList.push({\n        projectInformation: {\n            id: baseId,\n            key: baseKey,\n            project: item.json.fields.project\n        }\n    });\n\n    // Custom Fields chunk, one chunk per custom field with a value\n    Object.entries(item.json.fields).forEach(([field, value]) => {\n        if (field.startsWith(\"customfield_\") && value !== null) {\n            chunksList.push({\n                customField: {\n                    id: baseId,\n                    key: baseKey,\n                    [field]: value\n                }\n            });\n        }\n    });\n\n    // Assignee and Status chunk\n    chunksList.push({\n        assigneeAndStatus: {\n            id: baseId,\n            key: baseKey,\n            assignee: item.json.fields.assignee,\n            status: item.json.fields.status\n        }\n    });\n\n    // Creator, Reporter, and Summary chunk\n    chunksList.push({\n        creatorReporterAndSummary: {\n            id: baseId,\n            key: baseKey,\n            summary: item.json.fields.summary,\n            creator: item.json.fields.creator,\n            reporter: item.json.fields.reporter\n        }\n    });\n}\n\nreturn { chunks: convertChunksToMessages(chunksList) };"},"id":"711eee2a-943c-4000-a894-07d45d294e35","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-460],"disabled":true},{"parameters":{"fieldToSplitOut":"chunks","options":{}},"id":"e2a05518-9685-4d9b-a3f9-34725a27e4c8","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[740,-460],"disabled":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"584b7248-8c6c-4f70-84a7-e74f3a207fc6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1000,-240],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks }}","options":{}},"id":"5e745b35-f8ac-42d0-a81a-f1e471277b8a","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1200,-240],"disabled":true},{"parameters":{"chunkOverlap":50,"options":{}},"id":"04d5ef6a-a279-4840-a60f-bad96658709a","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1200,-20],"disabled":true},{"parameters":{"options":{}},"id":"8e1b2af5-072f-4d2f-8fc2-f0e7bd5c1f40","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2120,1100],"webhookId":"11c75910-1a45-48ce-a540-6f013076d1e8"},{"parameters":{"model":"gpt-4o","options":{}},"id":"0cb79264-c22f-4431-bba1-12c174e1cbc9","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2320,1120],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"name":"jira_devops","description":"devops jira tickets"},"id":"803ece48-26a7-428c-ac9f-b5e5da7ed798","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2520,1120]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"10c7bdb4-264b-415a-8da2-2ae7b9892373","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2460,1520],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"919150f8-5d66-4c9a-8733-aea8dc65b8b5","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2620,1240],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":15},"id":"7519a5c1-06af-49f6-8d39-55619fdd9f9c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[2420,1020]},{"parameters":{"mode":"chooseBranch"},"id":"e1a557fa-c653-464f-a900-ee69e3646b81","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1300,-720],"disabled":true},{"parameters":{"mode":"insert","memoryKey":"jira-devops"},"id":"d6740b27-2150-482f-a485-c6f779e86d75","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1000,-460],"disabled":true},{"parameters":{"memoryKey":"jira-devops"},"id":"143c2e20-3cf7-43c5-914e-f3cbf69a1066","name":"In-Memory Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[2460,1380]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2c352cbd-af37-468e-97e3-e96528d6d769","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2560,-600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"8840ee3c-9ea5-4e45-b6a2-22cdef714c4d","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[2920,-740]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"daebf115-81f6-43c6-8ad9-297610b11dcf","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2000,-600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"a047fa43-2d91-43b5-baeb-88e81a1547a7","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2000,-480]},{"parameters":{},"id":"4af5e83b-2fe1-4e60-9e43-1ec6e06348e3","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2000,-340]},{"parameters":{"operation":"getAll","limit":10,"options":{"jql":"project = DEVOPS AND status NOT IN (Completed, Canceled, Closed) AND (labels NOT IN (\"bitbot-processing\",\"bitbot-processing-done\") OR labels IS EMPTY)"}},"id":"0d78b278-6754-4c90-8c5f-8eeabef4dcfd","name":"Jira Software1","type":"n8n-nodes-base.jira","typeVersion":1,"position":[260,600],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"03b9f991-83f7-474e-9fdb-064fd382333e","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[920,920],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks }}","options":{}},"id":"b4bcff50-ecd1-453c-bdd1-9853b5ead657","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1120,920],"disabled":true},{"parameters":{"chunkOverlap":50,"options":{}},"id":"9847fc7b-e55f-461a-b811-9792f092b87a","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1120,1140],"disabled":true},{"parameters":{"mode":"chooseBranch"},"id":"1018ec1e-473f-432b-a672-bb29f3b20d66","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1220,440],"disabled":true},{"parameters":{"mode":"insert","memoryKey":"jira-devops","clearStore":true},"id":"2fa26396-6dda-471c-a6d4-59b35541f073","name":"clear","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[2000,-740]},{"parameters":{"mode":"insert","memoryKey":"jira-devops"},"id":"ca8b5b4a-e721-4272-a23c-2c63eb18be0a","name":"In-Memory Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[920,700],"disabled":true},{"parameters":{"jsCode":"function processJiraItems($input) {\n  const allChunks = [];\n\n  for (const item of $input.all()) {\n    const issue = item.json;\n    const fields = issue.fields;\n    const chunks = [];\n\n    // Basic issue information\n    chunks.push(`\nIssue Key: ${issue.key}\nType: ${fields.issuetype.name}\nStatus: ${fields.status.name}\nPriority: ${fields.priority.name}\nProject: ${fields.project.key}\nCreated: ${fields.created}\nUpdated: ${fields.updated}\n${fields.assignee && fields.assignee.displayName ? `Assignee: ${fields.assignee.displayName}` : ''}\n${fields.parent && fields.parent.key ? `\nParent: ${fields.parent.key}\nParent Type: ${fields.parent.fields.issuetype.name}\nParent Status: ${fields.parent.fields.status.name}` : ''}\n    `.trim());\n\n    // Description as a separate chunk if present\n    if (fields.description) {\n      chunks.push(`Description for ${issue.key}:\\n${fields.description}`);\n    }\n\n    // Components as a separate chunk if present\n    if (fields.components && fields.components.length > 0) {\n      chunks.push(`Components for ${issue.key}:\\n${fields.components.map(c => `- ${c.name}`).join('\\n')}`);\n    }\n\n    // Issue links as a separate chunk if present\n    if (fields.issuelinks && fields.issuelinks.length > 0) {\n      const linkChunk = [`Issue links for ${issue.key}:`];\n      for (const link of fields.issuelinks) {\n        if (link.inwardIssue) {\n          linkChunk.push(`- ${link.type.inward} ${link.inwardIssue.key}`);\n        } else if (link.outwardIssue) {\n          linkChunk.push(`- ${link.type.outward} ${link.outwardIssue.key}`);\n        }\n      }\n      chunks.push(linkChunk.join('\\n'));\n    }\n\n    allChunks.push(...chunks);\n  }\n\n  return { chunks: allChunks };\n}\n\n// Usage\nconst result = processJiraItems($input);\nreturn result;"},"id":"f7fb1c38-c23e-4f35-81ea-3aa230f337eb","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,720],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"85f2adb5-e0bf-4841-bbd2-6a10d4febb31","name":"self","value":"={{ $json.self }}","type":"string"},{"id":"6743d664-1e20-4b59-b8f9-23acca25ffe8","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"d4b06fbc-a94a-4ec0-aa68-d496c25245ce","name":"fields.issuetype.name","value":"={{ $json.fields.issuetype.name }}","type":"string"},{"id":"5785fab1-8101-4ae8-acec-b7223c745a9e","name":"fields.issuetype.self","value":"={{ $json.fields.issuetype.self }}","type":"string"},{"id":"67ba5f6f-51ed-4222-998f-4047c1df1cce","name":"fields.parent.self","value":"={{ $json.fields.parent.self }}","type":"string"},{"id":"e244de6e-ae96-4c0e-8521-8066075f4880","name":"fields.parent.key","value":"={{ $json.fields.parent.key }}","type":"string"},{"id":"9df74fb7-9be8-49a6-b93a-996ebe29d368","name":"fields.parent.fields.status.name","value":"={{ $json.fields.parent.fields.status.name }}","type":"string"},{"id":"1657ab06-6135-4f2c-a906-f634ac798507","name":"fields.parent.fields.priority.name","value":"={{ $json.fields.parent.fields.priority.name }}","type":"string"},{"id":"c7fb2a0c-7863-4738-9634-915c90f6a171","name":"fields.parent.fields.issuetype.name","value":"={{ $json.fields.parent.fields.issuetype.name }}","type":"string"},{"id":"5c9ddaa2-3e0b-4deb-8106-0c36b9476786","name":"fields.project.key","value":"={{ $json.fields.project.key }}","type":"string"},{"id":"55c80cb5-ea18-42cf-906e-7546cbed0e2a","name":"fields.project.id","value":"={{ $json.fields.project.id }}","type":"string"},{"id":"4f863c9b-d44d-483b-bfa7-3825cc2210dc","name":"fields.project.self","value":"={{ $json.fields.project.self }}","type":"string"},{"id":"0c5f8a50-9494-4eb2-ad72-3ee659e5d49c","name":"fields.project.projectCategory.name","value":"={{ $json.fields.project.projectCategory.name }}","type":"string"},{"id":"b4671dc6-25f8-4923-9e32-c4edb5b99c86","name":"fields.resolution","value":"={{ $json.fields.resolution }}","type":"string"},{"id":"58c97594-e3e4-4e04-ad56-42336007cb2f","name":"fields.statuscategorychangedate","value":"={{ $json.fields.statuscategorychangedate }}","type":"string"},{"id":"416069d1-b8b6-480b-800f-bfccbac05afc","name":"fields.created","value":"={{ $json.fields.created }}","type":"string"},{"id":"34ef8654-e9d4-4fca-82ed-c546cbb87448","name":"fields.priority.name","value":"={{ $json.fields.priority.name }}","type":"string"},{"id":"b4ae934d-813f-4690-81a1-a50b0520b846","name":"fields.priority.self","value":"={{ $json.fields.priority.self }}","type":"string"},{"id":"21b96de2-7886-4ff5-a921-dda57a03c05e","name":"fields.issuelinks","value":"={{ $json.fields.issuelinks }}","type":"array"},{"id":"8ca4baa2-3c50-4e00-bf3e-3ceb6121faca","name":"fields.assignee.self","value":"={{ $json.fields.assignee.self }}","type":"string"},{"id":"4292f950-3a4f-4cb8-b437-118acf1de183","name":"fields.assignee.emailAddress","value":"={{ $json.fields.assignee.emailAddress }}","type":"string"},{"id":"7a76b42a-2927-403c-9923-a735276f531d","name":"fields.assignee.displayName","value":"={{ $json.fields.assignee.displayName }}","type":"string"},{"id":"9054427b-c4f4-4f2a-8841-aeeb59cb22b5","name":"fields.assignee.active","value":"={{ $json.fields.assignee.active }}","type":"boolean"},{"id":"050f0755-cf77-48b9-a014-be196ea534cd","name":"fields.updated","value":"={{ $json.fields.updated }}","type":"string"},{"id":"986fd25e-2518-45f4-b9c9-4fbca315d688","name":"fields.status.self","value":"={{ $json.fields.status.self }}","type":"string"},{"id":"819872f9-a594-4a69-a06b-d70dcee5496f","name":"fields.status.name","value":"={{ $json.fields.status.name }}","type":"string"},{"id":"3d3a58c7-9fab-4ef4-89ec-f5bc9bd8eaf3","name":"fields.components","value":"={{ $json.fields.components }}","type":"array"},{"id":"8bfa86c7-e2df-4bde-86fd-12547e4b78e6","name":"fields.description","value":"={{ $json.fields.description }}","type":"string"},{"id":"f4cbb83a-5162-4f13-ab73-ba523d8160f8","name":"fields.creator.self","value":"={{ $json.fields.creator.self }}","type":"string"},{"id":"9f5a907f-d92a-4048-be95-8187e7feaee6","name":"fields.creator.emailAddress","value":"={{ $json.fields.creator.emailAddress }}","type":"string"},{"id":"41d93ae1-5413-46f7-b26b-1c2ae7e7948c","name":"fields.reporter.self","value":"={{ $json.fields.reporter.self }}","type":"string"},{"id":"bf64258d-7e70-4786-aff7-b8d66cf9d1aa","name":"fields.reporter.emailAddress","value":"={{ $json.fields.reporter.emailAddress }}","type":"string"}]},"options":{}},"id":"a633da98-aacc-4f55-8675-c295f5012a81","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,700],"disabled":true},{"parameters":{"operation":"getAll","limit":100,"options":{"jql":"project = DEVOPS AND status NOT IN (Completed, Canceled, Closed) AND (labels NOT IN (\"bitbot-processing\",\"bitbot-processing-done\") OR labels IS EMPTY)"}},"id":"867939d1-f218-498f-91d4-3ca46a0acee4","name":"Jira Software2","type":"n8n-nodes-base.jira","typeVersion":1,"position":[360,1660],"credentials":{"jiraSoftwareCloudApi":{"id":"Rpu2R0XXhWsBoA7c","name":"Jira SW Cloud account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"84969dda-140f-4be9-906c-c72ade0d24bc","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1020,1980],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks }}","options":{}},"id":"cc3f6364-8162-47c7-b7c9-0124a8cf5f2f","name":"Default Data Loader3","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1220,1980]},{"parameters":{"chunkOverlap":50,"options":{}},"id":"8df8aa30-e3ed-439b-b939-9c988849e751","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1220,2200]},{"parameters":{"mode":"chooseBranch"},"id":"0ac01f93-1903-4021-ba95-78463cf3a0a0","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1320,1500]},{"parameters":{"mode":"insert","memoryKey":"jira-devops"},"id":"6da563a6-2ae4-4f25-8476-dabf09cdf167","name":"In-Memory Vector Store5","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1020,1760]},{"parameters":{"jsCode":"function processJiraItems($input) {\n  const chunks = [];\n\n  for (const item of $input.all()) {\n    const issue = item.json;\n    const fields = issue.fields;\n    \n    let chunk = `\nIssue Key: ${issue.key}\nType: ${fields.issuetype.name}\nStatus: ${fields.status.name}\nPriority: ${fields.priority.name}\nProject: ${fields.project.key}\nCreated: ${fields.created}\nUpdated: ${fields.updated}\n${fields.assignee && fields.assignee.displayName ? `Assignee: ${fields.assignee.displayName}` : ''}\n${fields.parent && fields.parent.key ? `Parent: ${fields.parent.key}\nParent Type: ${fields.parent.fields.issuetype.name}\nParent Status: ${fields.parent.fields.status.name}` : ''}\n\nDescription:\n${fields.description || 'No description provided'}\n\nComponents:\n${fields.components && fields.components.length > 0 \n  ? fields.components.map(c => `- ${c.name}`).join('\\n') \n  : 'No components specified'}\n\nIssue Links:\n${fields.issuelinks && fields.issuelinks.length > 0 \n  ? fields.issuelinks.map(link => {\n      if (link.inwardIssue) {\n        return `- ${link.type.inward} ${link.inwardIssue.key}`;\n      } else if (link.outwardIssue) {\n        return `- ${link.type.outward} ${link.outwardIssue.key}`;\n      }\n      return '';\n    }).join('\\n')\n  : 'No issue links'}\n    `.trim();\n\n    chunks.push(chunk);\n  }\n\n  return { chunks: chunks };\n}\n\n// Usage\nconst result = processJiraItems($input);\nreturn result;"},"id":"d564a04b-f4d2-4ea9-8492-2d0fe1f09043","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,1780]},{"parameters":{"assignments":{"assignments":[{"id":"85f2adb5-e0bf-4841-bbd2-6a10d4febb31","name":"self","value":"={{ $json.self }}","type":"string"},{"id":"6743d664-1e20-4b59-b8f9-23acca25ffe8","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"d4b06fbc-a94a-4ec0-aa68-d496c25245ce","name":"fields.issuetype.name","value":"={{ $json.fields.issuetype.name }}","type":"string"},{"id":"5785fab1-8101-4ae8-acec-b7223c745a9e","name":"fields.issuetype.self","value":"={{ $json.fields.issuetype.self }}","type":"string"},{"id":"67ba5f6f-51ed-4222-998f-4047c1df1cce","name":"fields.parent.self","value":"={{ $json.fields.parent.self }}","type":"string"},{"id":"e244de6e-ae96-4c0e-8521-8066075f4880","name":"fields.parent.key","value":"={{ $json.fields.parent.key }}","type":"string"},{"id":"9df74fb7-9be8-49a6-b93a-996ebe29d368","name":"fields.parent.fields.status.name","value":"={{ $json.fields.parent.fields.status.name }}","type":"string"},{"id":"1657ab06-6135-4f2c-a906-f634ac798507","name":"fields.parent.fields.priority.name","value":"={{ $json.fields.parent.fields.priority.name }}","type":"string"},{"id":"c7fb2a0c-7863-4738-9634-915c90f6a171","name":"fields.parent.fields.issuetype.name","value":"={{ $json.fields.parent.fields.issuetype.name }}","type":"string"},{"id":"5c9ddaa2-3e0b-4deb-8106-0c36b9476786","name":"fields.project.key","value":"={{ $json.fields.project.key }}","type":"string"},{"id":"55c80cb5-ea18-42cf-906e-7546cbed0e2a","name":"fields.project.id","value":"={{ $json.fields.project.id }}","type":"string"},{"id":"4f863c9b-d44d-483b-bfa7-3825cc2210dc","name":"fields.project.self","value":"={{ $json.fields.project.self }}","type":"string"},{"id":"0c5f8a50-9494-4eb2-ad72-3ee659e5d49c","name":"fields.project.projectCategory.name","value":"={{ $json.fields.project.projectCategory.name }}","type":"string"},{"id":"b4671dc6-25f8-4923-9e32-c4edb5b99c86","name":"fields.resolution","value":"={{ $json.fields.resolution }}","type":"string"},{"id":"58c97594-e3e4-4e04-ad56-42336007cb2f","name":"fields.statuscategorychangedate","value":"={{ $json.fields.statuscategorychangedate }}","type":"string"},{"id":"416069d1-b8b6-480b-800f-bfccbac05afc","name":"fields.created","value":"={{ $json.fields.created }}","type":"string"},{"id":"34ef8654-e9d4-4fca-82ed-c546cbb87448","name":"fields.priority.name","value":"={{ $json.fields.priority.name }}","type":"string"},{"id":"b4ae934d-813f-4690-81a1-a50b0520b846","name":"fields.priority.self","value":"={{ $json.fields.priority.self }}","type":"string"},{"id":"21b96de2-7886-4ff5-a921-dda57a03c05e","name":"fields.issuelinks","value":"={{ $json.fields.issuelinks }}","type":"array"},{"id":"8ca4baa2-3c50-4e00-bf3e-3ceb6121faca","name":"fields.assignee.self","value":"={{ $json.fields.assignee.self }}","type":"string"},{"id":"4292f950-3a4f-4cb8-b437-118acf1de183","name":"fields.assignee.emailAddress","value":"={{ $json.fields.assignee.emailAddress }}","type":"string"},{"id":"7a76b42a-2927-403c-9923-a735276f531d","name":"fields.assignee.displayName","value":"={{ $json.fields.assignee.displayName }}","type":"string"},{"id":"9054427b-c4f4-4f2a-8841-aeeb59cb22b5","name":"fields.assignee.active","value":"={{ $json.fields.assignee.active }}","type":"boolean"},{"id":"050f0755-cf77-48b9-a014-be196ea534cd","name":"fields.updated","value":"={{ $json.fields.updated }}","type":"string"},{"id":"986fd25e-2518-45f4-b9c9-4fbca315d688","name":"fields.status.self","value":"={{ $json.fields.status.self }}","type":"string"},{"id":"819872f9-a594-4a69-a06b-d70dcee5496f","name":"fields.status.name","value":"={{ $json.fields.status.name }}","type":"string"},{"id":"3d3a58c7-9fab-4ef4-89ec-f5bc9bd8eaf3","name":"fields.components","value":"={{ $json.fields.components }}","type":"array"},{"id":"8bfa86c7-e2df-4bde-86fd-12547e4b78e6","name":"fields.description","value":"={{ $json.fields.description }}","type":"string"},{"id":"f4cbb83a-5162-4f13-ab73-ba523d8160f8","name":"fields.creator.self","value":"={{ $json.fields.creator.self }}","type":"string"},{"id":"9f5a907f-d92a-4048-be95-8187e7feaee6","name":"fields.creator.emailAddress","value":"={{ $json.fields.creator.emailAddress }}","type":"string"},{"id":"41d93ae1-5413-46f7-b26b-1c2ae7e7948c","name":"fields.reporter.self","value":"={{ $json.fields.reporter.self }}","type":"string"},{"id":"bf64258d-7e70-4786-aff7-b8d66cf9d1aa","name":"fields.reporter.emailAddress","value":"={{ $json.fields.reporter.emailAddress }}","type":"string"}]},"options":{}},"id":"8e52091d-78ad-41db-81e6-aa96c2874086","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,1760]},{"parameters":{"mode":"load","memoryKey":"jira-devops","prompt":"tickets with acceptance criteria","topK":20},"id":"9cfbff65-f8dc-43bc-89ce-9f4c9fb61daf","name":"test","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[2540,-740]},{"parameters":{"options":{}},"id":"d313add6-c4f8-4601-b74e-49115d97a72f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2340,780]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-23T06:17:38.515Z","updatedAt":"2024-09-23T06:17:38.515Z","role":"workflow:owner","workflowId":"zcKmJZGdPxayJyu9","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-10T13:40:28.146Z","updatedAt":"2024-09-10T13:40:28.146Z","id":"RGFPzbuzJ3fHIhnF","name":"test"},{"createdAt":"2024-09-12T15:56:00.697Z","updatedAt":"2024-09-12T15:56:00.697Z","id":"ybl4O9NnLw9GRSbI","name":"vectorize"}],"triggerCount":0,"updatedAt":"2024-09-23T07:02:51.720Z","versionId":"3ecccc1c-31d2-4c9a-bf8e-c70ad08fe194"}