n8n/workflows/KB with sources tool - pinecone.json
{"active":false,"connections":{"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Contextual Compression Retriever","type":"ai_retriever","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0},{"node":"Contextual Compression Retriever","type":"ai_languageModel","index":0}]]},"Contextual Compression Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Pinecone Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"4o-mini-reranker","type":"ai_languageModel","index":0}]]},"Sort":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"4o-mini-reranker","type":"ai_embedding","index":0}]]},"Edit Fields":{"main":[[{"node":"4o-mini-reranker","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"4o-mini-reranker":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"createdAt":"2024-09-12T16:25:25.266Z","id":"AtkApSEqjAGA7NKT","meta":{"templateCredsSetupCompleted":true},"name":"KB with sources tool - pinecone","nodes":[{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"b232e242-d431-4227-9ff9-e4c9d4be7664","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[800,840],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"topK":10},"id":"69cb8737-bbcb-4b01-a7ad-b870d1613511","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[880,480],"disabled":true},{"parameters":{"promptType":"define","text":"=Always cite sources with URLs for your answers (use markdown format).\nHere is the question:\n---\n{{ $json.query }}\n---"},"id":"2b914a17-e707-4d59-880d-72aef023cde0","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.3,"position":[480,60],"disabled":true},{"parameters":{"model":"gpt-4o","options":{}},"id":"a38a9d43-5a66-41ca-b59f-a24a75589b90","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,540],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{},"id":"5398510f-add8-4031-97d4-dc3828dde931","name":"Contextual Compression Retriever","type":"@n8n/n8n-nodes-langchain.retrieverContextualCompression","typeVersion":1,"position":[880,240],"disabled":true},{"parameters":{},"id":"fbde1f8e-b55b-4751-8540-fba06d275208","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1800,380]},{"parameters":{"model":"gpt-4o","options":{}},"id":"54052b46-01f4-4815-88a3-9de89520b85d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,1320],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"name":"site_knowledgebase","description":"Bitovi.com knowledgebase","topK":10},"id":"6e5837af-775f-4044-b49b-81ce44bad211","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[700,1480],"disabled":true},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"fb43e64f-757f-4d86-93d2-641dbd2ea29e","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[780,1620],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e52d0cf6-9122-4f82-9919-d8589d562aaa","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[600,1860],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"={{ $json.pineconeIndex }}","mode":"id"},"options":{"pineconeNamespace":"={{ $json.pineconeNamespace }}"}},"id":"6cebb7e6-d66a-473f-ade1-9cd2b238f34e","name":"Pinecone Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[860,700],"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}},"disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"={{ $json.pineconeIndex }}","mode":"id"},"options":{"pineconeNamespace":"={{ $json.pineconeNamespace }}"}},"id":"bd54a8c7-58ab-416c-becc-e5a5057df9cd","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[600,1740],"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}},"disabled":true},{"parameters":{},"id":"fe92e6a1-8b0b-449e-81b2-945b0479d171","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[980,1380],"disabled":true},{"parameters":{"model":"gpt-4o","options":{}},"id":"07d0710c-3f01-48cf-8b96-5d14f9f44764","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[980,1600],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}},"disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"AgentResponse\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"The user's original query\"\n    },\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"A string value that is the model's answer\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"description\": \"An array of result items\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"query\": {\n            \"type\": \"string\",\n            \"description\": \"The query variant that was used to generate this result item\"\n          },\n          \"response\": {\n            \"type\": \"string\",\n            \"description\": \"A string value that is the vector store's answer\"\n          },\n          \"metadata\": {\n            \"type\": \"object\",\n            \"description\": \"The actual hard metadata from the vector store retriever\",\n            \"additionalProperties\": true\n          }\n        },\n        \"required\": [\"query\", \"response\", \"metadata\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"query\", \"response\", \"results\"],\n  \"additionalProperties\": false\n}\n"},"id":"f66b08ae-5287-494d-87c1-8914cdc55ef0","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1060,1780],"disabled":true},{"parameters":{"promptType":"define","text":"=You are an intelligent assistant tasked with answering user questions by searching a knowledgebase. Please follow these instructions carefully:\n\n1. **Broaden the Query**:\n   - Generate multiple variations of the user's query to broaden the search scope.\n   - Consider synonyms, related terms, and alternative phrasings.\n\n2. **Search the Knowledgebase**:\n   - Use each query variation to search the knowledgebase.\n   - Collect all relevant information from the results.\n\n3. **Aggregate Results**:\n   - Combine the findings from all query variations.\n   - Ensure that the aggregated information is comprehensive and addresses all aspects of the user's question.\n\n4. **Formulate the Answer**:\n   - Craft a clear and informative response based on the aggregated information.\n   - Use your own words and avoid copying text verbatim unless it's a direct quote (which should be indicated as such).\n\n5. **Return Structured Response**:\n   - Provide the final answer in the following JSON format, ensuring it conforms to the specified JSON Schema.\n\n**Important Notes**:\n\n- **Accuracy and Clarity**: Ensure that your answer is accurate, clear, and directly addresses the user's question.\n- **Formatting**: Return the response strictly in the JSON format provided. Do not include any additional text outside the JSON structure.\n- **Metadata**: Include the actual metadata retrieved from the knowledgebase in the `metadata` field for each result item.\n\nHere is the user's question:\n\n---\n\n{{ $json.query }}\n\n---\n","hasOutputParser":true,"options":{}},"id":"fdbed43a-4e43-41f8-affd-c042d6a3eb0b","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[680,1160],"disabled":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"9b789715-a031-4c36-8223-adf7cd7ca874","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[3280,680],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"fef81627-7f71-4f69-94dd-3c00875b18a2","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3660,500]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"b2e498d7-049f-4574-8eb0-6ef524c4c400","name":"OpenAI Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4340,660],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"03027499-0bbd-4f2e-9d6e-a8e98c9ca640","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[4460,660],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"03936efd-e543-4f4c-a9db-332b209556e8","name":"query","value":"={{ $('Execute Workflow Trigger').item.json.query }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"f30037f1-0587-4b14-afa9-43136d576d88","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document"}]},"options":{}},"id":"ebadbb3a-cb04-47e8-bc7b-26b27c6170e2","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4200,180]},{"parameters":{"jsCode":"const item =$input.first();\nlet sources = {};\nconsole.log(\"item\")\nconsole.log(item)\nitem.json.results.forEach(result => {\n  let currentVal = sources[result.metadata.url] || 0;\n  sources[result.metadata.url] = currentVal++\n})\nitem.json.response = `\n${item.json.response}\n\n*Sources Considered:*\n- ${Object.keys(sources).join(\"\\n- \")}\n`;\n\n\nreturn item"},"id":"423c683f-c812-4cec-9f5f-31492d0dc258","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5420,300]},{"parameters":{"code":{"execute":{"code":"function _log() {\n    console.log(\"\");\n    console.log(\"---\");\n    console.log(...arguments);\n    console.log(\"---\");\n    console.log(\"\");\n  }\n\n  _log(\"this\",this)\n  \n  // 1. Get Inputs\n  const chunks = this.getInputData();\n  _log(\"chunks\", chunks);\n\n  //assume the user query on the first result is the same for all (for now)\n  const userQuery = chunks[0].json.query;\n\n  const embedding = await this.getInputConnectionData('ai_embedding', 0);\n  _log(\"embeddings\",embedding)  \n  \n  \n  const llm = await this.getInputConnectionData('ai_languageModel', 0);\n  _log(\"llm\",llm);\n  \n  const systemPrompt = `\nYou are an advanced language model designed to provide precise and accurate answers based on the provided context. Your goal is to synthesize information from the given documents to answer the user's query comprehensively. \n\n**Instructions:**\n1. **Understand the Context:** Carefully read and comprehend the provided context.\n2. **Answer Accurately:** Generate a clear and concise response that directly addresses the user's question using information from the context.\n3. **Cite Sources:** Always, reference the sources of your information by including their URLs in markdown format, e.g., [Source Title](URL).\n4. **Maintain Objectivity:** Ensure that your response is unbiased and based solely on the provided context.\n5. **Avoid Hallucinations:** Do not include information that is not present in the context.\n\n**Context:**\n{context}\n\n**User Question:**\n{question}\n  `;\n  \n  // 3. Implement OpenAI Rerank Logic\n  async function rerankDocumentsOpenAI(chunks) {\n      const documents = chunks.map((chunk) => chunk.json.document);\n      const documentTexts = documents.map((doc) => doc.pageContent);\n      \n      _log(\"rerankDocumentsOpenAI\", chunks, \"documents\", documents, \"documentTexts\", documentTexts);\n    // Get the embedding of the query\n    const queryEmbedding = await embedding.embedQuery(userQuery);\n    \n  \n    // Get the embeddings of all documents\n    const documentEmbeddings = await embedding.embedDocuments(documentTexts);\n  \n    // Compute cosine similarities and assign scores\n    for (let i = 0; i < documents.length; i++) {\n      const docEmbedding = documentEmbeddings[i];\n      const score = cosineSimilarity(queryEmbedding, docEmbedding);\n  \n      // Update the chunk's score\n      chunks[i].json.score = score;\n      // Optionally, include the score in the document's metadata\n      documents[i].metadata.score = score;\n    }\n  \n    // Sort chunks by score descending\n    chunks.sort((a, b) => b.json.score - a.json.score);\n  \n    // Extract the documents from the sorted chunks\n    const rerankedDocuments = chunks.map((chunk) => chunk.json.document);\n  \n    return rerankedDocuments;\n  }\n  \n  // Helper function to compute cosine similarity\n  function cosineSimilarity(vecA, vecB) {\n    let dotProduct = 0;\n    let normA = 0;\n    let normB = 0;\n    for (let i = 0; i < vecA.length; i++) {\n      dotProduct += vecA[i] * vecB[i];\n      normA += vecA[i] ** 2;\n      normB += vecB[i] ** 2;\n    }\n    return dotProduct / (Math.sqrt(normA) * Math.sqrt(normB));\n  }\n  \n  // 4. Rerank the documents\n  const rerankedDocuments = await rerankDocumentsOpenAI(chunks);\n  _log(\"rerankedDocuments\", rerankedDocuments);\n\n  const context = rerankedDocuments.map(doc => doc.pageContent).join(\"\\n\\n\");\n  \n  // 5. Set up the prompt and chain\n  const { ChatPromptTemplate } = require(\"@langchain/core/prompts\");\n \n  const prompt = ChatPromptTemplate.fromMessages([\n    [\"system\", `${systemPrompt}\\nYou have the following context:\\n{context}\\n\\n`],\n    [\"human\", \"{question}\"],\n  ]);\n  \n  const chain = prompt.pipe(llm)\n  \n  // 6. Use the chain with the reranked documents\n  const output = await chain.invoke({\n    context: context,\n    question: userQuery\n  });\n  \n  return [{ json: { output } }];\n  "}},"inputs":{"input":[{"type":"ai_languageModel","maxConnections":1,"required":true},{"type":"main","required":true},{"type":"ai_embedding","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"e1f26140-e44a-4ab3-8b87-f5939d473a20","name":"4o-mini-reranker","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[4320,460],"retryOnFail":true},{"parameters":{"mode":"combine","fieldsToMatchString":"foo","joinMode":"keepEverything","options":{}},"id":"6be11fe2-a8b5-40de-b3bc-0fd8f373788d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4880,300]},{"parameters":{"jsCode":"const results = $input.first().json.document;\nconst response = $input.last().json.output.kwargs.content;\n\nlet ret = {\n  \"results\": results,\n  \"response\": response\n};\n\nreturn ret"},"id":"546fc730-0685-4b92-94c2-23a5ea022e69","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[5020,300]},{"parameters":{"content":"## Merge + Code\nmerge returns 2 items (# of inputs).  use code to extract.","height":347.63077336473197,"width":390.36164714844926},"id":"634a5b8d-adc7-4147-90e4-319ec075a94a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4780,120]},{"parameters":{"model":"gpt-4o","options":{}},"id":"4d862c7b-88e4-4264-b3e9-e6503fb96f6a","name":"OpenAI Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2320,720],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"alternatives\": [\"California\", \"where is california\"]\n}"},"id":"58ce2569-7ef4-4498-ab33-17db1112843c","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2480,720]},{"parameters":{"promptType":"define","text":"=You are an intelligent assistant specialized in enhancing search queries for a web technology consulting company, Bitovi. Given an input query, generate a list of 10 alternative lookup terms or phrases that can be used to search a knowledgebase more effectively. These alternatives should include synonyms, related terms, and different phrasings that capture the essence of the original query.\n\n**Input Query:**\n{{ $json.query }}\n","hasOutputParser":true},"id":"6483edbe-1b53-4a47-811c-45284d9a79d4","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2280,500]},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"={{ $('Execute Workflow Trigger').first().json.pineconeIndex }}","mode":"id"},"prompt":"=original_query: {{ $('Execute Workflow Trigger').first().json.query }}\n\nAlternatives:\n- {{ $json.output.alternatives.join('\\n- ') }}","topK":25,"options":{"pineconeNamespace":"={{ $('Execute Workflow Trigger').first().json.pineconeNamespace }}"}},"id":"12eca92d-f63b-4f35-a752-0724c3aabfe7","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[3280,500],"retryOnFail":true,"credentials":{"pineconeApi":{"id":"oSTVXOA6yd1gAbaG","name":"PineconeApi account"}}}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"modlet","pineconeIndex":"bitbot-webcrawl-bitovi","pineconeNamespace":"bitovi-site"}}],"Basic LLM Chain":[{"json":{"output":{"alternatives":["modulelet","JavaScript module","JS component","code modularization","codemodule","software fragment","reusable module","micro component","modular code unit","code plugin"]}}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-12T16:25:25.266Z","updatedAt":"2024-09-12T16:25:25.266Z","role":"workflow:owner","workflowId":"AtkApSEqjAGA7NKT","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"}],"triggerCount":0,"updatedAt":"2024-09-23T19:36:55.730Z","versionId":"bd88f6ae-a881-4941-9d25-ab72175d93d7"}