n8n/workflows/Slack Vectorization - test.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2024-09-13T19:44:47.244Z","id":"IXfbbclXr6fdqd5c","meta":{"templateCredsSetupCompleted":true},"name":"Slack Vectorization - test","nodes":[{"parameters":{},"id":"1ec1a26f-ebc8-41a1-9e64-bb7940f138a7","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[700,360]},{"parameters":{"authentication":"oAuth2","operation":"search","query":"in:#bitbot-testing","options":{}},"id":"c950a413-533c-45b6-a125-ca52661aa7e1","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[920,360],"credentials":{"slackOAuth2Api":{"id":"RpvHxxdjLK7MrVD7","name":"Slack account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4fbba0a5-d37d-4f70-9a31-6d7110beeccc","name":"team","value":"={{ $json.team }}","type":"string"},{"id":"cca3b87b-bfbb-4eac-b0e9-61623498a063","name":"iid","value":"={{ $json.iid }}","type":"string"},{"id":"9de45ea7-6e1a-4049-96c5-d49f0820eda3","name":"channel.id","value":"={{ $json.channel.id }}","type":"string"},{"id":"694bbd03-b146-4653-b014-ebb78710e3f0","name":"channel.name","value":"={{ $json.channel.name }}","type":"string"},{"id":"7821082e-a110-4f88-8554-295f20c1c2db","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"ad4584c3-4178-4e12-b5a2-845a73d8a456","name":"user","value":"={{ $json.user }}","type":"string"},{"id":"eb28b430-914c-4ee1-82de-6e9eed60a283","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"959ce17d-eb37-4389-af85-79358bba2842","name":"ts","value":"={{ $json.ts }}","type":"string"},{"id":"d6d2b0a2-d8fc-4c82-abad-f2c89c9fb2f5","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"ac5a076b-421d-4c56-94f8-87a19f71368c","name":"permalink","value":"={{ $json.permalink }}","type":"string"},{"id":"9250cd00-b074-43bf-b352-8e847f613cd0","name":"blocks","value":"={{ $json.blocks }}","type":"string"},{"id":"35b8a5f2-b6d8-4850-8e48-7cdad42c7006","name":"attachments","value":"={{ $json.attachments }}","type":"string"}]},"options":{}},"id":"dc708ed5-787c-434c-bd8b-b155a6b93fc9","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,360]}],"pinData":{"Edit Fields":[{"json":{"team":"T02B04353","iid":"1f206f7e-98e1-4e2d-a0ea-21ef790467e9","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726256896.172689","text":"added an integration to this channel: <https://bitovi.slack.com/services/B07MG7M275J|bitbot>","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726256896172689","blocks":null,"attachments":null}},{"json":{"team":"T02B04353","iid":"e63766ab-c791-4c07-ad9c-3d2513eef5f9","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726089124.481909","text":"<@U07LRJTD84A> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726089124481909","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gZyHp\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"U07LRJTD84A\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"5bbce744-3b1b-4c79-9198-eab6a13f1670","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726089119.684019","text":"<@UARV552C8> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726089119684019","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"vzaWa\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"UARV552C8\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"938461bd-ccdc-417f-9637-fecc0c9eb884","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726089113.756329","text":"test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726089113756329","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gB9fq\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"text\",\"text\":\"test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"1be95a43-ab70-4232-8a8b-82b6578b21af","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726088197.361479","text":"test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726088197361479","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gB9fq\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"text\",\"text\":\"test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"c8adecd8-5333-4d3a-bf98-6c8fa3ff6d92","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726088059.883259","text":"<@UARV552C8> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726088059883259","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"vzaWa\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"UARV552C8\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"815202cc-6b6a-4840-bdb2-af9e07ea3fc6","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726088053.279659","text":"<@U07LRJTD84A> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726088053279659","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gZyHp\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"U07LRJTD84A\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"db52efba-34e2-42fd-a540-c65e1a646006","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726088020.957359","text":"<@UARV552C8> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726088020957359","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"vzaWa\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"UARV552C8\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"e552bb4e-d80a-4a92-8a8e-a3b2711cb49d","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726088005.941249","text":"<@U07LRJTD84A> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726088005941249","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gZyHp\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"U07LRJTD84A\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"69fcbd07-8b7b-418f-bd06-5c63f94f064f","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U09R4SRNY","username":"mick","ts":"1726087997.812209","text":"<@U07LRJTD84A> test","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726087997812209","blocks":"[{\"type\":\"rich_text\",\"block_id\":\"gZyHp\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"user\",\"user_id\":\"U07LRJTD84A\"},{\"type\":\"text\",\"text\":\" test\"}]}]}]","attachments":null}},{"json":{"team":"T02B04353","iid":"d0bfabb0-a663-49cd-b77b-3395b4b8bdca","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726072748.401959","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726072748401959","blocks":"[{\"type\":\"header\",\"block_id\":\"YvLVV\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Mick McGrath\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"rCehu\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:mick@bitovi.com|mick@bitovi.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Mick McGrath\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"SBZGC\"},{\"type\":\"section\",\"block_id\":\"7HvA0\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:bar_chart: HubSpot Data*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"ygsin\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Lifecycle Stage:* opportunity\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Created:* 2017-09-29\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Modified:* 2024-09-04\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Sales Activity:* 2024-09-04 (HUBSPOT_REVISIT)\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"EoHi6\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Is Unworked:* false\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*First Engagement:* 2022-07-27 (EMAIL)\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Contacted:* 2024-03-28\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Latest Meeting:* N/A\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"ZtXaJ\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Associated Company*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"wPVlh\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Bitovi\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Domain:* <http://bitovi.com|bitovi.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Revenue:* $50.0M\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Employees:* 250\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"9NTO7\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Industry:* COMPUTER_SOFTWARE\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Founded:* 2005\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Location:* Libertyville, IL, United States\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Phone:* <tel:+1312-620-0386|+1 312-620-0386>\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"7zrVw\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Description:* Bitovi is a digital product consulting company that offers expert project management, design, development, and DevOps services. They specialize in reinventing agile web application design and development. Bitovi also provides JavaScript consulting, tra...\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"LiTNo\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Social:* <https://www.linkedin.com/company/bitovi|LinkedIn> | <https://twitter.com/bitovi|Twitter>\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"lxNYA\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:clipboard: List Memberships:* 120, 138, 166, 167, 225, 229, 240, 279, 280, 282, 292, 330, 332, 334, 374, 454, 474, 483, 484, 619, 728, 782, 784, 787, 881, 883, 885, 886, 888, 890, 891, 915, 917, 919, 925, 937, 939, 941, 961\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"+4X3/\"},{\"type\":\"section\",\"block_id\":\"KtbNm\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"+xKUw\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/mickmcgrath13|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Director of DevOps at Bitovi\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"RAxIW\"},{\"type\":\"section\",\"block_id\":\"YtCw3\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"8qx3g\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-01:_ If you're interested in knowing more about how to leverage #LLMs, this is such a great resource by A... <https://www.linkedin.com/posts/mickmcgrath13_applied-llms-mastery-2024-notion-activity-7202034746384621568-Br5v|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"b4ngv\"},{\"type\":\"section\",\"block_id\":\"Vo+7c\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"isi0Y\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Bitovi\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Software Development\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 51-200 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.bitovi.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/bitovi|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"dcXdh\"},{\"type\":\"section\",\"block_id\":\"R/O/v\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"jTwjm\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Mick McGrath* - Director of DevOps (<https://www.linkedin.com/in/mickmcgrath13|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"7TkSP\"},{\"type\":\"section\",\"block_id\":\"rRROo\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"CyaQM\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"qjy2c\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Mick McGrath is the Director of DevOps at Bitovi, a software development company specializing in front-end, back-end, JavaScript, Python, DevOps, UX, and product development. Given his role and the company's focus, there is a high potential for Bitovi to benefit from additional software development services.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"nnHbG\"},{\"type\":\"section\",\"block_id\":\"B25DD\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out via email with a personalized message highlighting Bitovi's potential needs and how our services can address them.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"k9z9x\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"b7d9192e-1a69-4d44-9334-df2b501b4e2c","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726072665.131109","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726072665131109","blocks":"[{\"type\":\"header\",\"block_id\":\"AXAzJ\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"o8HPM\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"9ARf/\"},{\"type\":\"section\",\"block_id\":\"gGy3L\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:bar_chart: HubSpot Data*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"unNJS\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Lifecycle Stage:* lead\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Created:* 2024-06-26\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Modified:* 2024-09-10\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Sales Activity:* 2024-08-27 (EMAIL_OPEN)\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"/zAjw\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Is Unworked:* false\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*First Engagement:* 2024-06-26 (EMAIL)\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Contacted:* 2024-09-10\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Latest Meeting:* 2024-08-19\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"xft0k\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Associated Company*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"pe1TO\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Digital Ocean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Domain:* <http://digitalocean.com|digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Revenue:* $1000.0M\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Employees:* 5000\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"LDJkX\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Industry:* COMPUTER_SOFTWARE\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Founded:* 2011\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Location:* New York, NY, United States\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Phone:* <tel:+1800-778-7879|+1 800-778-7879>\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"mn2mU\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Description:* DigitalOcean: Simplifying cloud infrastructure for developers with affordable SSD cloud servers and a range of services to accelerate innovation.\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"5da8L\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Social:* <https://www.linkedin.com/company/digitalocean|LinkedIn> | <https://facebook.com/digitaloceancloudhosting|Facebook> | <https://twitter.com/digitalocean|Twitter>\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"i+fGr\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:clipboard: List Memberships:* 225, 228, 238, 241, 291, 374, 474, 483, 619, 961\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"vRWab\"},{\"type\":\"section\",\"block_id\":\"GI6J5\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"VpvJa\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/karlpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Senior Manager, Customer Success at DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Groups:* Customer Success Professionals, Cloud Computing Enthusiasts\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"naifq\"},{\"type\":\"section\",\"block_id\":\"L0pbS\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qzcCl\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-01-11:_ Have you ever wanted to help build the cloud? Come work with us. It is meaningful work with a team o... <https://www.linkedin.com/posts/karlpicard_apply-careers-digitalocean-activity-7151312745303261184-N8lm|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"LtQuD\"},{\"type\":\"section\",\"block_id\":\"VtxJ1\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qjuiK\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Cloud Computing\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 501-1000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean/|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"wX+G5\"},{\"type\":\"section\",\"block_id\":\"yNYNm\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"l+x/x\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"1VltK\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barrycooks|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"zIB0w\"},{\"type\":\"section\",\"block_id\":\"jH5n+\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"QP8uZ\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"89+dd\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard is a Senior Manager in Customer Success at DigitalOcean, a prominent cloud computing company. Given his role and the company's industry, there is a clear alignment with Bitovi's software development services, especially in areas like DevOps, back-end, and cloud solutions. DigitalOcean's size and focus on cloud infrastructure suggest ongoing needs for advanced software solutions.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"KReiY\"},{\"type\":\"section\",\"block_id\":\"sH5e2\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out via email highlighting Bitovi's expertise in cloud solutions, DevOps, and software development, and suggest a meeting to discuss potential collaboration opportunities.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qqPa4\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"1b665b02-8fa9-4031-9849-004ed69d5239","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726072462.468469","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726072462468469","blocks":"[{\"type\":\"header\",\"block_id\":\"M+VUb\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: undefined\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"6AZqA\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* undefined\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* N/A\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"pt8sO\"},{\"type\":\"section\",\"block_id\":\"UPOcV\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:bar_chart: HubSpot Data*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"tN1uE\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Lifecycle Stage:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Created:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Modified:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Sales Activity:* N/A (N/A)\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"OSfmT\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Is Unworked:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*First Engagement:* N/A (N/A)\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Contacted:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Latest Meeting:* N/A\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"VHHRc\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"cefc9581-36a3-4522-8478-875008a36519","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726072409.720039","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726072409720039","blocks":"[{\"type\":\"header\",\"block_id\":\"M+VUb\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: undefined\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"6AZqA\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* undefined\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* N/A\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"pt8sO\"},{\"type\":\"section\",\"block_id\":\"UPOcV\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:bar_chart: HubSpot Data*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"tN1uE\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Lifecycle Stage:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Created:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Modified:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Sales Activity:* N/A (N/A)\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"OSfmT\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Is Unworked:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*First Engagement:* N/A (N/A)\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Last Contacted:* N/A\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Latest Meeting:* N/A\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"VHHRc\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"de8b059d-09d5-4473-b7d6-f79cc0bc67f5","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726067258.804709","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726067258804709","blocks":"[{\"type\":\"header\",\"block_id\":\"Qod8w\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"hRbTA\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"pfUAF\"},{\"type\":\"section\",\"block_id\":\"ht7we\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"C9HYq\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/kpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Unknown\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"hrdvo\"},{\"type\":\"section\",\"block_id\":\"R6Xm7\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:books: Blog Articles*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"miJGe\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-08-30_: NVIDIA H100 Now Available on DigitalOcean Kubernetes (EA) <https://www.digitalocean.com/blog/nvidia-h100-now-available-on-digitalocean-kubernetes|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"1pO0L\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-08-29_: Announcing DigitalOcean Spaces Object Storage: Now Available in London <https://www.digitalocean.com/blog/digitalocean-spaces-now-available-in-london|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"f38yS\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-08-27_: Introducing Predefined Roles: Strengthen Your Role-Based Access Control (RBAC) with Three New Roles <https://www.digitalocean.com/blog/introducing-new-predefined-roles-for-rbac|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"d9RQD\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-08-15_: Introducing Per-Bucket Bandwidth Billing for DigitalOcean Spaces <https://www.digitalocean.com/blog/introducing-spaces-per-bucket-bandwidth-billing|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qAsxO\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-08-14_: DigitalOcean’s Managed Database for Redis®* is Now Known as Managed Caching <https://www.digitalocean.com/blog/digitalocean-managed-caching|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"wjgNm\"},{\"type\":\"section\",\"block_id\":\"PP0W8\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Q4uVU\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Software Development\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 5000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"0clw1\"},{\"type\":\"section\",\"block_id\":\"/yViy\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"WwA+e\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"jdX+7\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barrycooks|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"QXj15\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Matt Steinfort* - CFO (<https://www.linkedin.com/in/matthewsteinfort|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"TYF4d\"},{\"type\":\"section\",\"block_id\":\"XGe8W\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"YA3Jy\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"/IBJb\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard is associated with DigitalOcean, a leading company in the software development industry. DigitalOcean is a significant player in cloud computing and infrastructure, which aligns well with Bitovi's software development services. The company is large, with around 5000 employees, and has a strong presence in the market. The leadership team includes key figures like the CEO, CTO, and CFO, who are influential in technology decisions. Given DigitalOcean's focus on cloud infrastructure and recent initiatives, there is a high potential for Bitovi's services to be of value to them.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"8h1rL\"},{\"type\":\"section\",\"block_id\":\"ahrWO\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out to Karl Picard with a tailored email highlighting how Bitovi's expertise in front-end, back-end, JavaScript, Python, DevOps, UX, and product development can support DigitalOcean's ongoing projects and future initiatives.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"TeGgV\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"88456b56-3cea-4d0e-8d81-1179ab702131","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726067053.363189","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726067053363189","blocks":"[{\"type\":\"header\",\"block_id\":\"Y1WqY\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"0vmpv\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"XCa4S\"},{\"type\":\"section\",\"block_id\":\"DhedG\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qnsuJ\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/kpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Unknown\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"mpbff\"},{\"type\":\"section\",\"block_id\":\"T27t+\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"drBCC\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Software Development\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 1,001-5,000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <http://www.digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"uf04m\"},{\"type\":\"section\",\"block_id\":\"EpsQb\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"royef\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Jim Ash* - Senior Partnership Development Manager | Strategic Alliances (<https://www.linkedin.com/in/jameswash|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"it5HI\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Adam Israel* - Senior Software Engineer (<https://ca.linkedin.com/in/adamisrael|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"MA8WR\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Altaf Qureshi* - Unknown (<https://uk.linkedin.com/in/altaf-qureshi-41a116|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"/6hW1\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Larry D'Angelo* - Unknown (<https://www.linkedin.com/in/larry-d-angelo-a17156|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"4ms8U\"},{\"type\":\"section\",\"block_id\":\"LAMmp\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"tS0DA\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"4m+6a\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard works for DigitalOcean, a prominent player in the software development industry with a significant focus on cloud computing and infrastructure. Given DigitalOcean's scale and industry, they likely have ongoing needs for software development services, including front-end, back-end, JavaScript, Python, DevOps, UX, and product development. The company's active engagement in developer communities and frequent updates about their services indicate a dynamic environment that could benefit from Bitovi's expertise.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"wAHRC\"},{\"type\":\"section\",\"block_id\":\"VUenr\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Email Karl with an introduction to Bitovi's services, highlighting our expertise in cloud infrastructure, DevOps, and software development. Suggest a meeting to discuss potential collaboration opportunities.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"8kbQQ\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"ef32b03b-135d-45aa-aaf7-5b72cbea4fc1","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726066691.757879","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726066691757879","blocks":"[{\"type\":\"header\",\"block_id\":\"fLPjk\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"VbnLR\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"xTnfy\"},{\"type\":\"section\",\"block_id\":\"od+UY\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"ifTvE\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/karlpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Senior Director Engineering, Platform Engineering at DigitalOcean\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"h/cJd\"},{\"type\":\"section\",\"block_id\":\"PwBoS\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"4yNgo\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-01-11:_ Apply | Careers | DigitalOcean <https://www.linkedin.com/posts/karlpicard_apply-careers-digitalocean-activity-7151312745303261184-N8lm|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"9yMys\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2022-10-18:_ DigitalOcean is growing and we're #hiring! We're looking for a Senior Capacity Planner to come join ... <https://www.linkedin.com/posts/karlpicard_annas-team-is-great-and-looking-for-someone-activity-6988274139597869056-0bTp|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"yw0G1\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2021-03-02:_ These women are amazing. Join them if you can! <https://www.linkedin.com/posts/karlpicard_these-women-are-amazing-join-them-if-you-activity-6772739667864485889-4ZeW|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"MTPmC\"},{\"type\":\"section\",\"block_id\":\"NBKVE\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"11UYg\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Digital Ocean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Computer Software\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 5000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"dwJhH\"},{\"type\":\"section\",\"block_id\":\"M4Gd1\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"0CkFv\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"jEAre\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barrycooks|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"1o7pG\"},{\"type\":\"section\",\"block_id\":\"zKNo9\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"9fp0s\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"l0Yya\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard is the Senior Director of Engineering, Platform Engineering at DigitalOcean, a company with a significant presence in the cloud infrastructure space. DigitalOcean's focus on simplifying cloud infrastructure for developers aligns well with Bitovi's software development services. Given Karl's senior position and the company's size and industry, there is a high potential for lead conversion.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"Rz3hm\"},{\"type\":\"section\",\"block_id\":\"85vLq\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Email Karl Picard with an introduction to Bitovi's services, highlighting how our expertise in front-end, back-end, JavaScript, Python, DevOps, UX, and product development can support DigitalOcean's mission to simplify cloud infrastructure for developers.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"mRNgv\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"ad4e8636-6a7d-46be-a924-9087b5fbc3f7","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726066362.320149","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726066362320149","blocks":"[{\"type\":\"header\",\"block_id\":\"C5W2x\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"WanWE\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"IVy7B\"},{\"type\":\"section\",\"block_id\":\"fEp4f\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"1O8Da\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/karlpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Senior Director Engineering, Platform Engineering at DigitalOcean\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"UhZPZ\"},{\"type\":\"section\",\"block_id\":\"G2jT6\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"oW2Iu\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2022-10-18:_ DigitalOcean is growing and we're #hiring! We're looking for a Senior Capacity Planner to come join ... <https://www.linkedin.com/posts/karlpicard_annas-team-is-great-and-looking-for-someone-activity-6988274139597869056-0bTp|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"IEw6T\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-01-11:_ The best engineers I've met are T-shaped. What exactly does this mean? A T-shaped engineer knows abo... <https://www.linkedin.com/posts/karlpicard_apply-careers-digitalocean-activity-7061774200541233154-hNTg|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"6eXK0\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-04-23:_ How to create a personal access token. <https://www.linkedin.com/posts/karlpicard_how-to-create-a-personal-access-token-activity-7188735424306069504-cY9K|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"2Frj1\"},{\"type\":\"section\",\"block_id\":\"4AU2e\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"kySP1\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Computer Software\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 5000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"HT538\"},{\"type\":\"section\",\"block_id\":\"KnyM8\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"9ceua\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"6Wtdq\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Bill Sorenson* - CFO (<https://www.linkedin.com/in/bill-sorenson-6b243b1|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Yudo7\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barry-cooks-8b3b4b1|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"e/+q4\"},{\"type\":\"section\",\"block_id\":\"FOH2J\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"4KhI7\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"vkHaI\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard is the Senior Director of Engineering, Platform Engineering at DigitalOcean, a company with a significant presence in the cloud infrastructure industry. DigitalOcean is a large company with over 5000 employees and a strong focus on simplifying cloud infrastructure for developers. Karl's role and recent activities indicate a strong involvement in engineering and technology decisions, making him a key influencer. The company’s ongoing growth and hiring initiatives suggest a continuous need for advanced software development services, which aligns well with Bitovi's offerings.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"I6hpo\"},{\"type\":\"section\",\"block_id\":\"ghG4U\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out to Karl Picard via email, highlighting Bitovi's expertise in front-end, back-end, JavaScript, Python, DevOps, UX, and product development. Emphasize how Bitovi can support DigitalOcean's growth and engineering needs.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"MXTQP\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"b6dbbbd0-4623-4812-9bb7-e01d8bb77790","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726066309.321899","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726066309321899","blocks":"[{\"type\":\"header\",\"block_id\":\"BP81D\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: kpicard@digitalocean.com\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"arwNy\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* N/A\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"Db99b\"},{\"type\":\"section\",\"block_id\":\"HbuQu\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"T2rDv\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :red_circle: LOW\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"83Siw\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Unable to retrieve sufficient information about the individual and their company due to errors in accessing LinkedIn and Hubspot data.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"Rpuvb\"},{\"type\":\"section\",\"block_id\":\"Bxoja\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Retry the data collection process or use alternative methods to gather the required information.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"BhRuj\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"0857292a-e1ac-4a16-ae7f-83011fcfc9bd","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726065957.898279","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726065957898279","blocks":"[{\"type\":\"header\",\"block_id\":\"2QUMN\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: kpicard@digitalocean.com\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"AiYOH\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* N/A\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"LHmEO\"},{\"type\":\"section\",\"block_id\":\"fcVCK\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"eii9g\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :red_circle: LOW\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"rxqDr\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Unable to retrieve sufficient information about the individual or their company from the provided data sources. Further investigation is required to determine lead potential.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"+gjg5\"},{\"type\":\"section\",\"block_id\":\"9o2X2\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Attempt to gather more information through alternative methods or direct outreach.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"ZAyK/\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"055bd633-1d64-49b1-bf21-045bbed72440","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726065861.654839","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726065861654839","blocks":"[{\"type\":\"header\",\"block_id\":\"GY1if\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"XErBq\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"9BNm9\"},{\"type\":\"section\",\"block_id\":\"N1qmv\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"hapa2\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/karlpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Senior Director Engineering, Platform Engineering at DigitalOcean\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"gbB0p\"},{\"type\":\"section\",\"block_id\":\"fPAvT\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"5iweB\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-20:_ It's great to see this rolling out! Lots of teams helped get this out, including a great effort from... <https://www.linkedin.com/posts/karlpicard_its-great-to-see-this-rolling-out-lots-activity-7234229291712925696-OeDN|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"j92gz\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-10:_ Coolest :sunglasses: thing of the day: dolphie 6.0.2 :dolphin: ℝ𝔬𝕔𝔨 &amp; ℝ𝕠𝕝𝕝 :movie_camera: :arrow_forward: <https://buff.ly/3WMdQZ6> Best w... <https://www.linkedin.com/posts/freddescamps_mysql-mysqlcommunity-activity-7231939304153886720-y748|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"jfNdf\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-15:_ Normally, would not post something non work related but this is the exception. Today, we have an Eag... <https://www.linkedin.com/posts/brian-c-benz-pmp-482a3ba_normally-would-not-post-something-non-work-activity-7233801721045549056-VZb1|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"s/j6R\"},{\"type\":\"section\",\"block_id\":\"3vjoB\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"KMxwM\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Cloud Computing\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 501-1000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"0Uncg\"},{\"type\":\"section\",\"block_id\":\"cfnQt\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"nKSn4\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"jY+eV\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barrycooks|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"3g72Q\"},{\"type\":\"section\",\"block_id\":\"8ONww\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"1YE0Y\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"72utt\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard is the Senior Director of Engineering, Platform Engineering at DigitalOcean, a prominent company in the cloud computing industry. His recent activities and posts indicate a strong involvement in engineering and platform development, which aligns well with Bitovi's software development services. DigitalOcean's size and industry relevance make it a valuable potential client.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"UXQ9n\"},{\"type\":\"section\",\"block_id\":\"dxwPH\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out to Karl Picard via LinkedIn or email to introduce Bitovi's services, highlighting how our expertise in front-end, back-end, JavaScript, Python, DevOps, UX, and product development can support DigitalOcean's engineering and platform initiatives.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"7RrCl\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"0305bb5b-97a5-4490-a444-6ddea6178e80","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726065333.856449","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726065333856449","blocks":"[{\"type\":\"header\",\"block_id\":\"BArfq\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Karl Picard\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"IRzKJ\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:kpicard@digitalocean.com|kpicard@digitalocean.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Karl Picard\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"hHKz6\"},{\"type\":\"section\",\"block_id\":\"ES8x9\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"sgw6x\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/karlpicard|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Senior Director Engineering, Platform Engineering at DigitalOcean\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"qdYp4\"},{\"type\":\"section\",\"block_id\":\"5qytV\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"ik5vr\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-20:_ Are you using #AI, #ML, and #OpenSearch to their full potential? Join our cloud and AI specialists a... <https://www.linkedin.com/posts/digitalocean_ai-ml-opensearch-activity-7235328426511904768-Chkd|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"3g1c7\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-18:_ Securing access controls in your infrastructure can be a challenge. With new #predefinedroles for #D... <https://www.linkedin.com/posts/digitalocean_predefinedroles-digitalocean-rbac-activity-7234994076712886272-XZeZ|(link)>\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Nn98x\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-19:_ Mind the gap? Nah, mind the data! :gb::rocket: DigitalOcean Spaces has landed in London, closing the dista... <https://www.linkedin.com/posts/wadewegner_mind-the-gap-nah-mind-the-data-activity-7235064753763598338-gEou|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"ofhku\"},{\"type\":\"section\",\"block_id\":\"APF8q\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"NLX4I\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* DigitalOcean\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Cloud Computing\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 501-1000 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.digitalocean.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/digitalocean|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"kxhDv\"},{\"type\":\"section\",\"block_id\":\"zLQiH\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"BY5m5\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Yancey Spruill* - CEO (<https://www.linkedin.com/in/yanceyspruill|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Aj1Zp\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Bill Sorenson* - CFO (<https://www.linkedin.com/in/billsorenson|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"VnM90\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Barry Cooks* - CTO (<https://www.linkedin.com/in/barrycooks|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"mzxnC\"},{\"type\":\"section\",\"block_id\":\"ycdX1\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"tnW6g\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"jP+HT\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Karl Picard, as the Senior Director of Engineering at DigitalOcean, holds a significant role in technology decisions. DigitalOcean, a mid-sized company in the cloud computing industry, aligns well with our software development services. The company is actively engaged in AI, ML, and infrastructure security, indicating potential needs for advanced software solutions.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"jjlZi\"},{\"type\":\"section\",\"block_id\":\"hzr00\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out to Karl Picard with a personalized email highlighting how our services can enhance their AI, ML, and infrastructure security initiatives.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"R4ND0\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"18790c03-3a6d-4051-854c-3e6ab830cb02","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726061303.883359","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726061303883359","blocks":"[{\"type\":\"header\",\"block_id\":\"NTfyj\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: lee@adirvc.com\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"GJiIA\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:lee@adirvc.com|lee@adirvc.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* N/A\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"jWQch\"},{\"type\":\"section\",\"block_id\":\"yOoa8\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Qh+7V\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* AdirVentures\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Venture Capital\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* Small (1-50 employees)\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://pitchbook.com/profiles/investor/467169-31|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/in/rogerleevc|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"2g78s\"},{\"type\":\"section\",\"block_id\":\"qJs7l\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"ZzUPr\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Roger Lee* - Co-Founder (<https://www.linkedin.com/in/rogerleevc|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"i8gzB\"},{\"type\":\"section\",\"block_id\":\"alQmP\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"33c4f\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_yellow_circle: MEDIUM\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"jr8Pg\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Lee is associated with AdirVentures, a small venture capital firm. While the firm may not directly need software development services, their portfolio companies, especially in insurance technology and financial services, could be potential leads.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"yfZtM\"},{\"type\":\"section\",\"block_id\":\"cg3TI\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out to Lee to discuss potential collaborations or introductions to portfolio companies that might benefit from software development services.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"tHOpA\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":"[{\"from_url\":\"https://www.linkedin.com/in/rogerleevc\",\"thumb_url\":\"https://media.licdn.com/dms/image/v2/D5603AQGhnnNVZyx10A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1707416253168?e=2147483647&v=beta&t=GdzHb1vHMAqt476VrBGxMi_7kdDj3sTcxo5am0SOiHM\",\"thumb_width\":200,\"thumb_height\":200,\"service_icon\":\"https://static.licdn.com/aero-v1/sc/h/al2o9zrvru7aqj8e1x2rzsrca\",\"id\":1,\"original_url\":\"https://www.linkedin.com/in/rogerleevc\",\"fallback\":\"Roger Lee - Battery Ventures | LinkedIn\",\"text\":\"I spent the first 10 years of my career as an entrepreneur and operator. I co-founded two… · Experience: Battery Ventures · Education: Yale University · Location: San Francisco · 500+ connections on LinkedIn. View Roger Lee’s profile on LinkedIn, a professional community of 1 billion members.\",\"title\":\"Roger Lee - Battery Ventures | LinkedIn\",\"title_link\":\"https://www.linkedin.com/in/rogerleevc\",\"service_name\":\"linkedin.com\"}]"}},{"json":{"team":"T02B04353","iid":"d69a4063-3e27-4c74-87e4-2116ff0962ee","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726060780.432039","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726060780432039","blocks":"[{\"type\":\"header\",\"block_id\":\"dy6YZ\",\"text\":{\"type\":\"plain_text\",\"text\":\":bust_in_silhouette: Lead Information: Mick McGrath\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"BQypY\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:mick@bitovi.com|mick@bitovi.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Mick McGrath\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"6dOM6\"},{\"type\":\"section\",\"block_id\":\"+Gew4\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:link: LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"3Wz6S\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/mickmcgrath13|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Director of DevOps at Bitovi\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"OK10t\"},{\"type\":\"section\",\"block_id\":\"uV0pC\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:memo: Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"5zObB\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-01:_ If you're interested in knowing more about how to leverage #LLMs, this is such a great resource by A... <https://www.linkedin.com/posts/mickmcgrath13_applied-llms-mastery-2024-notion-activity-7202034746384621568-Br5v|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"lh8I2\"},{\"type\":\"section\",\"block_id\":\"uk4pX\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:office: Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"2fgkS\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Bitovi\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Software Development\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 51-200 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.bitovi.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/bitovi|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"nRzH/\"},{\"type\":\"section\",\"block_id\":\"TxLD5\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:busts_in_silhouette: Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"tKWkk\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Justin Meyer* - Chief Executive Officer (<https://www.linkedin.com/in/justinbmeyer|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"RvaOh\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Brian Moschel* - Director of Business Development (<https://www.linkedin.com/in/brianmoschel|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qy0RD\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Jennifer Wadella* - VP of Frontend Consulting (<https://www.linkedin.com/in/likeOMGitsFEDAY|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"r6T4+\"},{\"type\":\"section\",\"block_id\":\"exeNm\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:dart: Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"5KN7f\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* :large_green_circle: HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"hUf+c\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Mick McGrath is the Director of DevOps at Bitovi, a company specializing in software development with a strong focus on JavaScript and UX design. Given Mick's leadership role and the company's industry, there is a high potential for them to be a good lead for our software development services. Bitovi's emphasis on advanced web technologies and distributed team model aligns well with our offerings in front-end, back-end, JavaScript, Python, DevOps, UX, and product development.\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"CzUET\"},{\"type\":\"section\",\"block_id\":\"x+T3p\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:*\\n&gt; Reach out via email highlighting our expertise in the same technologies and how we can complement their existing capabilities. Emphasize our experience in handling complex projects and distributed teams.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"AsE2C\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}},{"json":{"team":"T02B04353","iid":"f6549e11-04ed-49dd-ba6f-34a5b373b33a","channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"type":"message","user":"U07LRJTD84A","username":"bitbot2","ts":"1726060375.171649","text":"","permalink":"https://bitovi.slack.com/archives/C07JG5Q62TV/p1726060375171649","blocks":"[{\"type\":\"header\",\"block_id\":\"2O1wX\",\"text\":{\"type\":\"plain_text\",\"text\":\"Lead Information: Mick McGrath\",\"emoji\":true}},{\"type\":\"section\",\"block_id\":\"7rXU0\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Email:* <mailto:mick@bitovi.com|mick@bitovi.com>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Name:* Mick McGrath\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"FJ2sv\"},{\"type\":\"section\",\"block_id\":\"p8tfK\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"sdsYb\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Profile:* <https://www.linkedin.com/in/mickmcgrath13|View Profile>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Current Position:* Director of DevOps at Bitovi\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"T4R28\"},{\"type\":\"section\",\"block_id\":\"aC4el\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recent LinkedIn Posts*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"R5vp4\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• _2024-09-01:_ If you're interested in knowing more about how to leverage #LLMs, this is such a great resource by A... <https://www.linkedin.com/posts/mickmcgrath13_applied-llms-mastery-2024-notion-activity-7202034746384621568-Br5v|(link)>\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"dmaH1\"},{\"type\":\"section\",\"block_id\":\"J+I26\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Company Information*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"fa3fm\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Name:* Bitovi\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Industry:* Software Development\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Size:* 51-200 employees\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*Website:* <https://www.bitovi.com|Visit Site>\",\"verbatim\":false},{\"type\":\"mrkdwn\",\"text\":\"*LinkedIn:* <https://www.linkedin.com/company/bitovi|View Company>\",\"verbatim\":false}]},{\"type\":\"divider\",\"block_id\":\"ZeOpL\"},{\"type\":\"section\",\"block_id\":\"GfxIg\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Company Leaders*\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"iNY9z\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Justin Meyer* - Chief Executive Officer (<https://www.linkedin.com/in/justinbmeyer|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"LVPSX\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Brian Moschel* - Director of Business Development (<https://www.linkedin.com/in/brianmoschel|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"qvSwc\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"• *Jennifer Wadella* - VP of Frontend Consulting (<https://www.linkedin.com/in/likeOMGitsFEDAY|LinkedIn>)\",\"verbatim\":false}},{\"type\":\"divider\",\"block_id\":\"s/nuI\"},{\"type\":\"section\",\"block_id\":\"XA75h\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Final Summary*\",\"verbatim\":false}},{\"type\":\"context\",\"block_id\":\"x1CfJ\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"*Lead Potential:* HIGH\",\"verbatim\":false}]},{\"type\":\"section\",\"block_id\":\"MLg5J\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Assessment:* Mick McGrath is the Director of DevOps at Bitovi, a company specializing in software development with a strong focus on JavaScript and UX design. Given Mick's leadership role and the company's industry, there is a high potential for them to be a good lead for our software development services. Bitovi's emphasis on advanced web technologies and distributed team model aligns well with our offerings in front-end, back-end, JavaScript, Python, DevOps, UX, and product development.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"wd6mz\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recommended Action:* Reach out via email highlighting our expertise in the same technologies and how we can complement their existing capabilities. Emphasize our experience in handling complex projects and distributed teams.\",\"verbatim\":false}},{\"type\":\"section\",\"block_id\":\"Zpkzh\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"_Automated with this <https://n8n.bitovi-ai.com:5678/workflow/Fr9GwcekzD1CRdmC?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_b2c9caba031a880101033ab2e84c0deb53a01ceeef89bd61632a16734d66455f|n8n workflow>_\",\"verbatim\":false}}]","attachments":null}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-13T19:44:47.244Z","updatedAt":"2024-09-13T19:44:47.244Z","role":"workflow:owner","workflowId":"IXfbbclXr6fdqd5c","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-10T13:40:28.146Z","updatedAt":"2024-09-10T13:40:28.146Z","id":"RGFPzbuzJ3fHIhnF","name":"test"},{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"},{"createdAt":"2024-09-12T15:56:00.697Z","updatedAt":"2024-09-12T15:56:00.697Z","id":"ybl4O9NnLw9GRSbI","name":"vectorize"}],"triggerCount":0,"updatedAt":"2024-09-13T19:55:31.259Z","versionId":"e86ad269-b215-4dc9-bdb6-9887ca21e949"}