n8n/workflows/vector store test - child.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"In-Memory Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]}},"createdAt":"2024-09-28T20:34:50.349Z","id":"34zBlEXOzHPaZH8U","meta":{"templateCredsSetupCompleted":true},"name":"vector store test - child","nodes":[{"parameters":{"content":"# Purpose\nGiven a memory key and a query, retrieve a set of documents"},"id":"b2db1a9f-ee54-4627-9430-874530e3b04b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,340]},{"parameters":{},"id":"37586e7a-6c8a-4bb6-8c63-efe48ac3bb6a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[440,400]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"1ff6b000-91d8-4c2e-8229-df3760a0ae03","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[660,620],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"mode":"load","memoryKey":"={{ $json.memory_key }}","prompt":"={{ $json.query }}"},"id":"0571a554-fa0c-435f-b806-0baf424b720c","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[660,400],"alwaysOutputData":true}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-28T20:34:50.349Z","updatedAt":"2024-09-28T20:34:50.349Z","role":"workflow:owner","workflowId":"34zBlEXOzHPaZH8U","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"},{"createdAt":"2024-09-10T13:40:28.146Z","updatedAt":"2024-09-10T13:40:28.146Z","id":"RGFPzbuzJ3fHIhnF","name":"test"}],"triggerCount":0,"updatedAt":"2024-09-30T13:04:46.599Z","versionId":"45832705-b003-40a1-bae0-eaca47ccc463"}