n8n/workflows/vector store test - parent.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"In-Memory Vector Store3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"In-Memory Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"In-Memory Vector Store3","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"In-Memory Vector Store3","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"In-Memory Vector Store3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"In-Memory Vector Store1","type":"ai_embedding","index":0}]]},"In-Memory Vector Store":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"In-Memory Vector Store1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"In-Memory Vector Store1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If same size","type":"main","index":0}]]},"If same size":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"createdAt":"2024-09-28T20:39:01.321Z","id":"fzo81gnLBxn1hzlR","meta":{"templateCredsSetupCompleted":true},"name":"vector store test - parent","nodes":[{"parameters":{"content":"# get data","height":247.05033359818526,"width":435.6304577043114},"id":"b68babc6-968f-4624-be63-500581748a90","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,120]},{"parameters":{"content":"# Globals","height":233,"width":469},"id":"ed9484dc-0e1a-4999-a4ee-b747c48a3f67","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,120]},{"parameters":{"content":"# insert documents","height":528.728177741439,"width":532.6251844060799},"id":"408224cc-4465-43ad-b555-cf765e0d8283","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,120]},{"parameters":{"content":"# query direct","height":439.42414252008143,"width":650.6763773328566},"id":"eb2d04d3-8ae7-46b6-a302-251c91d95166","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2680,-20]},{"parameters":{"content":"# query through child","height":264.497271637029,"width":644.8597666400788},"id":"edc5dcc9-e92e-4be9-9afb-23fdfc85b722","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2680,480]},{"parameters":{"content":"# join & compare","height":233,"width":469},"id":"3ea505fb-fa71-4384-b462-5dac90599e83","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3400,200]},{"parameters":{"content":"# conclusion","height":233,"width":469},"id":"dedb86bd-8166-4316-948e-dd0dc0926e8a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4020,200]},{"parameters":{},"id":"36206ee7-39c7-4ed8-a6f3-4f191fc13f7a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-480,400]},{"parameters":{"assignments":{"assignments":[{"id":"8e417d6b-3e0d-416d-942f-89be82b01700","name":"key","value":"=vst-parent","type":"string"}]},"options":{}},"id":"1c8849b8-f669-46d2-814a-498d04396bd8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,200]},{"parameters":{"url":"https://www.bitovi.com/","options":{}},"id":"8de30335-40cc-40b1-b9c1-a715b7ccee1b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,200]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"data","cssSelector":"main.home","returnValue":"html"}]},"options":{}},"id":"17d51b5f-6128-42ad-af9d-5def99c1da77","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1560,200]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"7d6dde59-e447-4151-a8a4-bc4ab4ad5b33","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1960,420],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"0785d0fd-bfad-4dcc-8484-9b7e5e441f37","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2100,360]},{"parameters":{"options":{"splitCode":"html"}},"id":"324929ab-31ec-42b4-b4ce-335098ffbf9d","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2120,500]},{"parameters":{"content":"# clear documents","height":528.728177741439,"width":532.6251844060799},"id":"e8057117-4379-4b78-ae01-461634f44d27","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,100]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"25ce7e74-eb83-483a-b1b8-89ba7decdf69","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[600,420],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"{}","options":{}},"id":"810cf20c-218b-4b75-95b6-349e2d119e57","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[740,360]},{"parameters":{"options":{"splitCode":"html"}},"id":"83d71339-8fc6-4aba-94cd-01b3f3870786","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[760,500]},{"parameters":{"mode":"insert","memoryKey":"={{ $('Edit Fields').item.json.key }}"},"id":"ffe41b8a-a397-46e5-b093-fd36ac08864f","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1960,200]},{"parameters":{"mode":"insert","memoryKey":"={{ $('Edit Fields').first().json.key }}","clearStore":true},"id":"f8a4181f-d151-4e11-8a0d-ededeba215fe","name":"In-Memory Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[600,200]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"57ac06be-f70a-4e72-9b7f-3d99d5c3b691","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2960,240],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{},"id":"fd5e3edd-5922-4961-9753-9c41ff5a2238","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2280,200],"webhookId":"ff70de53-8bf5-4ba9-91e4-5d0d2228675d"},{"parameters":{},"id":"a33f5768-0a27-490a-b4a5-1f7bc7b7d3e8","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[940,200],"webhookId":"5b030d39-d1ec-41c4-878c-cd35ca98d305"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn { \"data\": $input.all() }"},"id":"c7a64627-9af8-427f-9665-177509ed30ca","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2740,80]},{"parameters":{"workflowId":{"__rl":true,"value":"34zBlEXOzHPaZH8U","mode":"list","cachedResultName":"vector store test - child"},"options":{}},"id":"e8e1c92d-5b9d-4e31-94f8-b46234f9448d","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3140,580]},{"parameters":{"assignments":{"assignments":[{"id":"f926c025-3899-4fdb-a9eb-df0af16ad8fc","name":"memory_key","value":"={{ $('Edit Fields').first().json.key }}","type":"string"},{"id":"7e363185-2667-463c-9606-3617d3aaa715","name":"query","value":"What does bitovi say is essential to your success?","type":"string"}]},"options":{}},"id":"071d3a96-73e7-4f00-bfc2-2de71e99fe0d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2960,580]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn { \"data\": $input.all() }"},"id":"63cda36f-c25b-47f4-810c-dc01ee072739","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2760,580]},{"parameters":{},"id":"e7450dcd-21f8-4641-9bbb-25bd2e90f0cb","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3460,280]},{"parameters":{"jsCode":"return {\n  \"direct\": $('Code3').first().json.results,\n  \"child\": 'results' in $input.last().json ? $input.last().json.results : []\n}"},"id":"f2277bec-c4e1-422e-b6c2-a9bdc8403d1e","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[3660,280]},{"parameters":{"jsCode":"return { \"results\": $input.all() }"},"id":"6d68291b-65b6-4981-8b93-b56322a72ccb","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[3220,280]},{"parameters":{"mode":"load","memoryKey":"={{ $('Edit Fields').first().json.key }}","prompt":"What does bitovi say is essential to your success?"},"id":"9bc6564e-0c3b-49d8-909d-7a2bf3d3fe5d","name":"In-Memory Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[2940,80]},{"parameters":{"content":"# Child workflows can access parent's in-memory vector store ","height":390.36580483535704,"width":583.930082183126},"id":"b8b0e264-595b-4f2c-90b1-9729cb21f58a","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4600,-200],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff7a6f23-14d0-4c18-b38f-e2411be5be48","leftValue":"={{ $json.direct.length }}","rightValue":"={{ $json.child.length }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"076e9d35-7ff5-4b6f-96e7-a03d6d5509a7","name":"If same size","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[4200,280]},{"parameters":{"content":"# Child workflows can *NOT* access parent's in-memory vector store ","height":390.36580483535704,"width":583.930082183126},"id":"3547c49e-0053-4d20-b9b1-9170a3f38346","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4620,440],"disabled":true},{"parameters":{},"id":"30abaa23-6bb2-409b-8203-e0d1ede0e82e","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4880,0]},{"parameters":{},"id":"6c557e77-51ab-4f46-a6bf-76c8c4c9691b","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4900,640]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-28T20:39:01.321Z","updatedAt":"2024-09-28T20:39:01.321Z","role":"workflow:owner","workflowId":"fzo81gnLBxn1hzlR","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-10T13:40:28.146Z","updatedAt":"2024-09-10T13:40:28.146Z","id":"RGFPzbuzJ3fHIhnF","name":"test"}],"triggerCount":0,"updatedAt":"2024-09-30T13:05:13.185Z","versionId":"516c17f3-7b7c-4b84-8a02-79de01028a45"}