n8n/workflows/Website Visitor Summarizer.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]}},"createdAt":"2024-09-16T17:07:46.533Z","id":"UD8JVjq3vPhmYWjf","meta":{"templateCredsSetupCompleted":true},"name":"Website Visitor Summarizer","nodes":[{"parameters":{},"id":"4b48fa17-e82f-488e-ae55-9048a124ab3d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"workflowId":{"__rl":true,"value":"hlPhXlpJ9uXUVTqK","mode":"list","cachedResultName":"Website Visitor"},"mode":"each","options":{}},"id":"8e312728-cbd7-4741-8b2f-0da513ddbd97","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[660,460]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"6fd6feb4-69ab-4672-9d3d-9ea9e902a7e2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[880,680],"credentials":{"openAiApi":{"id":"x9H6qxoL1wtsRD3b","name":"OpenAi account"}}},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"summarizationMethod":"stuff","prompt":"=## Summarization context:\n{{ $('Execute Workflow Trigger').item.json.query.summarization_context }}\n\n## Write a concise summary of the following that focuses on the above context:\n\"{text}\"\n\n\nCONCISE SUMMARY: \n"}}}},"id":"9947f777-2e45-433b-b280-e06e2c99e21d","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[880,460]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-16T17:07:46.533Z","updatedAt":"2024-09-16T17:07:46.533Z","role":"workflow:owner","workflowId":"UD8JVjq3vPhmYWjf","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-23T21:11:11.977Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1727069382154}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"}],"triggerCount":0,"updatedAt":"2024-09-18T17:34:05.216Z","versionId":"d4361fbd-75c8-42c4-a607-a3367af22ffb"}