n8n/workflows/Website Visitor.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Visit Website","type":"main","index":0}]]},"Visit Website":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"createdAt":"2024-09-11T05:49:01.843Z","id":"hlPhXlpJ9uXUVTqK","meta":{"templateCredsSetupCompleted":true},"name":"Website Visitor","nodes":[{"parameters":{},"id":"c9cb296d-4625-4b71-ac29-658b6870accc","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"url":"={{ $json.query.url }}","options":{"allowUnauthorizedCerts":true}},"id":"ec4894bf-be3f-4526-bfea-bd89ad6089c6","name":"Visit Website","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,460]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"body","cssSelector":"html","skipSelectors":"head,.pv-profile-card"}]},"options":{"cleanUpText":true}},"id":"88ad4bb7-8024-4d69-817e-c22e7e9cde20","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[820,460]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-09-11T05:49:01.843Z","updatedAt":"2024-09-11T05:49:01.843Z","role":"workflow:owner","workflowId":"hlPhXlpJ9uXUVTqK","projectId":"Y92RkDh8WMoWuDse","project":{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:39:49.207Z","id":"Y92RkDh8WMoWuDse","name":"mick mcgrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-10T13:37:41.023Z","updatedAt":"2024-09-10T13:37:41.023Z","role":"project:personalOwner","userId":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","projectId":"Y92RkDh8WMoWuDse","user":{"createdAt":"2024-09-10T13:37:39.851Z","updatedAt":"2024-09-30T13:04:17.784Z","id":"51d2f003-ca06-4b3f-90b2-1f3174aa0e0b","email":"mick@bitovi.com","firstName":"mick","lastName":"mcgrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-10T13:39:55.845Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"51qG4uMNy9g1UxFL","userActivatedAt":1725996993706,"npsSurvey":{"responded":true,"lastShownAt":1727701452437}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-09-11T06:01:52.515Z","updatedAt":"2024-09-11T06:01:52.515Z","id":"dvr0URptrQjpgFWt","name":"tool"}],"triggerCount":0,"updatedAt":"2024-09-30T21:21:07.117Z","versionId":"72c10a46-d7d7-4104-ab36-0e9e5494ab5e"}