n8n/workflows/2025/approval example test.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Slack1","type":"main","index":0}]]},"Slack1":{"main":[[{"node":"a thing you wanna do","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:14:23.838Z","id":"OYBEgQIKji9eE5hg","meta":{"templateCredsSetupCompleted":true},"name":"approval example test","nodes":[{"parameters":{},"id":"ef5418bd-5e5f-4f66-9025-06eb312742b1","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#bitbot-testing","mode":"name"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"You have a new approval request.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Approve\"\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"primary\",\n\t\t\t\t\t\"value\": \"{{  $execution.resumeUrl.replace(\"http://localhost:5678\", \"https://n8n.bitovi-ai.com\") }}\",\n\t\t\t\t\t\"action_id\": \"approve_{{ $execution.id }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Reject\"\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"danger\",\n\t\t\t\t\t\"value\": \"{{  $execution.resumeUrl.replace(\"http://localhost:5678\", \"https://n8n.bitovi-ai.com\") }}\",\n\t\t\t\t\t\"action_id\": \"reject_{{ $execution.id }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}","text":"=testing approval flow: {{  $execution.resumeUrl.replace(\"http://localhost:5678\", \"https://n8n.bitovi-ai.com\") }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"d8458444-de26-424d-a32b-a621ff7702ee","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[680,460],"credentials":{"slackApi":{"id":"0yD31pKPo3fi7U3p","name":"Slack account"}}},{"parameters":{},"id":"f4d9e3b0-3387-4f85-87ad-6070d1edb029","name":"a thing you wanna do","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,460]},{"parameters":{"resume":"webhook","httpMethod":"POST","responseMode":"responseNode","options":{}},"id":"22be3b22-45a2-40f9-81c6-0606598b89ac","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[900,460],"webhookId":"839ec9ba-bec0-4b86-865a-64ba229f7ceb"},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('Slack').item.json.channel }}","mode":"id"},"ts":"={{ $('Slack').item.json.message.ts }}","messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"@{{ $json.body.payload.user.username }} clicked *{{ $json.body.payload.actions[0].text.text }}*\"\n\t\t\t}\n\t\t}\n\t]\n}","updateFields":{}},"id":"98854037-6994-4af7-bff7-fd8c0780360b","name":"Slack1","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1120,460],"credentials":{"slackApi":{"id":"0yD31pKPo3fi7U3p","name":"Slack account"}}}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:14:23.838Z","updatedAt":"2024-10-10T05:14:23.838Z","role":"workflow:owner","workflowId":"OYBEgQIKji9eE5hg","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:02:58.181Z","updatedAt":"2024-10-10T05:02:58.181Z","id":"KtYRNd3rjRAkM76N","name":"test"}],"triggerCount":0,"updatedAt":"2024-10-24T15:51:37.407Z","versionId":"91b78dcb-bc73-4b98-a60d-4fed3848d8b5"}