n8n/workflows/2025/Bitbot Core.json
{"active":false,"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"search google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"webpage visitor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Todo: add item to wins":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"vectorize thread","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"vectorize thread","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"vectorize thread1","type":"ai_embedding","index":0}]]},"Wait":{"main":[[{"node":"vectorize thread1","type":"main","index":0}]]},"vectorize thread":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If - has messages":{"main":[[{"node":"vectorize thread","type":"main","index":0}]]},"Prepare KB lookup inputs":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Prepare slack thread summarizer":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"extract slack link","type":"ai_languageModel","index":0}]]},"extract slack link":{"main":[[{"node":"Prepare slack thread summarizer","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Edit Fields5":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"jira ticket requirements checker":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Confluence Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Confluence - Read Page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Text Classifier":{"main":[[{"node":"Prepare KB lookup inputs","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[],[],[],[]]}},"createdAt":"2024-10-10T05:03:31.179Z","id":"DMamPlJhp40wUomM","meta":{"templateCredsSetupCompleted":true},"name":"Bitbot Core","nodes":[{"parameters":{},"id":"89b21855-e849-4f8c-8617-5df3f154a7f2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1460,1640]},{"parameters":{"model":"gpt-4o","options":{}},"id":"d70614a7-8463-4da8-a702-6ef6a8b0715c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-880,1860],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"unHoYifhIFRKmGQD","mode":"list","cachedResultName":"Vector Chat - Pinecone"},"options":{}},"id":"aa572e3e-d2e3-4687-815c-1de8aa0b319a","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[120,1440]},{"parameters":{"model":"gpt-4o","options":{}},"id":"5e089a0a-bc0c-4ba0-88c3-4253da5e1939","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1260,1940],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"8bc15f00-6335-4e24-af13-5c3814a24c64","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1360,2140]},{"parameters":{"name":"GoogleSearch","description":"use this tool to search google","workflowId":{"__rl":true,"value":"VBYRqdaenqQOxUUX","mode":"list","cachedResultName":"Google custom search tool"},"fields":{"values":[{"name":"return_items","type":"booleanValue"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"the query to use for the google search\"\n\t\t}\n\t}\n}"},"id":"c8aba239-980e-4cf7-81de-ed59b9deeb08","name":"search google","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1600,1940]},{"parameters":{"name":"WebVisitor","description":"Use this tool to read webpages","workflowId":{"__rl":true,"value":"aPPxtIl541wXGEhE","mode":"list","cachedResultName":"Website Visitor"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"url\": \"https://www.google.com/url?q=https://www.eventbrite.com/o/bu-spark-13250579290\"\n}"},"id":"206c5fb6-7dd7-4513-bf17-c41be3a98f88","name":"webpage visitor","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1460,1940]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"sessionId\": \"{{ $now.toSeconds()}}\",\n    \"action\": \"sendMessage\",\n    \"chatInput\": {{ JSON.stringify($('Execute Workflow Trigger').first().json.query) }}\n}","options":{}},"id":"4e321e49-e867-4e98-8e13-c62ae94a14b5","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1720]},{"parameters":{},"id":"8fd0eb7c-5a37-497e-b2f2-031c6d2f7289","name":"Todo: add item to wins","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,-180]},{"parameters":{},"id":"3e686dc8-d045-4d44-847c-f3b722a01de4","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,60]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Todo: add to wins\"\n}\n","options":{}},"id":"28aded15-e81d-4a4d-a64e-0f2b62f25a0d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-180]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"ToDo: check availability\"\n}\n","options":{}},"id":"d04fe1de-a4d5-4ef5-8696-0a72a2d20736","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,60]},{"parameters":{"assignments":{"assignments":[{"id":"58eec8c9-77dc-454a-971c-8c1c13ab86ce","name":"vector_store_id","value":"bitbot_core","type":"string"}]},"options":{}},"id":"3962594f-8d4c-41ab-aa60-b564ad6f16b9","name":"Globals","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1200,1640]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"c3d4f3d4-aec0-48bd-98aa-81dcc83cc747","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[540,-660]},{"parameters":{"jsonMode":"expressionData","jsonData":"={ \"messages\": [{{ $('Execute Workflow Trigger').first().json.messages }}] }","options":{}},"id":"9b428535-7bc8-4a81-a3a1-15fbd8f765db","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[740,-660]},{"parameters":{"options":{}},"id":"d27421c7-6dfe-4d32-9cf9-3129e589339e","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[740,-520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"079e4010-6ba7-44cc-9895-9c68d44952ed","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1200,-660]},{"parameters":{"amount":3},"id":"e594ddf0-154b-470b-9bdb-df47874416ae","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[920,-880],"webhookId":"f2f097cb-bff8-416e-a811-cfc1ef5e6d6a"},{"parameters":{"mode":"insert","memoryKey":"={{ $('Globals').item.json.vector_store_id }}","clearStore":true},"id":"bd68b20a-d3d1-44db-a680-bd4e6c50cb99","name":"vectorize thread","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[540,-880]},{"parameters":{"mode":"load","memoryKey":"={{ $('Globals').item.json.vector_store_id }}","prompt":"summarize messages"},"id":"903b68fb-88e0-4183-bf94-9699cae96743","name":"vectorize thread1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1180,-880]},{"parameters":{"content":"## Inline vectorizor logic","height":599.622356474807,"width":1415.7342091768091},"id":"b2bf37fe-f576-43e9-a8e9-4be1d9c7ff98","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8a9c6fbb-704e-49bd-a1c8-4521b57a3c58","leftValue":"={{ $('Execute Workflow Trigger').item.json.messages }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"56a902e2-0597-4bf5-a154-09b7607d8ef2","name":"If - has messages","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[240,-840]},{"parameters":{"assignments":{"assignments":[{"id":"fe265f73-f120-40c0-b998-a2d936f1edd6","name":"query","value":"={{ $('Execute Workflow Trigger').item.json.query }}","type":"string"},{"id":"265dde6e-4831-417c-8a8c-a2b9747b64b6","name":"chat_history","value":"={{ $('Execute Workflow Trigger').item.json.chat_history }}","type":"array"}]},"options":{}},"id":"9ea52b50-e50a-4c0d-9f2d-8482d7c2a9ff","name":"Prepare KB lookup inputs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,1440]},{"parameters":{},"id":"cb8881bd-7f2c-468e-9005-0b2219959885","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[680,280]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Thread saving coming soon!\"\n}\n","options":{}},"id":"9f09dd61-9b9d-4219-93b9-1a0c63059f2f","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,280]},{"parameters":{"workflowId":{"__rl":true,"value":"mV11AQqBHlEeBIbc","mode":"list","cachedResultName":"Slack Thread Summarizer"},"options":{}},"id":"06a8c1ae-83c6-4fc3-b952-97af5847bc8d","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1220,560],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"fe265f73-f120-40c0-b998-a2d936f1edd6","name":"url","value":"={{ $json.output.first_slack_url }}","type":"string"}]},"options":{}},"id":"ab095c7a-a5e1-44ce-b520-4bc3e85d476a","name":"Prepare slack thread summarizer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,560],"disabled":true},{"parameters":{"options":{}},"id":"5ea3cec8-7f98-41ff-84c5-cfefd707d2f3","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[640,780],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}},"disabled":true},{"parameters":{"text":"=Given the following query, extract the urls that begin with 'https://bitovi.slack.com/archives':\n{{ $('Execute Workflow Trigger').item.json.query }}","attributes":{"attributes":[{"name":"first_slack_url","description":"The first encountered slack url","required":true}]},"options":{}},"id":"832c566e-4735-48eb-94be-6906dc585ff9","name":"extract slack link","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[640,560],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a03ffbbe-386a-4742-9317-71ebc34a0887","name":"output","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"deb2b451-a404-47a7-a09a-da357e8d97ad","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,560],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"mV11AQqBHlEeBIbc","mode":"list","cachedResultName":"Slack Thread Summarizer"},"options":{}},"id":"833a8a22-3ee7-4097-bc39-07d3d1850a81","name":"Execute Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[380,-760]},{"parameters":{},"id":"e2c72d3e-3c1b-46fd-8f26-2f5d70704bd4","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1740,1940]},{"parameters":{"content":"# TODO: connect back up with the agent to reason about everything","height":938.4378515014082,"width":2562.5939817672684},"id":"3a69afc7-2647-4859-a935-3ec44d5d3bbb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,1340]},{"parameters":{},"id":"e339f986-476f-4f66-a84b-0df388684928","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1860,1940]},{"parameters":{"model":"gpt-4o","options":{}},"id":"a1153c31-1b8b-4e90-9b7c-a6b5583f4bf7","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[100,2680],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"cd3d6533-c4c7-41a6-b434-db39b9250dd2","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[200,2880]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"sessionId\": \"{{ $now.toSeconds()}}\",\n    \"action\": \"sendMessage\",\n    \"chatInput\": \"{{ $('Execute Workflow Trigger').first().json.query.replaceAll(\"\\n\", '\\\\n').replaceAll('\"','\\\\\\\"') }}\"\n}","options":{}},"id":"a8f9c1f0-2f07-4567-bc3d-cbaa79d4cd1a","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,2460]},{"parameters":{"name":"jira_ticket_requirements_checker","description":"Use this tool to check if a jira ticket has certain data","workflowId":{"__rl":true,"value":"v6xUl6xEWGcUasTe","mode":"list","cachedResultName":"Jira Ticket Requirements Checker"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"query\": \"given this jira ticket: https://bitovi.atlassian.net/browse/BITEXP-XX. extract goal and costs\"\n}"},"id":"9c667a57-6b83-4d10-997e-177a2a355618","name":"jira ticket requirements checker","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[300,2680]},{"parameters":{"promptType":"define","text":"=You've received a query with the intent of verifying if a jira ticket's description contains certain data - which should also be described in the query\n\nYou have a tool that does this. just use that.\n\nHere is the query: {{ $json.chatInput }}\n\nHere's the provided chat history:\n- {{ $('Execute Workflow Trigger').first().json.chat_history.toJsonString() }}","options":{}},"id":"2c6b7e80-4306-4d43-8000-0e1ae5489728","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[100,2460]},{"parameters":{"name":"Confluence_Search","description":"Use this tool to search confluence. It's a natural language search. Provide the space if you know it.  Use key phrases separated by commas. come up with a decent breadth of topics to search.","workflowId":{"__rl":true,"value":"29pI9xljW35PfNTn","mode":"list","cachedResultName":"Confluence - Search Tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"something to find in confluence\"\n}"},"id":"6896bdad-ac8c-4dd7-a499-5d86be9097c1","name":"Confluence Search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[2060,1940]},{"parameters":{"name":"Confluence_Read_Page","description":"Use this tool to read confluence pages.   Pass the full url","workflowId":{"__rl":true,"value":"rr8EsIGtvm8sFhZx","mode":"list","cachedResultName":"Confluence - Read Page tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"url\": \"https://bitovi.atlassian.net/wiki/spaces/AI/pages/999948367/LLM+-+Marketing+-+AI+Agents+-+Workshop+landing+page\"\n}"},"id":"a89c4fe9-057b-491d-b761-36bb9bb2c693","name":"Confluence - Read Page","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[2260,1940]},{"parameters":{"promptType":"define","text":"=You've received a query that could not be classified into existing categories or handled by the current knowledgebase. Your task is to search the internet for relevant and accurate information to address the query.\n\nPlease do the following:\n\n- Understand the context and specifics of the user's query.\n- Search and review multiple reputable websites to gather information that directly addresses the query.\n- Read through the content of those sites to develop a thorough understanding of the subject.\n- Summarize the findings clearly and concisely.\n- Include citations or references from the websites you consulted, ensuring the information is verifiable.\n- Ensure your response is factual, helpful, and directly addresses the user's request.\n\nIf you feel you do not have enough information to query, respond with a question for the user to answer.\nif the user wants to chat. just chat. be fun and engaging\n\n--- chat_history\n{{ $('Execute Workflow Trigger').item.json.chat_history.toJsonString() }}\n--- end chat_history\n\nHere is the query:\n---query\n{{ $json.chatInput }}\n---end query\n\nIf you are unable to resolve the query after a few attempts:\n- Try a few different sources (unless instructed to stick to specific ones)\n- try multiple queries\n- Use key phrases separated by commas. come up with a decent breadth of topics to search.\n- if no results still, provide a suggestion or a question that will help.","options":{}},"id":"eb3aab22-bf4d-4e6b-a23a-cbcf940c388c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1260,1720]},{"parameters":{"inputText":"=--- Previous messages\n{{ 'chat_history' in $('Execute Workflow Trigger').first().json ? $('Execute Workflow Trigger').first().json.chat_history : \"\" }}\n--- End Previous Messages\n\n--- Query\n{{ $('Execute Workflow Trigger').item.json.query }}\n--- end Query","categories":{"categories":[{"category":"knowledgebase_lookup","description":"simple question that can be answered from bitovi's knowledgebase. this is extremely limited. use this rarely for now."},{"category":"other","description":"If an appropriate classification cannot be found, use 'other'. |This includes things like- current events- general chat- real time information. Include confluence page lookup and read in this category."},{"category":"jira_ticket_requirements_checker","description":"Verify a jira ticket has a set of requirements"}]},"options":{"multiClass":true,"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"2109aa79-59a7-4a29-a97b-4c85181dd9d1","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-880,1640]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"From: \"Mick McGrath (Jira)\" <jira@bitovi.atlassian.net>\nTo: bitbot@bitovi.com\nSubject: [JIRA] Mick McGrath mentioned you on AMDP-1\nBody: **bitbot@bitovi.com:**\nJSON Schema Explanation Hi there, You&#39;ve requested details about JSON Schema validation. The example schema given outlines the structure and requirements for a JSON object to be considered valid:\n","chat_history":["**\"Mick McGrath (Jira)\" <jira@bitovi.atlassian.net>:**\nMick McGrath mentioned you on an issue Agent Managed Demo Project/AMDP-1 test ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌\n","**bitbot@bitovi.com:**\nJSON Schema Explanation Hi there, You&#39;ve requested details about JSON Schema validation. The example schema given outlines the structure and requirements for a JSON object to be considered valid:\n"]}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:03:31.179Z","updatedAt":"2024-10-10T05:03:31.179Z","role":"workflow:owner","workflowId":"DMamPlJhp40wUomM","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2025-02-04T14:04:53.356Z","updatedAt":"2025-02-04T14:04:53.356Z","id":"FmbhyROftRxhjZJ3","name":"BitBot Core"}],"triggerCount":0,"updatedAt":"2025-02-04T21:32:03.679Z","versionId":"480af195-c998-4d8c-996e-3e1148f338c1"}