n8n/workflows/2025/Bitovi slack interactive element handler.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"If approval or reject","type":"main","index":0}]]},"If approval or reject":{"main":[[{"node":"call action url","type":"main","index":0}],[{"node":"Handle other interactive elements","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:13:53.416Z","id":"3wOMqe8Hoa2EKU2o","meta":{"templateCredsSetupCompleted":true},"name":"Bitovi slack interactive element handler","nodes":[{"parameters":{},"id":"bcf78b7a-b395-49c2-8bb5-2be634bc7f21","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-20,620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5562ef4b-f149-45dd-b2f7-0dc50f178517","leftValue":"={{ $json.body.payload.actions[0].action_id }}","rightValue":"reject_","operator":{"type":"string","operation":"startsWith"}},{"id":"462887f4-e386-4bef-89f9-beb26f2d5e6c","leftValue":"={{ $json.body.payload.actions[0].action_id }}","rightValue":"approve_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"id":"b3ce23d5-635d-4667-822b-9ff22f76a179","name":"If approval or reject","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[200,620]},{"parameters":{},"id":"98cc1c62-0c0c-46a4-80c5-81aa63de57b4","name":"Handle other interactive elements","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[460,760]},{"parameters":{"method":"POST","url":"={{ $json.body.payload.actions[0].value }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"payload","value":"={{ $json.body.payload }}"}]},"options":{}},"id":"395e2512-6a6e-40bd-bd0d-14ca5da23b2d","name":"call action url","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]}],"pinData":{"Execute Workflow Trigger":[{"json":{"body":{"payload":{"type":"block_actions","user":{"id":"U09R4SRNY","username":"mick","name":"mick","team_id":"T02B04353"},"api_app_id":"A07LJUB55KQ","token":"ezIKCpO7Xjff7CWkbSszDbYg","container":{"type":"message","message_ts":"1728438497.956139","channel_id":"C07JG5Q62TV","is_ephemeral":false},"trigger_id":"7863568167745.2374139173.286996cf19ad377fceff2d51f2742cb1","team":{"id":"T02B04353","domain":"bitovi"},"enterprise":null,"is_enterprise_install":false,"channel":{"id":"C07JG5Q62TV","name":"bitbot-testing"},"message":{"user":"U07LRJTD84A","type":"message","ts":"1728438497.956139","bot_id":"B07MECJNLEL","app_id":"A07LJUB55KQ","text":"testing approval flow: <https://n8n.bitovi-ai.com/webhook-waiting/85577>","team":"T02B04353","blocks":[{"type":"section","block_id":"5vmRl","text":{"type":"mrkdwn","text":"You have a new approval request.","verbatim":false}},{"type":"actions","block_id":"ibfrT","elements":[{"type":"button","action_id":"approve_85577","text":{"type":"plain_text","text":"Approve","emoji":true},"style":"primary","value":"https://n8n.bitovi-ai.com/webhook-waiting/85577"},{"type":"button","action_id":"reject_85577","text":{"type":"plain_text","text":"Reject","emoji":true},"style":"danger","value":"https://n8n.bitovi-ai.com/webhook-waiting/85577"}]}]},"state":{"values":{}},"response_url":"https://hooks.slack.com/actions/T02B04353/7873678369504/v0OdmJxUGD8vzebsQWootJ8S","actions":[{"action_id":"approve_85577","block_id":"ibfrT","text":{"type":"plain_text","text":"Approve","emoji":true},"value":"https://n8n.bitovi-ai.com/webhook-waiting/85577","style":"primary","type":"button","action_ts":"1728438506.402039"}]}}}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:13:53.416Z","updatedAt":"2024-10-10T05:13:53.416Z","role":"workflow:owner","workflowId":"3wOMqe8Hoa2EKU2o","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:05:49.394Z","updatedAt":"2024-10-10T05:05:49.394Z","id":"7MIF9DCNEqYKQcZB","name":"Slack"}],"triggerCount":0,"updatedAt":"2024-10-10T05:13:53.416Z","versionId":"a3f02957-b5e7-4ae0-a760-66795a7336ee"}