n8n/workflows/2025/Bitovi site vectorize pinecone.json
{"active":false,"connections":{"Loop Over Items":{"main":[[{"node":"finalize output","type":"main","index":0}],[{"node":"Merge","type":"main","index":0},{"node":"loop definitions","type":"main","index":0}]]},"Get sitemap":{"main":[[{"node":"Turn XML sitemap into JSON","type":"main","index":0}]]},"Turn XML sitemap into JSON":{"main":[[{"node":"Turn the URL array into multiple items","type":"main","index":0}]]},"Turn the URL array into multiple items":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Start the workflow by clicking \"Test workflow\"":{"main":[[{"node":"pinecone_vars","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store3","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Pinecone Vector Store3","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Pinecone Vector Store4","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Knowledgebase with sources":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"pinecone_vars":{"main":[[{"node":"Get sitemap","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Get existing docs","type":"ai_embedding","index":0}]]},"if no results":{"main":[[{"node":"Get page content","type":"main","index":0}],[{"node":"TODO: update?","type":"main","index":0}]]},"Get page content":{"main":[[{"node":"Extract main content","type":"main","index":0}],[{"node":"handle error","type":"main","index":0}]]},"Pinecone Vector Store1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"concat branches","type":"main","index":0}]]},"Get existing docs":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract main content":{"main":[[{"node":"If content exists","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code1":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"TODO: update?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"loop definitions":{"main":[[{"node":"Get existing docs","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"concat branches":{"main":[[{"node":"if no results","type":"main","index":0}]]},"If content exists":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"handle missing content","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:13:16.456Z","id":"IsyAWkkRLKJenQcg","meta":{"templateCredsSetupCompleted":true},"name":"Bitovi site vectorize pinecone","nodes":[{"parameters":{"options":{}},"id":"f29d8e7c-f51a-4c76-932a-c64bce021ce5","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,740],"alwaysOutputData":false},{"parameters":{"url":"https://bitovi.com/sitemap.xml","options":{}},"id":"7b01577c-769b-42bf-99bc-c114fbf0a2cb","name":"Get sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1820,740]},{"parameters":{"options":{"explicitRoot":false,"ignoreAttrs":true}},"id":"d6536ad5-0d37-4165-9482-e341be43e9c5","name":"Turn XML sitemap into JSON","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-1520,740]},{"parameters":{"fieldToSplitOut":"url","options":{}},"id":"e702507c-3f6d-4c0a-9c91-2f0284b7ce12","name":"Turn the URL array into multiple items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1360,740]},{"parameters":{},"id":"58aeacdf-41e3-4437-a5d5-7f917b2b8a14","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-1280,1400],"webhookId":"c577b219-017d-44ba-ba60-2ba12b388159"},{"parameters":{"content":"# Data Extraction","height":428,"width":1367,"color":7},"id":"5f3aba58-f367-440a-af30-6f96851fba74","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,520]},{"parameters":{},"id":"6441f81e-9efe-403d-b77e-cd215b31fb6e","name":"Start the workflow by clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2280,740]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"25e4deda-3f24-420c-b14a-4001693ce94a","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[4340,860],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"url","value":"={{ $json.metadata.url }}"},{"name":"last_modified","value":"={{ $json.metadata.last_modified }}"}]}}},"id":"9b894777-dddd-4450-8f63-b34efb4afacc","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4460,720]},{"parameters":{"chunkOverlap":500,"options":{"splitCode":"markdown"}},"id":"a39c502d-0a31-4799-a31f-a7d5df301109","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[4480,860]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"37262ff3-fe55-4668-bd07-12bb246dae7e","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1700,3580],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"4c61acd5-f2f4-4a5f-9a70-17ab2e4f9e52","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1580,3580]},{"parameters":{"options":{"splitCode":"html"}},"id":"438b1e19-ce70-43d2-9924-7936eb5903a8","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1460,3800]},{"parameters":{"content":"## Clear vector store","height":689.7364920034024,"width":854.8232806294188,"color":3},"id":"9b7a978e-1c93-4bd9-a125-84cb12aed779","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2040,3260]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"content\": [\"clear\"]\n}\n","options":{}},"id":"71b890f1-2ff5-45d6-95fb-eef04251b8a3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1960,3340]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"3a9935ab-9ba4-4282-8f31-0240c7422d5a","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1900,1700],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"content":"# Chat with the site data","height":691.5405887901464,"width":691.2156542891212,"color":5},"id":"22fac28e-d846-41b0-b0f9-6eb9a6440398","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1380,1260]},{"parameters":{"content":"Vector Store Test","height":530.7137536093713,"width":533.529232147323,"color":7},"id":"299b07c2-1b4d-4f6e-93a8-154b5364f772","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,1340]},{"parameters":{"model":"gpt-4o","options":{}},"id":"a9a35157-b585-45aa-9810-909d22f92d0b","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1100,1680],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"name":"knowledgebase","description":"Call this tool to find information about your knowledge base.  it should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"Yg9WqvYoELy3PIt2","mode":"list","cachedResultName":"KB with sources - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot-webcrawl-bitovi"},{"name":"pineconeNamespace","stringValue":"bitovi-site"}]}},"id":"fa027bff-5d9e-4d33-adff-65a07ba8ae28","name":"Knowledgebase with sources","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-880,1680]},{"parameters":{"promptType":"define","text":"=You are an information retrieval agent tasked with retrieving accurate and reliable data exclusively from a specified knowledgebase. Your primary responsibilities are:\n\n1) Retrieve First: Always prioritize going directly to the knowledgebase for data before providing any response.\n\n2) Cite Sources: Every response must include detailed citations from the knowledgebase, including URLs, specific articles, document titles, page numbers, or section references. If the knowledgebase does not include exact page numbers, include document titles and section headings where the information is found.\n\n3) No Guessing or External Information: Do not provide data that is not explicitly found in the knowledgebase. If the knowledgebase does not contain the requested information, respond with a clear indication that the data is unavailable from the source.\n\n4) Formatting Citations: When citing, format each citation with the following structure: [heading](url), Page Number or Specific Location, Date if applicable). If the knowledgebase uses a different citation format, follow that standard instead.\n\nExample response format: \"According to the 'Product Specifications' section of the [Knowledgebase Reference Guide](https://foo.com], the widget operates at 500 MHz (Page 23, 2024).\"\n\nYour primary focus is on precision and verifiable information, sourced directly from the knowledgebase at all times.\n\nAnswer this query:\n---\n{{ $json.chatInput }}\n---","options":{}},"id":"8d0d0da7-b72c-40ae-bcf7-931300884c44","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1100,1400]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"namespace\": \"bitovi-site\",\n  \"index\": \"bitbot-webcrawl-bitovi\"\n}\n","options":{}},"id":"7ab1177a-0c1c-4350-9694-9dac8ac38a7f","name":"pinecone_vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,740]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"5ce37a14-de87-4224-96ba-b0647a48c198","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[800,1080],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"86a35433-7d8a-473a-8f12-16386844b63d","leftValue":"={{ $json.url_exists_in_store }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cb5776c2-1e21-4168-a5c2-8d02a2c71407","name":"if no results","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1440,1180]},{"parameters":{"url":"={{ $json.url_to_check }}","options":{}},"id":"4d4fb8ab-d793-4f28-bd9b-3e5fff34e946","name":"Get page content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,840],"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{},"id":"a6ceb935-f6d4-4983-bbfa-14f10faefece","name":"TODO: update?","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2060,1280]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"options":{"pineconeNamespace":"bitovi-site"}},"id":"9e121296-5fea-45bb-9222-d8ebd183e6b7","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[4380,500],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"options":{"clearNamespace":true,"pineconeNamespace":"bitovi-site"}},"id":"7f7837e3-0102-43a7-9e28-52bfdd1b319c","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1620,3320],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{},"id":"38aa4659-f709-41d2-aea3-be394b3221e9","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1020,1180]},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"bitbot-webcrawl-bitovi","mode":"list","cachedResultName":"bitbot-webcrawl-bitovi"},"prompt":"github actions","options":{"pineconeNamespace":"bitovi-site"}},"id":"c6d45416-3014-4fe6-a8c4-e07679718224","name":"Pinecone Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1940,1420],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"={{ $('pinecone_vars').last().json.index }}","mode":"id"},"prompt":"={{ $json.loc }}","options":{"pineconeNamespace":"={{ $('pinecone_vars').last().json.namespace }}"}},"id":"2d6b1184-2e5f-42f7-a9ec-7c11baf5ecf7","name":"Get existing docs","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[820,900],"alwaysOutputData":true,"retryOnFail":true,"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"lastmod","order":"descending"}]},"options":{}},"id":"754299c5-2599-4887-aef5-a4db1eb31f21","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1140,740]},{"parameters":{"amount":1},"id":"25f27d1d-1f6f-489f-8942-5b760a8d714c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4900,1380],"webhookId":"4ba15ce4-e7a2-4bf4-b34f-27c0d4f3c8d9"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".body-container,.blog-post,main","returnValue":"html"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"01d47bbe-e2b8-4904-8bd6-e9873ef19f23","name":"Extract main content","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2660,840]},{"parameters":{"html":"={{ $json.content }}","destinationKey":"md","options":{"ignore":"footer"}},"id":"d81123f8-3bf6-4e98-976d-4985cc9165ce","name":"Markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[3160,840]},{"parameters":{"jsCode":"const url = $input.first().json.loc;\nconst lastmod = $input.first().json.lastmod;\nconst md = $input.last().json.md;\n\nlet newContent = `\n--- Chunk Metadata\nlocation(aka: url): ${url}\nlastmod (aka: last_modified): ${lastmod}\n--- End Chunk Metadata\n${md}\n`\n\nreturn [{ \"json\": { \n  \"content\": newContent,\n  \"metadata\": {\n    \"url\": url,\n    \"last_modified\": lastmod\n  }\n} }];"},"id":"4f476548-8292-4757-be1e-e5d1e541fa9f","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4140,500]},{"parameters":{"mode":"combine","fieldsToMatchString":"foo","joinMode":"keepEverything","options":{}},"id":"878e72af-8b80-4554-8780-85bf130047b3","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3940,500]},{"parameters":{"maxItems":500},"id":"d20ec343-dcd6-4dfe-875c-8871cb812c11","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-860,740]},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,360],"id":"52cb683c-5709-4827-8b1b-0e32b9144fa1","name":"finalize output"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2520,1080],"id":"339afd0c-b74b-40ff-adc4-c95c3a6b2a88","name":"handle error"},{"parameters":{"assignments":{"assignments":[{"id":"6cf2edba-1ce3-4f9e-975d-7084b2c8267c","name":"loc","value":"={{ $json.loc }}","type":"string"},{"id":"36c3e7fb-b74b-4873-8020-57d1c19ac2ff","name":"lastmod","value":"={{ $json.lastmod }}","type":"string"}]},"options":{}},"id":"d939cf9e-fac4-4704-a562-587de0eb99cd","name":"loop definitions","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,900]},{"parameters":{"jsCode":"let all_items = $input.all();\nlet loop_item = all_items.pop();\n\n\nconsole.log(\"all_items\")\nconsole.log(all_items)\nconsole.log(\"loop_item\")\nconsole.log(loop_item)\nlet hasItems = false;\nall_items.forEach(item => {\n  if(item.json.document?.metadata?.url == loop_item.json.loc){\n    hasItems = true;\n  }\n});\n\nreturn { \n  \"url_exists_in_store\": hasItems,\n  \"url_to_check\": loop_item.json.loc\n};"},"id":"5c7961d0-8f2e-4e6e-a474-271e8059db2f","name":"concat branches","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1180]},{"parameters":{"content":"# Loop Definitions","height":500,"width":520,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-260,620],"typeVersion":1,"id":"e0e5ae17-9bde-43cf-bb2e-bc43217e5ba0","name":"Sticky Note3"},{"parameters":{"content":"# Check existing processed files","height":560,"width":980,"color":6},"type":"n8n-nodes-base.stickyNote","position":[660,800],"typeVersion":1,"id":"fae4e81e-f20a-4476-9c63-ab2cf11c3e89","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"54cc534f-92c6-45c1-b06b-87899a87be38","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"67f2a87f-edca-4ca9-a733-10ff11fbfe40","name":"If content exists","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[2880,840]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3080,1080],"id":"8c2e10aa-3ece-4a19-a86d-81f21a72b6cc","name":"handle missing content"},{"parameters":{"content":"# Extract page content","height":560,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2280,740],"typeVersion":1,"id":"68c328b1-f2b1-44f1-bf23-027389403c4c","name":"Sticky Note6"},{"parameters":{"content":"# Done. Now what?","height":300,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[660,260],"typeVersion":1,"id":"931940a9-9eba-4d7b-ac10-5f24519663a1","name":"Sticky Note7"},{"parameters":{"content":"# Vectorize!","height":640,"width":1100,"color":6},"type":"n8n-nodes-base.stickyNote","position":[3840,400],"typeVersion":1,"id":"45aeb739-0d46-4701-88cf-d7f6b830749f","name":"Sticky Note8"},{"parameters":{"content":"# Let things rest","height":320,"width":700},"type":"n8n-nodes-base.stickyNote","position":[4540,1300],"typeVersion":1,"id":"45bd6f02-3a7a-47c3-a2e2-0b62044c07e5","name":"Sticky Note9"}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:13:16.456Z","updatedAt":"2024-10-10T05:13:16.456Z","role":"workflow:owner","workflowId":"IsyAWkkRLKJenQcg","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:05:49.402Z","updatedAt":"2024-10-10T05:05:49.402Z","id":"OmQATFUMi8Jy7yU0","name":"vectorize"}],"triggerCount":0,"updatedAt":"2025-02-05T14:10:17.821Z","versionId":"d7b3ddba-dedf-427a-a083-82e7af98f427"}