n8n/workflows/2025/Calendar tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:12:48.495Z","id":"EXuqhbyIr4JVeL2C","meta":{"templateCredsSetupCompleted":true},"name":"Calendar tool","nodes":[{"parameters":{},"id":"d45979bc-a1bd-4024-9549-e745c4506394","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"={{ $json.query.email }}","mode":"id"},"timeMin":"={{ $json.query.start_time }}","timeMax":"={{ $json.query.end_time }}","options":{"outputFormat":"raw"}},"id":"8ce4509f-6adc-4bab-9400-e8df7ee61f26","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[680,460]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {\n    \"kind\": \"{{ $json.kind }}\",\n    \"timeMin\": \"{{ $json.timeMin }}\",\n    \"timeMax\": \"{{ $json.timeMax }}\",\n    \"calendars\": {{ $json.calendars.toJsonString() }}\n  }\n}\n","options":{}},"id":"48abb3b7-bd7e-45ef-be33-823a86305a61","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,460]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:12:48.495Z","updatedAt":"2024-10-10T05:12:48.495Z","role":"workflow:owner","workflowId":"EXuqhbyIr4JVeL2C","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"},{"createdAt":"2024-10-10T05:12:40.032Z","updatedAt":"2024-10-10T05:12:40.032Z","id":"Jg2C0bTVz3E7odfl","name":"Google"},{"createdAt":"2024-10-10T05:12:40.043Z","updatedAt":"2024-10-10T05:12:40.043Z","id":"O56Dc7e4LGf06kQN","name":"Calendar"}],"triggerCount":0,"updatedAt":"2024-10-10T05:12:48.495Z","versionId":"6b7c49d4-78b6-405b-ab72-d8bcdc9d6ccd"}