n8n/workflows/2025/Confluence - Search Tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"globals","type":"main","index":0}]]},"If":{"main":[[{"node":"Missing input Response","type":"main","index":0}],[{"node":"Confluence - Get space","type":"main","index":0}]]},"globals":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Confluence - Get space":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"cql prep":{"main":[[{"node":"Confluence - Search","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"cql prep","type":"main","index":0}]]}},"createdAt":"2025-01-26T07:07:06.720Z","id":"29pI9xljW35PfNTn","meta":{"templateCredsSetupCompleted":true},"name":"Confluence - Search Tool","nodes":[{"parameters":{},"id":"29602738-9b05-4c0d-8567-09ca39f23afa","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[440,380]},{"parameters":{"content":"# Check Parameters","height":317,"width":508},"id":"eadb43a7-bdfb-42fc-b1fc-955d716bfe40","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,260]},{"parameters":{"content":"# Parameters Missing","height":317,"width":508},"id":"46321025-1e0a-4463-abdc-4d574962e696","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,-80]},{"parameters":{"content":"# Query Confluence","height":386.97747183980016,"width":508},"id":"c2409b18-d428-46de-af0d-a5d229f7c1e1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,360]},{"parameters":{"url":"={{ $json.base_url }}/wiki/api/v2/spaces","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"250"},{"name":"type","value":"global"}]},"options":{}},"id":"61a0814d-85cf-4cc0-95e9-56f2c1121886","name":"Confluence - Get space","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,480],"credentials":{"httpCustomAuth":{"id":"rLDbTyt5Pvw5MDCK","name":"Confluence - bitbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0c77985-425b-43df-92f6-c7fab3b850c1","leftValue":"={{ $json.query }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3f69f5bf-c2d2-4564-9754-73c9c367de51","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1140,380]},{"parameters":{"assignments":{"assignments":[{"id":"c440ac84-e21b-4cd5-acc9-5367d3e553bf","name":"error","value":"Missing field \"query\"","type":"string"}]},"options":{}},"id":"30f74a6f-fa07-4b16-87d5-cc3ac454b509","name":"Missing input Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,40]},{"parameters":{"assignments":{"assignments":[{"id":"c4376ccc-fa92-4cdc-84ce-c9f362ada199","name":"base_url","value":"https://bitovi.atlassian.net","type":"string"},{"id":"c92cbf08-038a-4335-894a-ad2b43ddeffd","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"id":"dc67f37b-903d-4057-ba9a-8fd34a51eab0","name":"globals","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,380]},{"parameters":{"url":"={{ $(\"globals\").first().json.base_url }}/wiki/rest/api/search","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"cql","value":"={{ $('Basic LLM Chain').last().json.output.cql }}"},{"name":"limit","value":"25"}]},"options":{}},"id":"fae975a8-4c64-4d77-9719-34ab7f5bd17e","name":"Confluence - Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2940,500],"credentials":{"httpCustomAuth":{"id":"rLDbTyt5Pvw5MDCK","name":"Confluence - bitbot"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"88c3da40-a11a-42da-b90d-d0af5e58f13e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2000,700],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"7e7a0531-d6ff-4532-b850-82eb4d1e8101","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2200,700]},{"parameters":{"model":"gpt-4o","options":{}},"id":"edd50a1c-5c6d-46e4-86f6-4e258803c935","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2200,920],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"space\": {\n      \"type\": \"string\"\n    },\n    \"title_query\": {\n      \"type\": \"string\"\n    },\n    \"text_query\": {\n      \"type\": \"string\"\n    },\n    \"cql\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"cql\"],\n  \"anyOf\": [\n    { \"required\": [\"space\"] },\n    { \"required\": [\"title_query\"] },\n    { \"required\": [\"text_query\"] }\n  ],\n  \"additionalProperties\": false\n}\n"},"id":"b98dfdb2-3fa3-4037-9295-6d88bc023489","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2400,920]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"spaces\": {{ $json.results.map(i => i.key) }}\n}\n","options":{}},"id":"13dd34cd-9881-49cf-9b2f-77571a887df8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,480]},{"parameters":{"assignments":{"assignments":[{"id":"30479a00-679e-4fd1-beb8-67c4532110e8","name":"cql","value":"=(type=page and space={{ $json.output.space }}) and (title in ({{ $json.output.title_query }}))","type":"string"}]},"options":{}},"id":"861ed285-a406-4c65-959e-7b0a8ebbefea","name":"cql prep","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2460,480]},{"parameters":{"promptType":"define","text":"=Your purpose is to output data specified by the schema given the input data.\n\nHere is the input data:\n--- data\n{{ $('globals').first().json.query }}\n--- end data \n\nfor the space, if it fits one of the following, include it, otherwise, omit:\n--- available spaces\n{{ $json.spaces.toJsonString() }}\n--- end available spaces\n\nfor the title_query, just provide a list of possible keywords. the intended output here is an input to a confluence api search (cql).\n\nfor the cql parameter, this should be valid confluence query language for a confluence search. include how to search based on a list of titles (each might possibly be relevant). use key phrases, too (not just key words).  You're dealing with a confluence search api (and atlassian's CQL). think hard about what the CQL query should be to maximize likelihood we'll find the intended documents. Be verbose. come up with a broad search. don't ever restrict yourself to searching only title or only text. always include both because we don't know where the data might be!","hasOutputParser":true},"id":"1024b31b-ad0a-4655-8477-77a50bd4af71","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2000,480],"retryOnFail":true}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"what was discussed at the last ai workshop sync?"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-01-26T07:07:06.720Z","updatedAt":"2025-01-26T07:07:06.720Z","role":"workflow:owner","workflowId":"29pI9xljW35PfNTn","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-01-27T14:02:56.147Z","versionId":"9278939e-6d97-4dae-9ada-b258e76697b9"}