n8n/workflows/2025/Confluence - Read Page tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"globals","type":"main","index":0}]]},"If":{"main":[[{"node":"Missing input Response","type":"main","index":0}],[{"node":"Confluence - Get page","type":"main","index":0}]]},"globals":{"main":[[{"node":"If","type":"main","index":0}]]}},"createdAt":"2025-01-26T08:19:26.727Z","id":"rr8EsIGtvm8sFhZx","meta":{"templateCredsSetupCompleted":true},"name":"Confluence - Read Page tool","nodes":[{"parameters":{},"id":"0cbb9616-d5e1-4141-8118-362ba2387ee2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[440,380]},{"parameters":{"content":"# Check Parameters","height":317,"width":508},"id":"01b84cd7-ccd4-4616-9de9-b87629927455","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,260]},{"parameters":{"content":"# Parameters Missing","height":317,"width":508},"id":"2a9c5d55-8bf1-4507-aa9f-67f260bf78ae","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0c77985-425b-43df-92f6-c7fab3b850c1","leftValue":"={{ $json.url }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"67225c01-63d6-4aef-85fd-d41906fe529b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1140,380]},{"parameters":{"assignments":{"assignments":[{"id":"c440ac84-e21b-4cd5-acc9-5367d3e553bf","name":"error","value":"Missing field \"url\"","type":"string"}]},"options":{}},"id":"b0a96340-b403-40ac-b6ca-abc763d17439","name":"Missing input Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,40]},{"parameters":{"assignments":{"assignments":[{"id":"c4376ccc-fa92-4cdc-84ce-c9f362ada199","name":"base_url","value":"https://bitovi.atlassian.net","type":"string"},{"id":"c92cbf08-038a-4335-894a-ad2b43ddeffd","name":"url","value":"={{ $json.query.url }}","type":"string"}]},"options":{}},"id":"aa516538-7346-4f3f-846a-39b6893a5cd5","name":"globals","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,380]},{"parameters":{"url":"={{ $json.base_url }}/wiki/rest/api/content/{{ $json.url.split('pages/')[1].split('/')[0] }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expand","value":"body.storage"}]},"options":{}},"id":"6c46ad0a-fe29-4ffb-ba55-09e8fe8b14d9","name":"Confluence - Get page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,380],"credentials":{"httpCustomAuth":{"id":"rLDbTyt5Pvw5MDCK","name":"Confluence - bitbot"}}}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-01-26T08:19:26.727Z","updatedAt":"2025-01-26T08:19:26.727Z","role":"workflow:owner","workflowId":"rr8EsIGtvm8sFhZx","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-01-26T08:38:42.810Z","versionId":"e557a446-f680-458c-9ff2-08400aa7ff58"}