n8n/workflows/2025/Confluence - Vectorize - AI - Pinecone.json
{"active":false,"connections":{"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store3","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Pinecone Vector Store3","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Pinecone Vector Store4","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Knowledgebase with sources":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Confluence - Get pages":{"main":[[{"node":"loop finalize and concat","type":"main","index":0}]]},"globals":{"main":[[{"node":"LoopDefinitions","type":"main","index":0}]]},"Turn the URL array into multiple items":{"main":[[{"node":"Filter skip list","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"LoopDefinitions":{"main":[[{"node":"Loop Update","type":"main","index":0}]]},"Loop Update":{"main":[[{"node":"format loop data","type":"main","index":0}]]},"loop output":{"main":[[{"node":"Turn the URL array into multiple items","type":"main","index":0}]]},"loop_condition: exit if no next":{"main":[[{"node":"loop output","type":"main","index":0}],[{"node":"Confluence - Get pages","type":"main","index":0}]]},"Loop Update1":{"main":[[{"node":"If no items left","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"LoopDefinitions1","type":"main","index":0}]]},"LoopDefinitions1":{"main":[[{"node":"Loop Update1","type":"main","index":0}]]},"loop finalize and concat":{"main":[[{"node":"Loop Update","type":"main","index":0}]]},"format loop data":{"main":[[{"node":"loop_condition: exit if no next","type":"main","index":0}]]},"prep metadata":{"main":[[{"node":"scan for item in list","type":"main","index":0}]]},"scan for item in list":{"main":[[{"node":"if item not processed","type":"main","index":0}]]},"Confluence - get page":{"main":[[{"node":"If content","type":"main","index":0}]]},"If content":{"main":[[{"node":"page to markdown","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"page to markdown":{"main":[[{"node":"attach metadata chunk","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"attach metadata chunk":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"If no items left":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"prep metadata","type":"main","index":0}]]},"if item not processed":{"main":[[{"node":"Confluence - get page","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"loop finalize and concat1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"loop finalize and concat1":{"main":[[{"node":"Loop Update1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"add item to sheet","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"add item to sheet","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"normalize vector output for graph","type":"main","index":0}]]},"normalize vector output for graph":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"add item to sheet":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Filter skip list":{"main":[[{"node":"Sort","type":"main","index":0}]]},"fetch processed list":{"main":[[{"node":"pre processed list","type":"main","index":0}]]},"Confluence - Get space":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"globals","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"fetch processed list","type":"main","index":0},{"node":"Confluence - Get space","type":"main","index":0}]]},"pre processed list":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop finalize and concat1","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]}},"createdAt":"2024-10-24T13:44:54.227Z","id":"xLk6rNXdwUH9UuDk","meta":{"templateCredsSetupCompleted":true},"name":"Confluence - Vectorize - AI - Pinecone","nodes":[{"parameters":{"fieldToSplitOut":"all_items","options":{}},"id":"642aa57e-389d-49e2-abab-15bd8f0f69a2","name":"Turn the URL array into multiple items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3100,1820]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"59046b60-b488-41d4-ad14-6d94896e183f","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[800,780],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"2ea8edea-8391-414b-bb4b-2791a5b9c59f","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[920,780]},{"parameters":{"options":{"splitCode":"html"}},"id":"17319714-c4dc-4038-9de9-fe91dfda961d","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1040,1000]},{"parameters":{"content":"## Clear vector store","height":689.7364920034024,"width":854.8232806294188,"color":3},"id":"4546755c-2e3d-4b83-973a-74648dfdbf28","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"content\": [\"clear\"]\n}\n","options":{}},"id":"06c07787-400f-463f-acda-f66af380de10","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,540]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"8f43cb64-5850-400d-9cea-6a514e608179","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-80,900],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"content":"# Chat with the data","height":691.5405887901464,"width":691.2156542891212,"color":5},"id":"b7f9314f-2952-41d4-8fa3-6d1312e351ed","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,460]},{"parameters":{"content":"Vector Store Test","height":530.7137536093713,"width":533.529232147323,"color":7},"id":"0a2d453d-689e-4621-92a5-a5f368c17469","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,540]},{"parameters":{"model":"gpt-4o","options":{}},"id":"c911b5ea-741e-4711-97a4-98549c7ea2ea","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1720,900],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"name":"knowledgebase","description":"Call this tool to find information about your knowledge base.  it should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"Yg9WqvYoELy3PIt2","mode":"list","cachedResultName":"KB with sources - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot"},{"name":"pineconeNamespace","stringValue":"bitovi-confluence-ai"}]}},"id":"2d74a560-e575-4df7-b112-d2b334a0d180","name":"Knowledgebase with sources","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1940,900]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"versionCreatedAt","order":"descending"}]},"options":{}},"id":"da707233-10e1-40e3-a3fb-c69a5e953a31","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2700,1820]},{"parameters":{},"id":"82656b05-98ef-4bed-aa36-6edc5c74b4e1","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2500,1820]},{"parameters":{"url":"=https://bitovi.atlassian.net/wiki/api/v2/spaces","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"keys","value":"={{ $json.confluence_space_key }}"}]},"options":{}},"id":"62b2ab9a-0e3e-40b6-b50a-780670fabea4","name":"Confluence - Get space","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6220,2200],"credentials":{"httpCustomAuth":{"id":"zZOKpXyNpsdMPCoT","name":"Confluence auth - mick"}}},{"parameters":{"url":"={{ $json.next_url }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"body-format","value":"storage"},{"name":"status","value":"current"},{"name":"limit","value":"200"}]},"options":{}},"id":"6026e0e9-b171-4cef-b28d-4a40e14b49ab","name":"Confluence - Get pages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3700,1940],"credentials":{"httpCustomAuth":{"id":"zZOKpXyNpsdMPCoT","name":"Confluence auth - mick"}}},{"parameters":{"content":"# Fetch Pages Loop\n\nIf it's the first run, the next url is set to the rot of the space.\n\nFrom there, each results set provides a new next url to call.\n\nThe http request calls the api request, and the results concat and format step merges all items into a single final list.","height":691.0160597159963,"width":1202.4135327336617,"color":5},"id":"f55c966e-413a-48c1-9f89-a6f2d84638f1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4500,1500]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"pinecone\": {\n    \"namespace\": \"bitovi-confluence-ai\",\n    \"index\": \"bitbot\"\n  },\n  \"confluence\": {\n    \"base_url\": \"{{ $('Code').first().json.confluence_space._links.base.replace('/wiki','') }}\",\n    \"space_key\": \"{{ $('Execute Workflow Trigger').first().json.confluence_space_key }}\",\n    \"skip_list\": []\n  },\n  \"google_spreadsheet\": {\n    \"id\": \"19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc\",\n    \"url\": \"{{ $('Execute Workflow Trigger').first().json.spreadsheet }}\",\n    \"sheet\": {\n      \"title\": \"{{ $('Execute Workflow Trigger').first().json.sheet }}\"\n    },\n    \"items\": {{ $json.previous_items.data }} \n  }\n}","options":{}},"id":"67d2da6f-8820-42ed-80bd-0574c39f7f9f","name":"globals","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4980,1880]},{"parameters":{"content":"# Create Tracking Sheet","height":316.00544266459065,"width":559.9647821028176,"color":4},"id":"23e7b8b8-5aa2-4a23-90dc-f618ebc26477","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6420,1300]},{"parameters":{"resource":"spreadsheet","title":"={{ $now.format('yyyy-MM-dd-T:ss') }} - Confluence Ingestion Pipeline - AI","sheetsUi":{"sheetValues":[{"title":"pages_ingested"}]},"options":{}},"id":"419be049-2100-4128-858f-a6ddb9b53a66","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-6340,1440],"credentials":{"googleSheetsOAuth2Api":{"id":"b3zQdoH9Gl6BzMXC","name":"Google Sheets account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1O0WPuRgGIwjEgF0eaa4vsPf_SfXwzMxl","mode":"url"}},"id":"ea7592ec-0ef9-402e-a511-9572a0cdc245","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-6120,1440],"credentials":{"googleDriveOAuth2Api":{"id":"FWO5LA3ibP9HKjf9","name":"Google Drive account"}}},{"parameters":{},"id":"1d076787-d544-4e84-9a06-8ca8e648ef6e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-6680,1800]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"all_items\": [],\n  \"next_url\": \"\",\n  \"first\": true\n}\n","options":{}},"id":"010327a3-f79a-46b4-940f-3efd84b318de","name":"LoopDefinitions","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4460,1800]},{"parameters":{"assignments":{"assignments":[{"id":"2a3db91c-4c43-4350-a732-7bd9a128aa56","name":"all_items","value":"={{ $json.all_items }}","type":"array"},{"id":"75a1aa01-101e-4f8c-a405-7f27355e6614","name":"next_url","value":"={{ $json.next_url }}","type":"string"},{"id":"1bc7f58f-beb4-4654-bc90-a64c10359ce3","name":"first","value":"={{ $json.first }}","type":"boolean"}]},"options":{}},"id":"f2c39f71-ba18-4c25-8860-a459bf6957c7","name":"Loop Update","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4260,1800]},{"parameters":{"content":"# Fetch space details","height":303.6899746312031,"width":390.34228827153675},"id":"06359bac-6647-4b90-8053-a55215a0c23b","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6380,2060]},{"parameters":{"content":"# List Prep","height":291.81053888240183,"width":1102.3635599399734,"color":6},"id":"a23edc84-788d-4f7b-8e89-1f9953d89052","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3240,1720]},{"parameters":{"assignments":{"assignments":[{"id":"52a01c63-376f-4bdf-8211-08ee7f0244a8","name":"all_items","value":"={{ $json.all_items }}","type":"array"}]},"options":{}},"id":"2e514ce0-ba4e-417c-b5e6-9fe9cd5c5125","name":"loop output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3500,1700]},{"parameters":{"assignments":{"assignments":[{"id":"114709b6-3bb9-43ef-88d6-6302f6e4e3f2","name":"remaining_items","value":"={{ $json.data }}","type":"array"},{"id":"26aa6152-330a-49a5-9fa5-7718c445d114","name":"processed_items","value":"[]","type":"array"}]},"options":{}},"id":"1b58511d-e60c-48c7-b2b3-dff2bdb11e5e","name":"LoopDefinitions1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1960,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"297edd14-6529-48ea-9379-60bb5d251075","leftValue":"={{ $json.next_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6c0f11d-9be7-4abb-a8ba-b56b1df558b1","name":"loop_condition: exit if no next","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-3900,1800]},{"parameters":{"assignments":{"assignments":[{"id":"2a3db91c-4c43-4350-a732-7bd9a128aa56","name":"remaining_items","value":"={{ $json.remaining_items }}","type":"array"},{"id":"75a1aa01-101e-4f8c-a405-7f27355e6614","name":"processed_items","value":"={{ $json.processed_items }}","type":"array"}]},"options":{}},"id":"021c9403-1c65-418e-bb86-85d26deab52d","name":"Loop Update1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,1820]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"daf7c541-c044-4ac1-bc05-a3026f4afe3b","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2300,1820]},{"parameters":{"jsCode":"let items = $input.first().json.results;\nlet links = $input.first().json._links;\nlet res = items.map(i => {\n  return {\n    \"createdAt\": i.createdAt,\n    \"version\": i.version.number,\n    \"authorId\": i.authorId,\n    \"versionCreatedAt\": i.version.createdAt,\n    \"title\": i.title,\n    \"status\": i.status,\n    \"parentId\": i.parentId,\n    \"spaceId\": i.spaceId,\n    \"ownerId\": i.ownerId,\n    \"id\": i.id,\n    \"url\": i._links.webui\n  }\n})\n\nlet all_items = $('format loop data').last().json.all_items;\n\nreturn {\n  \"all_items\": all_items.concat(res),\n  \"next_url\": (links && \"next\" in links) ? links.next : \"\",\n  \"first\": false\n};"},"id":"739362ab-79d6-4ed9-b0ba-526de2029ed0","name":"loop finalize and concat","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3480,1960]},{"parameters":{"jsCode":"let item = $('Loop Update').last().json;\nlet confluence_root = $('globals').first().json.confluence.base_url;\nlet all_items = item.all_items;\n\n// item.next_url\nlet next_url = 'next_url' in item ? item.next_url : \"\";\n\nif(\"first\" in item && item.first){\n  let base_url = $('globals').first().json.confluence.base_url;\n  let space_id = $('Confluence - Get space').first().json.results[0].id;\n next_url = `${base_url}/wiki/api/v2/spaces/${space_id}/pages`;  \n}\n\n\n// if next_url does not start with confluence_root, add it\nif(next_url && !next_url.startsWith(confluence_root)){\n  next_url = confluence_root + next_url;\n}\n\nreturn {\n  \"all_items\": all_items,\n  \"next_url\": next_url,\n  \"first\": $input.first().json.first\n};\n"},"id":"a3f71511-03db-4f8b-96b2-e88dc5a89d9a","name":"format loop data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4100,1800]},{"parameters":{"assignments":{"assignments":[{"id":"6cf2edba-1ce3-4f9e-975d-7084b2c8267c","name":"loc","value":"={{ $('globals').first().json.confluence.base_url }}{{ $json.remaining_items[0].url }}","type":"string"},{"id":"36c3e7fb-b74b-4873-8020-57d1c19ac2ff","name":"lastmod","value":"={{ $json.remaining_items[0].versionCreatedAt }}","type":"string"},{"id":"13222ac1-487b-447f-b035-325635402189","name":"id","value":"={{ $json.remaining_items[0].id }}","type":"string"},{"id":"f2dd12f2-710f-4813-9644-b6f573698288","name":"authorId","value":"={{ $json.remaining_items[0].authorId }}","type":"string"},{"id":"5ff58600-ac02-43eb-addd-15a57de50ec7","name":"version","value":"={{ $json.remaining_items[0].version }}","type":"number"},{"id":"a085eac4-665f-4e43-943f-96cfe94da4f0","name":"createdAt","value":"={{ $json.remaining_items[0].createdAt }}","type":"string"},{"id":"b086cafd-9feb-4b04-92d7-d3feceaa45ad","name":"parentId","value":"={{ $json.remaining_items[0].parentId }}","type":"string"},{"id":"6a305dce-f93e-40dc-a4e0-bf5af72e8b96","name":"spaceId","value":"={{ $json.remaining_items[0].spaceId }}","type":"string"}]},"options":{}},"id":"75989a8c-a184-47d6-b138-75f33990eb69","name":"prep metadata","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,1980]},{"parameters":{"jsCode":"let itemInList = false;\n\nfor (const item of $('globals').first().json.google_spreadsheet.items) {\n  if(! (\"id\" in item) ){\n    break;\n  }\n  \n  let sheet_id = item.id.toString().trim();\n  let conf_id = $('prep metadata').last().json.id.toString().trim();\n  \n  console.log(\"item.json.id === metadata.last.id\")\n  console.log(`${item.id} === ${$('prep metadata').last().json.id}`)\n  \n  if(sheet_id === conf_id){\n    itemInList = true;\n    break;\n  }\n}\n\nreturn {\n  \"item_in_list\": itemInList\n}"},"id":"7e51c0cf-58d5-4129-ba50-283d47d5d3b3","name":"scan for item in list","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,1980]},{"parameters":{"url":"={{ $('globals').first().json.confluence.base_url }}/wiki/api/v2/pages/{{ $('prep metadata').last().json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"body-format","value":"storage"},{"name":"status","value":"current"}]},"options":{}},"id":"4b09ef2e-0788-4b3b-a6b5-2be1b3c6c8b1","name":"Confluence - get page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-740,1780],"credentials":{"httpCustomAuth":{"id":"zZOKpXyNpsdMPCoT","name":"Confluence auth - mick"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"54cc534f-92c6-45c1-b06b-87899a87be38","leftValue":"={{ $json.body.storage.value }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"19e13884-0289-4396-a552-7b94f0be3e9c","name":"If content","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-560,1780]},{"parameters":{"jsCode":"//given an item, a remaining list, and a proessed list\n//    get the id from the item\n//    search remaining list for item with same id\n//    if found, remove from remaining, and add to processed\n//    return  {new_remaining_items,new_processed_items}\nlet item = $json;\nlet item_id = item.id;\nlet remaining_items = $('Loop Update1').last().json.remaining_items;\nlet processed_items = $('Loop Update1').last().json.processed_items;\n\nconsole.log(\"=======\")\nconsole.log(\"remaining_items\")\nconsole.log(remaining_items)\nconsole.log(\"processed_items\")\nconsole.log(processed_items)\n\n// extract item from remaining\nlet new_remaining_items = remaining_items.filter(remaining_item => remaining_item.id !== item_id);\nlet item_in_remaining = remaining_items.find(remaining_item => remaining_item.id === item_id);\n\n// set vectorized\nitem_in_remaining.vectorized = item.vectorized; \n\n// if processed_items is not a list or is empty, create a new list\nif (!Array.isArray(processed_items) || !processed_items || processed_items.length === 0) {\n  processed_items = [];\n}\nlet new_processed_items = [...processed_items, item_in_remaining];\n\n\nconsole.log(\"new_remaining_items\")\nconsole.log(new_remaining_items)\nconsole.log(\"new_processed_items\")\nconsole.log(new_processed_items)\nconsole.log(\"item_in_remaining\")\nconsole.log(item_in_remaining)\n\nreturn {\n  \"processed_items\": new_processed_items,\n  \"remaining_items\": new_remaining_items\n};"},"id":"9853bbf1-eb06-40a6-9c12-c815eb64b95c","name":"loop finalize and concat1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,2080]},{"parameters":{"html":"={{ $json.body.storage.value }}","destinationKey":"md","options":{"ignore":"footer"}},"id":"5a58ed69-16b3-43d1-9024-b83accec7ea1","name":"page to markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-360,1520]},{"parameters":{"jsCode":"const item = $input.last().json\nconst url = `${item._links.base}${item._links.webui}`;\nconst md = $input.last().json.md;\n\nlet newContent = `\n--- Chunk Metadata\nlocation(aka: url): ${url}\nlastmod (aka: last_modified): ${item.version.createdAt}\ntitle: ${item.title}\nowner: ${item.ownerId}\nauthor: ${item.authorId}\nparentId: ${item.parentId}\nspaceId: ${item.spaceId}\nid: ${item.id}\n--- End Chunk Metadata\n${md}\n`\n\nreturn [{ \"json\": { \n  \"content\": newContent,\n  \"metadata\": {\n    \"url\": url,\n    \"last_modified\": item.versionCreatedAt,\n    \"id\": item.id,\n    \"title\": item.title,\n    \"owner\": item.ownerId,\n    \"author\": item.authorId,\n    \"parentId\": item.parentId\n  }\n} }];"},"id":"7dccb911-565a-46ef-af0e-4c82f1f6f821","name":"attach metadata chunk","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,1520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"632a0459-4644-4366-9f9c-62afa28537b9","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-40,1700],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $json.metadata.id }}"},{"name":"url","value":"={{ $json.metadata.url }}"},{"name":"title","value":"={{ $json.metadata.title }}"},{"name":"owner","value":"={{ $json.metadata.owner }}"},{"name":"author","value":"={{ $json.metadata.author }}"},{"name":"parent","value":"={{ $json.metadata.parentId }}"}]}}},"id":"5a602f3b-fc2c-4996-9ffb-429c21f543bb","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[80,1700]},{"parameters":{"chunkOverlap":500,"options":{"splitCode":"markdown"}},"id":"60d45ce6-6637-4ad6-8532-5d5897b21afc","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[120,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e001fa2c-5867-4e45-9621-7d58190792cb","leftValue":"={{ $json.remaining_items }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4a2e32a3-4131-4deb-b99c-1a929a8aaa03","name":"If no items left","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-1560,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"37ff6813-4da5-443a-8ee1-d40ffebaeadc","leftValue":"={{ $json.item_in_list }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"41a8bc61-f818-46c3-90cb-78d3bc62c594","name":"if item not processed","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-940,1980]},{"parameters":{"assignments":{"assignments":[{"id":"7a02cac0-89e5-4a81-b1e3-0c057fc6d4e5","name":"id","value":"={{ $('prep metadata').last().json.id }}","type":"string"}]},"options":{}},"id":"a1999aff-3ff7-4aa9-9dab-4da5af700a7f","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,2120]},{"parameters":{"assignments":{"assignments":[{"id":"face6116-4f16-44cc-b21c-f0dc7f91efa4","name":"id","value":"={{ $('Confluence - get page').last().json.id }}","type":"string"},{"id":"6b21b6c6-2e85-45f3-8e37-789704988158","name":"vectorized","value":true,"type":"boolean"}]},"options":{}},"id":"fe8ac945-89f4-4529-933d-21cab8c45121","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,1780]},{"parameters":{"assignments":{"assignments":[{"id":"076360e3-1b2c-4933-98bc-3422fadccc58","name":"id","value":"={{ $('Confluence - get page').last().json.id }}","type":"string"},{"id":"91b03c1e-caf9-4622-af7e-225c00070453","name":"vectorized","value":"true","type":"string"},{"id":"7889a353-04b2-4b8f-89fd-d61863487dbb","name":"timestamp","value":"={{ $now.toString() }}","type":"string"},{"id":"8d308c65-4dcd-4de9-b53e-4cd7ef078cfa","name":"title","value":"={{ $('Confluence - get page').last().json.title }}","type":"string"}]},"options":{}},"id":"8c2f4160-a124-4445-ab92-8f13f43047d8","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,1780]},{"parameters":{"assignments":{"assignments":[{"id":"076360e3-1b2c-4933-98bc-3422fadccc58","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"91b03c1e-caf9-4622-af7e-225c00070453","name":"vectorized","value":"","type":"string"},{"id":"7889a353-04b2-4b8f-89fd-d61863487dbb","name":"timestamp","value":"={{ $now.toString() }}","type":"string"}]},"options":{}},"id":"2e4e2e16-c3c8-4dde-b0e3-d05341ee01cf","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,1960]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot","mode":"list","cachedResultName":"bitbot"},"options":{"pineconeNamespace":"bitovi-confluence-ai"}},"id":"ae85030d-c4f7-4b0d-b23c-cb21f2957a01","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[0,1520],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"jsCode":"return {}"},"id":"12a4a981-8421-4053-b747-e29ac4526189","name":"normalize vector output for graph","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1520]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('globals').first().json.google_spreadsheet.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('globals').first().json.google_spreadsheet.sheet.title }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"vectorized","displayName":"vectorized","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"b77cd7a3-fcb2-48a3-89ef-36030cf3f713","name":"add item to sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,1780],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"b3zQdoH9Gl6BzMXC","name":"Google Sheets account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#bitbot-testing-rag","mode":"name"},"text":"=*RAG Pipeline executed for Confluence ({{ $('globals').first().json.confluence.space_key }})*\n\nItems processed: {{ $('Aggregate').first().json.data.length }}\nItems.vectorized: {{ $('Loop Update1').last().json.processed_items.filter(item => item.vectorized).length }}\n\n\nResults captured here: {{ $('Google Sheets').first().json.spreadsheetUrl }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"4954c3f3-80f5-4859-b755-fbb1408e4c7b","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-1000,1300],"credentials":{"slackApi":{"id":"0yD31pKPo3fi7U3p","name":"Slack account"}}},{"parameters":{},"id":"dbbec46e-5e4a-4388-8901-5f11b01c341a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1340,1720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1a4dc781-06a7-4f03-8aad-4e85cb14b7a2","leftValue":"={{ $('globals').first().json.confluence.skip_list }}","rightValue":"={{ $json.id }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"18946d55-d127-4cdf-9f45-d543748aa002","leftValue":"={{ $('globals').first().json.confluence.skip_list }}","rightValue":"={{ $json.parentId }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"1cbd2cb6-404f-4d8b-b9b9-5ce1d9e0d31c","name":"Filter skip list","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-2900,1820]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.spreadsheet }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $json.sheet }}","mode":"name"},"options":{}},"id":"bacacc76-9b1a-4f18-9c2f-da372274670a","name":"fetch processed list","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-6320,1780],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"b3zQdoH9Gl6BzMXC","name":"Google Sheets account"}}},{"parameters":{"content":"# Set Globals","height":529.1087640684457,"width":558.1638599975919},"id":"47d05827-d1ff-440b-bb29-8bd464006d28","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5360,1660]},{"parameters":{"content":"# Get Tracking Sheet","height":316.00544266459065,"width":559.9647821028176,"color":4},"id":"9e331098-1748-436d-b0c8-2003b1db35e4","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6420,1660]},{"parameters":{"jsCode":"return {\n  \"previous_items\": $input.first().json,\n  \"confluence_space\": $input.last().json\n}"},"id":"64ade444-897c-416a-ad58-67eded6ab89d","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5140,1880]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"a0a5067a-c834-4c8e-aa14-8da722e4f10b","name":"pre processed list","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-6100,1780]},{"parameters":{"amount":2},"id":"ff1dc770-2883-4c3c-a193-202ba1a7247e","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1020,1780],"webhookId":"11803181-3686-46be-aa11-dae04a92f46a"},{"parameters":{"contextWindowLength":10},"id":"3fc858cd-a404-45c5-a342-d7c5484435ae","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1820,840]},{"parameters":{},"id":"7a0daae9-8b5a-4d3b-af69-18e4dfd648fa","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[1540,620],"webhookId":"a4c92760-31e0-4053-b54a-6ed6e07e773b"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"bitbot","mode":"list","cachedResultName":"bitbot"},"prompt":"How do you make sure agents don't do things we don't want them to?","options":{"pineconeNamespace":"bitovi-confluence-ai"}},"id":"8d0f2d16-3883-4b65-9627-7a3fdb515910","name":"Pinecone Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-120,620],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bitbot","mode":"list","cachedResultName":"bitbot"},"options":{"clearNamespace":true,"pineconeNamespace":"bitovi-confluence-ai"}},"id":"cd8f8906-3a39-454d-9423-3db01d268a74","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[880,520],"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}},{"parameters":{"promptType":"define","text":"=You are an information retrieval agent tasked with retrieving accurate and reliable data exclusively from a specified knowledgebase. Your primary responsibilities are:\n\n1) Retrieve First: Always prioritize going directly to the knowledgebase for data before providing any response.\n\n2) Cite Sources: Every response must include detailed citations from the knowledgebase, including URLs, specific articles, document titles, page numbers, or section references. If the knowledgebase does not include exact page numbers, include document titles and section headings where the information is found.\n\n3) No Guessing or External Information: Do not provide data that is not explicitly found in the knowledgebase. If the knowledgebase does not contain the requested information, respond with a clear indication that the data is unavailable from the source.\n\n4) Formatting Citations: When citing, format each citation with the following structure: [heading](url), Page Number or Specific Location, Date if applicable). If the knowledgebase uses a different citation format, follow that standard instead.\n\nExample response format: \"According to the 'Product Specifications' section of the [Knowledgebase Reference Guide](https://foo.com], the widget operates at 500 MHz (Page 23, 2024).\"\n\nYour primary focus is on precision and verifiable information, sourced directly from the knowledgebase at all times.\n\nAnswer this query:\n---\n{{ $json.chatInput }}\n---","options":{}},"id":"99ab8937-0bee-4ba8-883d-3ebe8b88935a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1720,620]},{"parameters":{"mode":"combine","fieldsToMatchString":"foo","joinMode":"keepEverything","options":{}},"id":"8d207467-4461-473c-97f9-c1ba41849d5a","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-5300,1880]}],"pinData":{"Execute Workflow Trigger":[{"json":{"confluence_space_key":"AI","spreadsheet":"https://docs.google.com/spreadsheets/d/19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc/edit","sheet":"pages_ingested"}}],"Google Sheets":[{"json":{"spreadsheetId":"19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc","properties":{"title":"2024-10-24-09:47:21 - Confluence Ingestion Pipeline - AI","locale":"en_US","autoRecalc":"ON_CHANGE","timeZone":"Etc/GMT","defaultFormat":{"backgroundColor":{"red":1,"green":1,"blue":1},"padding":{"top":2,"right":3,"bottom":2,"left":3},"verticalAlignment":"BOTTOM","wrapStrategy":"OVERFLOW_CELL","textFormat":{"foregroundColor":{},"fontFamily":"arial,sans,sans-serif","fontSize":10,"bold":false,"italic":false,"strikethrough":false,"underline":false,"foregroundColorStyle":{"rgbColor":{}}},"backgroundColorStyle":{"rgbColor":{"red":1,"green":1,"blue":1}}},"spreadsheetTheme":{"primaryFontFamily":"Arial","themeColors":[{"colorType":"TEXT","color":{"rgbColor":{}}},{"colorType":"BACKGROUND","color":{"rgbColor":{"red":1,"green":1,"blue":1}}},{"colorType":"ACCENT1","color":{"rgbColor":{"red":0.25882354,"green":0.52156866,"blue":0.95686275}}},{"colorType":"ACCENT2","color":{"rgbColor":{"red":0.91764706,"green":0.2627451,"blue":0.20784314}}},{"colorType":"ACCENT3","color":{"rgbColor":{"red":0.9843137,"green":0.7372549,"blue":0.015686275}}},{"colorType":"ACCENT4","color":{"rgbColor":{"red":0.20392157,"green":0.65882355,"blue":0.3254902}}},{"colorType":"ACCENT5","color":{"rgbColor":{"red":1,"green":0.42745098,"blue":0.003921569}}},{"colorType":"ACCENT6","color":{"rgbColor":{"red":0.27450982,"green":0.7411765,"blue":0.7764706}}},{"colorType":"LINK","color":{"rgbColor":{"red":0.06666667,"green":0.33333334,"blue":0.8}}}]}},"sheets":[{"properties":{"sheetId":1668403867,"title":"pages_ingested","index":0,"sheetType":"GRID","gridProperties":{"rowCount":1000,"columnCount":26}}}],"spreadsheetUrl":"https://docs.google.com/spreadsheets/d/19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc/edit?ouid=110311322574055537484"}}],"Google Drive":[{"json":{"kind":"drive#file","id":"19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc","name":"2024-10-24-09:47:21 - Confluence Ingestion Pipeline - AI","mimeType":"application/vnd.google-apps.spreadsheet"}}],"Confluence - Get space":[{"json":{"results":[{"homepageId":"670368041","createdAt":"2024-03-26T15:10:20.702Z","authorId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","icon":null,"description":null,"status":"current","name":"AI","key":"AI","id":"670367755","type":"global","_links":{"webui":"/spaces/AI"}}],"_links":{"base":"https://bitovi.atlassian.net/wiki"}}}],"globals":[{"json":{"pinecone":{"namespace":"bitovi-confluence-ai","index":"bitbot"},"confluence":{"base_url":"undefined","space_key":"AI","skip_list":[]},"google_spreadsheet":{"id":"19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc","url":"https://docs.google.com/spreadsheets/d/19tDC8gMzNeEik58CgxMo2ZT_4LksHR-DjuZaixF5rnc/edit","sheet":{"title":"pages_ingested"},"items":[{}]}}}],"Code":[{"json":{"previous_items":{"data":[{}]},"confluence_space":{"data":[{}]}}}],"Merge":[{"json":{"data":[{}]}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-24T13:44:54.227Z","updatedAt":"2024-10-24T13:44:54.227Z","role":"workflow:owner","workflowId":"xLk6rNXdwUH9UuDk","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:05:49.402Z","updatedAt":"2024-10-10T05:05:49.402Z","id":"OmQATFUMi8Jy7yU0","name":"vectorize"},{"createdAt":"2024-10-10T05:12:16.265Z","updatedAt":"2024-10-10T05:12:16.265Z","id":"pEzMLxmV8iWcQhz1","name":"confluence"}],"triggerCount":0,"updatedAt":"2024-11-05T19:42:22.312Z","versionId":"5a7988b9-c564-4e36-92f2-6cc08e15a3f2"}