n8n/workflows/2025/github backup workflows.json
{"active":false,"connections":{"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"n8n1","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]},"n8n":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"github status]","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"github status]":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:09:14.166Z","id":"hX318nL7bJYUkKvD","meta":{"templateCredsSetupCompleted":true},"name":"github backup workflows","nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-1000,620],"typeVersion":1,"id":"e5271c80-7f4c-4c49-88f1-40eeb8ca8079"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"name":"GitHub","type":"n8n-nodes-base.github","position":[380,480],"typeVersion":1,"alwaysOutputData":true,"id":"487e0f4d-817f-4b60-bf9a-415db1a74dce","credentials":{"githubApi":{"id":"50y5XaINJHhieJG0","name":"Bitbot - PAT"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json","fileContent":"={{ $json.ordered.toJsonString() }}","commitMessage":"=[N8N Backup] {{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json ({{$json[\"github_status\"]}})","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2120,1060],"typeVersion":1,"id":"7a3c7932-1c4a-4ec7-88d1-5821694049e3","credentials":{"githubApi":{"id":"50y5XaINJHhieJG0","name":"Bitbot - PAT"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json","fileContent":"={{ $json.ordered.toJsonString() }}","commitMessage":"=[N8N Backup] {{$node[\"Globals\"].json[\"repo\"][\"path\"]}}/{{ $json.ordered.name }}.json ({{$json[\"github_status\"]}})","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"] }}"}}},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[2100,1360],"typeVersion":1,"id":"6c223862-5daf-4b03-b8a3-35c5c2f873dc","credentials":{"githubApi":{"id":"50y5XaINJHhieJG0","name":"Bitbot - PAT"}}},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-1000,920],"typeVersion":1,"id":"0d841d23-5727-469d-b6f0-76693992c036"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[80,540],"typeVersion":1,"id":"27768801-e2cb-4b8d-9bb2-443e4ae8075f"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"bitovi"},{"name":"repo.name","value":"bitbot"},{"name":"repo.path","value":"n8n/workflows/2025"},{"name":"repo.branch","value":"n8n-workflows"}]},"options":{"dotNotation":true}},"name":"Globals","type":"n8n-nodes-base.set","position":[-860,760],"typeVersion":1,"id":"0e5307a4-2d28-40c1-962c-57a2f82b845b"},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"3f35f1a8-c58a-4568-a2ff-1beaba2a359c","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-660,760],"credentials":{"n8nApi":{"id":"5I95lMj9XTnqGCsI","name":"n8n account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"d0bad8e6-e7e3-43d1-bdd2-c7bb091b03d6","name":"n8n1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[380,660],"credentials":{"n8nApi":{"id":"5I95lMj9XTnqGCsI","name":"n8n account"}}},{"parameters":{"jsCode":"let github_result = $input.first().json;\nlet n8n_workflow_data = $input.last().json;\n\nconsole.log(\"github_result\");\nconsole.log(github_result)\n\n\nif (github_result.content) {\n    // Decode the Base64 content from GitHub\n    let contentDecoded = Buffer.from(github_result.content, 'base64').toString();\n    // Parse the JSON content\n    let origWorkflow = JSON.parse(contentDecoded);\n\n    // Get the workflow data from n8n\n    let n8nWorkflow = n8n_workflow_data;\n\n    // Order the JSON objects by keys\n    let orderedOriginal = {};\n    let orderedActual = {};\n\n    console.log(\"origWorkflow\")\n    console.log(origWorkflow)\n    Object.keys(origWorkflow).sort().forEach(key => {\n        orderedOriginal[key] = origWorkflow[key];\n    });\n\n    Object.keys(n8nWorkflow).sort().forEach(key => {\n        orderedActual[key] = n8nWorkflow[key];\n    });\n\n    console.log(\"ordered Original\")\n    console.log(orderedOriginal)\n    console.log(\"ordered Actual\")\n    console.log(orderedActual)\n    // Compare the ordered JSON objects\n    if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n        github_result.github_status = \"same\";\n        github_result.content_decoded = orderedOriginal;\n        github_result.ordered = orderedOriginal;\n    } else {\n        github_result.github_status = \"different\";\n        github_result.content_decoded = orderedOriginal;\n        github_result.n8n_data_string = JSON.stringify(orderedActual, null, 2);\n        github_result.ordered = orderedActual;\n    }\n} else {\n    // No content from GitHub; this is a new workflow\n    let n8nWorkflow = n8n_workflow_data;\n    let orderedActual = {};\n\n    console.log(\"n8nWorkflow\")\n    console.log(n8nWorkflow)\n    Object.keys(n8nWorkflow).sort().forEach(key => {\n        orderedActual[key] = n8nWorkflow[key];\n    });\n\n    // Set the status to \"new\" and store the ordered workflow data\n    github_result.github_status = \"new\";\n    github_result.n8n_data_string = JSON.stringify(orderedActual, null, 2);\n    github_result.ordered = orderedActual;\n}\n\n// Return the modified GitHub result\nreturn [{ json: github_result }];\n"},"id":"d0a0ab89-cf83-48fd-82f1-96a7b1e5aea0","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,560]},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[1880,760],"typeVersion":1,"id":"5280e2ac-d6fa-4037-b54b-6fcdd7bff79b"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[1900,1060],"typeVersion":1,"id":"9f22f0a6-9cb5-4b14-9653-06c5970751f2"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[1900,1360],"typeVersion":1,"id":"0c613a51-e76b-4d4f-b1c2-367de8161a14"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.github_status }}","rightValue":"same","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"426b00c2-0140-438f-81e7-1fe337bd5b96","leftValue":"={{ $json.github_status }}","rightValue":"different","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"370bb891-ae9a-4bdd-9698-61c367ba6191","leftValue":"={{ $json.github_status }}","rightValue":"new","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"id":"4e224e5a-ec9b-4ecc-8613-514833713660","name":"github status]","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[1120,560]},{"parameters":{},"id":"ac46f975-bfeb-43ec-bf3b-6311c83d0d70","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[680,560]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:09:14.166Z","updatedAt":"2024-10-10T05:09:14.166Z","role":"workflow:owner","workflowId":"hX318nL7bJYUkKvD","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-02-05T16:30:01.267Z","versionId":"782ab481-682e-45c4-9f87-7792f17b79b5"}