n8n/workflows/2025/Google custom search tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:12:04.205Z","id":"VBYRqdaenqQOxUUX","meta":{"templateCredsSetupCompleted":true},"name":"Google custom search tool","nodes":[{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyC7P6O-4TgoCmyzNb1AJLNmS19u9ewJbOs"},{"name":"cx","value":"e5df679d374ab4b23"},{"name":"q","value":"={{ $('Execute Workflow Trigger').first().json.query.query }}"}]},"options":{}},"id":"0e989ab2-914d-497a-ba3c-68d879784aeb","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,480]},{"parameters":{},"id":"fafdbd9e-275c-4158-a9ed-c3dc50be09b5","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-660,480]},{"parameters":{"assignments":{"assignments":[{"id":"c8aaf55e-4fbb-4cb5-9a5d-1dd703491af6","name":"response","value":"={{ $json }}","type":"object"}]},"options":{"dotNotation":true}},"id":"6efd6f00-561b-4287-a778-ca502fadd5f1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,480]},{"parameters":{"jsCode":"let q = $('Execute Workflow Trigger').first().json.query;\n\nif('query' in q){\n  q = q.query\n}\nreturn q;"},"id":"21c30958-b84c-4998-8a3c-9d4f2f58a0f3","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,480],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1388a072-5a14-4196-9d1d-705ff3db1eac","leftValue":"={{ $('Execute Workflow Trigger').item.json.return_items }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6b15f0c-faf4-4501-8f11-5ec4b2a207bb","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[160,480]},{"parameters":{"assignments":{"assignments":[{"id":"b8aaa800-6290-4b48-84dc-07cc1471b567","name":"response","value":"={{ $json.response.items }}","type":"array"}]},"options":{}},"id":"a4e7b41b-90ed-42a7-9615-f18c24f38430","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,460]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"query":"What are bitovi services?"},"return_items":true}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:12:04.205Z","updatedAt":"2024-10-10T05:12:04.205Z","role":"workflow:owner","workflowId":"VBYRqdaenqQOxUUX","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"}],"triggerCount":0,"updatedAt":"2024-10-24T14:28:11.356Z","versionId":"9c9fee33-a3a1-41c3-9822-4a49783f9a54"}