n8n/workflows/2025/Hubspot email research tool.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Get first item","type":"main","index":0}]]},"Get first item":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"HubSpot1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:08:07.358Z","id":"7nYnd596hcNuC9I0","meta":{"templateCredsSetupCompleted":true},"name":"Hubspot email research tool","nodes":[{"parameters":{},"id":"ea15ba08-f340-4640-8be7-1da1bbb3cf28","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[800,380]},{"parameters":{"authentication":"appToken","operation":"search","returnAll":true,"filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"email|string","value":"={{ $json.query.email }}"}]}}]},"additionalFields":{}},"id":"48bf30a8-2293-42a0-8cfc-ad35f354693d","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[1020,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"28ba17cf-ca3a-4ae8-9dda-2b064020602e","leftValue":"={{ $itemIndex.toString() }}","rightValue":"0","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"546ec631-b022-4e2d-a0ad-24e401797f4c","name":"Get first item","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[1240,380]},{"parameters":{"authentication":"appToken","operation":"get","contactId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"additionalFields":{"propertiesCollection":{"propertiesValues":{"properties":["hs_additional_emails","hs_calculated_form_submissions","hs_lifecyclestage_lead_date","hs_lifecyclestage_marketingqualifiedlead_date","hs_lifecyclestage_salesqualifiedlead_date","hs_lifecyclestage_subscriber_date","hs_lifecyclestage_opportunity_date","blog_default_hubspot_blog_subscription","hs_calculated_mobile_number","hs_calculated_phone_number","city","hs_facebook_ad_clicked","hs_linkedin_ad_clicked","hs_clicked_linkedin_ad","client_status","closedate","comments","company","company_size","hs_has_active_subscription","hubspot_owner_id","country","createdate","hs_created_by_user_id","hs_v2_cumulative_time_in_lead","hs_v2_cumulative_time_in_marketingqualifiedlead","hs_v2_cumulative_time_in_opportunity","hs_v2_cumulative_time_in_other","hs_v2_cumulative_time_in_salesqualifiedlead","hs_v2_cumulative_time_in_subscriber","currentlyinworkflow","hs_v2_date_entered_customer","hs_v2_date_entered_evangelist","hs_v2_date_entered_lead","hs_v2_date_entered_marketingqualifiedlead","hs_v2_date_entered_opportunity","hs_v2_date_entered_other","hs_v2_date_entered_salesqualifiedlead","hs_date_entered_marketingqualifiedlead","hs_date_entered_lead","hs_date_entered_evangelist","hs_date_entered_customer","hs_v2_date_entered_subscriber","hs_date_entered_opportunity","hs_date_entered_other","hs_date_entered_salesqualifiedlead","traffic_source","hs_is_enriched","work_email","what_do_you_have_in_mind_","website","hs_updated_by_user_id","hs_email_optout","hs_sa_first_engagement_object_type","twitterhandle","total_revenue","hs_time_to_move_from_subscriber_to_customer","hs_time_to_move_from_salesqualifiedlead_to_customer","hs_time_to_move_from_opportunity_to_customer","timezone","hs_time_to_move_from_marketingqualifiedlead_to_customer","hs_time_to_move_from_lead_to_customer","hs_analytics_first_visit_timestamp","hs_analytics_last_visit_timestamp","hs_time_in_subscriber","hs_time_in_salesqualifiedlead","hs_time_in_other","hs_time_in_opportunity","hs_time_in_marketingqualifiedlead","hs_time_in_lead","hs_time_between_contact_creation_and_deal_close","hs_time_between_contact_creation_and_deal_creation","hs_content_membership_follow_up_enqueued_at","hs_time_in_customer","hs_time_in_evangelist","hs_timezone","technology_stack","tag","client_current","address","hs_content_membership_status","state","stage","start_date","spam","services_interest","relationship_status","hs_object_id","hs_object_source_label","hs_object_source","hs_object_source_id","hs_object_source_user_id","prior_company","associatedcompanyid","phone","photo","outreach_priority","orignal_source","hs_analytics_source","num_contacted_notes","hs_analytics_num_visits","num_unique_conversion_events","num_notes","hs_analytics_num_page_views","num_conversion_events","numemployees","num_associated_deals","hs_notes_next_activity_type","notes_next_activity_date","nps_type","message","mobilephone","hs_marketable_until_renewal","hs_emailconfirmationstatus","hs_email_bounce","hs_email_click","hs_email_delivered","hs_email_open","hs_email_replied","hs_linkedinid","linkedin_url","hs_linkedin_url","hs_time_to_first_engagement","hs_lead_status","lead_source_detail","lead_source","notes_last_contacted","last_date_contacted___network_list_field","hs_last_sales_activity_timestamp","hs_last_sales_activity_type","lastmodifieddate","lastname","hs_analytics_last_url","hs_analytics_last_referrer","hs_analytics_last_touch_converting_campaign","hs_email_last_email_name","hs_email_last_click_date","notes_last_updated","jobtitle","job_function","initial_contact","i_m_interested_in_the_following_","blockchain_consulting_options","schedule_workshop","hubspot_team_id","hubtags","github_username","hs_first_outreach_date","hs_email_first_send_date","hs_email_first_reply_date","hs_email_first_open_date","firstname","first_deal_created_date","hs_analytics_first_url","hs_analytics_first_referrer","hs_analytics_first_touch_converting_campaign","hs_email_first_click_date","hs_sa_first_engagement_date","date_of_birth","days_to_close","departments","email","email_2","email_3","experience_level","hs_facebookid","facebook_url","field_of_study","first_conversion_event_name","first_conversion_date"],"propertyMode":"valueOnly"}}}},"id":"73a4c15c-38b5-482d-98e0-f8de50123513","name":"HubSpot1","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[1480,380]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function extractKeyContactData(contactData) {\n    // Helper function to safely get nested values\n    const getNested = (obj, ...args) => {\n        return args.reduce((obj, level) => obj && obj[level], obj);\n    };\n\n    // Helper function to convert timestamp to date string\n    const timestampToDate = (ts) => {\n        return ts ? new Date(parseInt(ts)).toISOString().split('T')[0] : null;\n    };\n\n    const properties = contactData.properties || {};\n    \n    const extractedData = {\n        Name: `${getNested(properties, 'firstname', 'value') || ''} ${getNested(properties, 'lastname', 'value') || ''}`.trim(),\n        Email: getNested(properties, 'email', 'value'),\n        JobTitle: getNested(properties, 'jobtitle', 'value'),\n        Company: getNested(properties, 'company', 'value'),\n        LifecycleStage: getNested(properties, 'lifecyclestage', 'value'),\n        CreateDate: timestampToDate(getNested(properties, 'createdate', 'value')),\n        LastModifiedDate: timestampToDate(getNested(properties, 'lastmodifieddate', 'value')),\n        HubSpotOwnerId: getNested(properties, 'hubspot_owner_id', 'value'),\n        LastSalesActivityDate: timestampToDate(getNested(properties, 'hs_last_sales_activity_timestamp', 'value')),\n        LastSalesActivityType: getNested(properties, 'hs_last_sales_activity_type', 'value'),\n        NumberOfPageViews: getNested(properties, 'hs_analytics_num_page_views', 'value'),\n        NumberOfWebsiteVisits: getNested(properties, 'hs_analytics_num_visits', 'value'),\n        IsContact: getNested(properties, 'hs_is_contact', 'value'),\n        IsUnworked: getNested(properties, 'hs_is_unworked', 'value'),\n        TimeToFirstEngagement: getNested(properties, 'hs_time_to_first_engagement', 'value'),\n        FirstOutreachDate: timestampToDate(getNested(properties, 'hs_first_outreach_date', 'value')),\n        FirstEngagementDate: timestampToDate(getNested(properties, 'hs_sa_first_engagement_date', 'value')),\n        FirstEngagementObjectType: getNested(properties, 'hs_sa_first_engagement_object_type', 'value'),\n        FirstEngagementObjectId: getNested(properties, 'hs_first_engagement_object_id', 'value'),\n        NumberOfSalesEmailOpens: getNested(properties, 'hs_email_open', 'value'),\n        LastSalesEmailOpenDate: timestampToDate(getNested(properties, 'hs_sales_email_last_opened', 'value')),\n        LastSalesEmailReplyDate: timestampToDate(getNested(properties, 'hs_sales_email_last_replied', 'value')),\n        NumberOfNotes: getNested(properties, 'num_notes', 'value'),\n        NumberOfContactedNotes: getNested(properties, 'num_contacted_notes', 'value'),\n        LastContactedDate: timestampToDate(getNested(properties, 'notes_last_contacted', 'value')),\n        LastNotesUpdateDate: timestampToDate(getNested(properties, 'notes_last_updated', 'value')),\n        LatestMeetingActivity: timestampToDate(getNested(properties, 'hs_latest_meeting_activity', 'value')),\n    };\n\n    // Extract associated company data\n    const company = contactData['associated-company'] || {};\n    extractedData.AssociatedCompany = {\n        Name: getNested(company, 'properties', 'name', 'value'),\n        Domain: getNested(company, 'properties', 'domain', 'value'),\n        AnnualRevenue: getNested(company, 'properties', 'annualrevenue', 'value'),\n        NumberOfEmployees: getNested(company, 'properties', 'numberofemployees', 'value'),\n        Industry: getNested(company, 'properties', 'industry', 'value'),\n        Founded: getNested(company, 'properties', 'founded_year', 'value'),\n        City: getNested(company, 'properties', 'city', 'value'),\n        State: getNested(company, 'properties', 'state', 'value'),\n        Country: getNested(company, 'properties', 'country', 'value'),\n        Phone: getNested(company, 'properties', 'phone', 'value'),\n        Description: getNested(company, 'properties', 'description', 'value'),\n        LinkedInUrl: getNested(company, 'properties', 'linkedin_company_page', 'value'),\n        FacebookUrl: getNested(company, 'properties', 'facebook_company_page', 'value'),\n        TwitterHandle: getNested(company, 'properties', 'twitterhandle', 'value'),\n        TotalMoneyRaised: getNested(company, 'properties', 'total_money_raised', 'value'),\n        IsPublic: getNested(company, 'properties', 'is_public', 'value'),\n    };\n\n    // Extract list memberships\n    extractedData.ListMemberships = Array.isArray(contactData['list-memberships']) \n        ? contactData['list-memberships'].map(list => ({\n            ListId: list['static-list-id'],\n            JoinDate: timestampToDate(list.timestamp),\n        }))\n        : [];\n\n    return extractedData;\n}\n\n\nreturn { \"response\": extractKeyContactData($('HubSpot1').item.json) }"},"id":"207672e4-5bc4-4650-86eb-b62814d819c1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,380]},{"parameters":{"mode":"raw","jsonOutput":"={ \"response\": {{ $json.response.toJsonString() }} }","options":{}},"id":"95efe5b5-8e55-4314-adaf-aa31784217be","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,380],"alwaysOutputData":true}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"email":"kpicard@digitalocean.com"}}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:08:07.358Z","updatedAt":"2024-10-10T05:08:07.358Z","role":"workflow:owner","workflowId":"7nYnd596hcNuC9I0","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"}],"triggerCount":0,"updatedAt":"2024-10-10T05:08:07.358Z","versionId":"bcf31a80-2d7f-4750-abf4-c0e659e58bf7"}