n8n/workflows/2025/Hubspot engagements to CSV.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"init_loop","type":"main","index":0}]]},"hubspot_request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If_hasmore1":{"main":[[{"node":"hubspot_request1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"If_hasmore1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"hubspot_request2":{"main":[[{"node":"Code","type":"main","index":0}]]},"If_hasmore2":{"main":[[{"node":"init_loop","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"If_hasmore2","type":"main","index":0}]]},"init_loop":{"main":[[{"node":"hubspot_request2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter Linkedin Messages","type":"main","index":0}]]},"Filter Linkedin Messages":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Edit Fields":{"main":[[]]}},"createdAt":"2024-12-09T19:25:16.086Z","id":"HAvk4tFDtVrtZIeu","meta":{"templateCredsSetupCompleted":true},"name":"Hubspot engagements to CSV","nodes":[{"parameters":{},"id":"723b322e-8629-4818-b887-9e03a6618723","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1040,540]},{"parameters":{"url":"https://api.hubapi.com/engagements/v1/engagements/recent/modified","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"100"},{"name":"offset","value":"={{ $json.offset + 100 || 0 }}"},{"name":"since","value":"={{ $today.minus(5, 'days').toMillis() }}"}]},"options":{}},"id":"8f9b7806-1d31-47b0-b9b4-5a27bc064715","name":"hubspot_request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5880,2000],"credentials":{"hubspotAppToken":{"id":"pC90GoS45hmZwHe7","name":"HubSpot App Token account"}},"disabled":true},{"parameters":{},"id":"315e9204-3b33-45d9-85b3-d07375c3bad0","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7420,2000],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"1829b837-43f6-49dd-b474-9386b725b422","leftValue":"={{ $('hubspot_request1').last().json.hasMore }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"456bc95d-2c15-40aa-a709-160570ac5ef3","name":"If_hasmore1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[6580,2100],"disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7700,2000],"id":"c7510f70-8879-4d75-b471-f80dc2e50bec","name":"Aggregate1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6200,2000],"id":"d78258ee-cabe-4d5a-8ad4-bcc694751958","name":"Loop Over Items","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6980,2200],"id":"75d3a623-d7f3-4b0b-9f43-e0b2d7b2261d","name":"No Operation, do nothing2","disabled":true},{"parameters":{"url":"https://api.hubapi.com/engagements/v1/engagements/recent/modified","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"={{ $json.limit }}"},{"name":"offset","value":"={{ $json.offset || 0 }}"},{"name":"since","value":"={{ $today.minus(10, 'days').toMillis() }}"}]},"options":{}},"id":"3ddbff25-410b-47d2-9dec-fa72110bd65f","name":"hubspot_request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,140],"credentials":{"hubspotAppToken":{"id":"pC90GoS45hmZwHe7","name":"HubSpot App Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1829b837-43f6-49dd-b474-9386b725b422","leftValue":"={{ $('hubspot_request2').last().json.hasMore }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0eff40e3-bff2-4f1d-a6dc-fa3eaeaea5ac","name":"If_hasmore2","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[2160,140]},{"parameters":{"jsCode":"let last_init_loop = $('init_loop').last().json;\nlet all_items = last_init_loop.all_items;\nlet offset = last_init_loop.offset;\nlet limit = last_init_loop.limit;\nlet new_offset = offset + limit;\nconst items = $input.last().json.results;\nfor (const item of items) {\n  all_items.push(item)\n}\n\nreturn {\n  \"all_items\": all_items,\n  \"offset\": new_offset,\n  \"limit\": limit\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,140],"id":"ecacd51c-20f3-4701-b30f-c4564d42b325","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"all_items\": {{ $json.all_items || [] }},\n  \"offset\": {{ $json.offset || 0 }},\n  \"limit\": 100\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,140],"id":"2283f5d4-d548-4e6f-8643-efef0200ca2c","name":"init_loop"},{"parameters":{"fieldToSplitOut":"all_items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1500,740],"id":"1a1a6eb7-f8a4-48ae-92df-17917ae8dcd4","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b88d010-921b-4b30-b568-484303ec5475","leftValue":"={{ $json.engagement.type }}","rightValue":"LINKEDIN_MESSAGE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1680,740],"id":"22261b12-0449-4ac7-8b42-3a1a8b423502","name":"Filter Linkedin Messages"},{"parameters":{"content":"# TODO\nExtract owner ids\n\n..probably just use code"},"type":"n8n-nodes-base.stickyNote","position":[1880,560],"typeVersion":1,"id":"b43a44ed-c3c8-4372-ba54-14be88147b48","name":"Sticky Note"},{"parameters":{"url":"https://api.hubapi.com/engagements/v1/engagements/recent/modified","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"since","value":"={{ $today.minus(30, 'days').toMillis() }}"},{"name":"count","value":"={{ parseInt(100, 10) }}"},{"name":"offset","value":"={{ parseInt(0, 10) }}"}]},"options":{"response":{"response":{"fullResponse":true}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ parseInt($response.body.offset, 10) + 100 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ ('hasMore' in $response.body.keys()) && !$response.body.hasMore }}","requestInterval":10}}}},"id":"598bceb1-3ce4-40c2-9698-0d6e7991162d","name":"hubspot_request_paginated","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5900,1740],"credentials":{"hubspotAppToken":{"id":"pC90GoS45hmZwHe7","name":"HubSpot App Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5321b5b-d2e2-42dc-935a-073705c3aa62","name":"ownerId","value":"={{ $json.engagement.ownerId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,740],"id":"acbdd1f5-4745-4531-a163-f6862313d745","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"8472bb67-aaf4-4e66-b738-dc52cd1e3bbe","name":"contactId","value":"={{ $json.associations.contactIds[0] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,900],"id":"abebe891-193d-455e-b713-b8e70260ee2d","name":"Edit Fields1"},{"parameters":{"content":"# TODO\nExtract contact ids"},"type":"n8n-nodes-base.stickyNote","position":[1900,1060],"typeVersion":1,"id":"b862d0df-26e1-4741-ad86-e1d9c877f637","name":"Sticky Note1"},{"parameters":{"content":"# TODO\n[batch fetch](https://developers.hubspot.com/beta-docs/reference/api/crm/objects/contacts#post-%2Fcrm%2Fv3%2Fobjects%2Fcontacts%2Fbatch%2Fread) owners"},"type":"n8n-nodes-base.stickyNote","position":[2400,700],"typeVersion":1,"id":"5672234c-e347-4498-97ad-c0693a339821","name":"Sticky Note2"},{"parameters":{"content":"# TODO\n[batch fetch](https://developers.hubspot.com/beta-docs/reference/api/crm/objects/contacts#post-%2Fcrm%2Fv3%2Fobjects%2Fcontacts%2Fbatch%2Fread) contacts"},"type":"n8n-nodes-base.stickyNote","position":[2400,900],"typeVersion":1,"id":"6cd36d0f-ea95-4f96-95bd-3cc69ced6ef1","name":"Sticky Note3"},{"parameters":{"content":"# merge owners"},"type":"n8n-nodes-base.stickyNote","position":[2900,700],"typeVersion":1,"id":"dddeb6b0-1eda-40f2-bccf-9c0f871b12b6","name":"Sticky Note4"},{"parameters":{"content":"# merge contacts"},"type":"n8n-nodes-base.stickyNote","position":[3300,900],"typeVersion":1,"id":"1551bb05-5495-4ca5-ab7a-66ba91433372","name":"Sticky Note5"},{"parameters":{"content":"# Create CSV"},"type":"n8n-nodes-base.stickyNote","position":[3880,780],"typeVersion":1,"id":"774213dd-1e87-4ef7-897c-d1373b79190d","name":"Sticky Note6"},{"parameters":{"content":"# save to github"},"type":"n8n-nodes-base.stickyNote","position":[4320,780],"typeVersion":1,"id":"5b9231b5-cc14-4c89-a277-106213b7ae16","name":"Sticky Note7"},{"parameters":{"content":"# built in loop\n\ndidn't work"},"type":"n8n-nodes-base.stickyNote","position":[5420,2000],"typeVersion":1,"id":"c0e5408d-b5e2-434c-bfc8-5cd8a268fdf7","name":"Sticky Note8"},{"parameters":{"content":"# http node pagination\n\ndidn't work"},"type":"n8n-nodes-base.stickyNote","position":[5420,1720],"typeVersion":1,"id":"fd790a4c-0741-4f31-a87c-afa2e68c4855","name":"Sticky Note9"}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-12-09T19:25:16.086Z","updatedAt":"2024-12-09T19:25:16.086Z","role":"workflow:owner","workflowId":"HAvk4tFDtVrtZIeu","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:02:58.181Z","updatedAt":"2024-10-10T05:02:58.181Z","id":"KtYRNd3rjRAkM76N","name":"test"},{"createdAt":"2024-12-09T23:23:35.206Z","updatedAt":"2024-12-09T23:23:35.206Z","id":"zlTr9TEAgTWBJo57","name":"cron"},{"createdAt":"2024-12-09T23:23:55.269Z","updatedAt":"2024-12-09T23:23:55.269Z","id":"D4iYOa4emZb1EdkL","name":"hubspot"},{"createdAt":"2024-12-09T23:23:57.876Z","updatedAt":"2024-12-09T23:23:57.876Z","id":"nDdyPRqE6vhY0lYk","name":"sales"},{"createdAt":"2024-12-09T23:24:03.646Z","updatedAt":"2024-12-09T23:24:03.646Z","id":"JAJYtu5AcgUpvsF2","name":"delivery"}],"triggerCount":0,"updatedAt":"2024-12-16T15:10:00.455Z","versionId":"b567222c-671f-43a5-9cc1-2d6957aa508f"}