n8n/workflows/2025/Jira Vectorize.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Code","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"In-Memory Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"In-Memory Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"In-Memory Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Merge":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"In-Memory Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"In-Memory Vector Store":{"main":[[{"node":"Merge","type":"main","index":1}]]},"In-Memory Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"createdAt":"2024-10-10T05:07:26.492Z","id":"LMSWrd9NHoF7tovh","meta":{"templateCredsSetupCompleted":true},"name":"Jira Vectorize","nodes":[{"parameters":{},"id":"29c3cbd8-fa06-45d2-9760-2e2f9c84230f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-660,760]},{"parameters":{"operation":"getAll","limit":5,"options":{"jql":"project = DEVOPS AND status NOT IN (Completed, Canceled, Closed) AND (labels NOT IN (\"bitbot-processing\",\"bitbot-processing-done\") OR labels IS EMPTY)"}},"id":"9eb4e080-69d7-4b13-92cf-a8834647fedd","name":"Jira Software","type":"n8n-nodes-base.jira","typeVersion":1,"position":[-480,760]},{"parameters":{"jsCode":"function formatValue(value, indentLevel = 0) {\n    const indent = '  '.repeat(indentLevel);\n    let formattedStr = \"\";\n\n    if (value === null || value === undefined) {\n        return `${indent}null\\n`;\n    }\n\n    if (typeof value === 'object' && !Array.isArray(value)) {\n        for (let [subKey, subValue] of Object.entries(value)) {\n            if (typeof subValue === 'object' && subValue !== null) {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                formattedStr += formatValue(subValue, indentLevel + 1);\n            } else {\n                formattedStr += `${indent}- **${subKey.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${subValue}\\n`;\n            }\n        }\n    } else if (Array.isArray(value)) {\n        value.forEach(item => {\n            formattedStr += formatValue(item, indentLevel + 1);\n        });\n    } else {\n        formattedStr += `${indent}${value}\\n`;\n    }\n\n    return formattedStr;\n}\nfunction convertChunksToMessages(chunksList) {\n\n    const messages = [];\n\n    chunksList.forEach(chunk => {\n        for (let [chunkType, content] of Object.entries(chunk)) {\n            let message = `**${chunkType.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}**\\n`;\n\n            for (let [key, value] of Object.entries(content)) {\n                if (typeof value === 'object') {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:**\\n`;\n                    message += formatValue(value, 1);\n                } else {\n                    message += `- **${key.replace(/_/g, ' ').replace(/\\b\\w/g, char => char.toUpperCase())}:** ${value}\\n`;\n                }\n            }\n\n            messages.push(message.trim());\n        }\n    });\n\n    return messages;\n}\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet chunksList = [];\nfor (const item of $input.all()) {\n    const baseId = item.json.id;\n    const baseKey = item.json.key;\n\n    // Metadata chunk\n    chunksList.push({\n        metadata: {\n            id: baseId,\n            key: baseKey,\n            expand: item.json.expand,\n            self: item.json.self\n        }\n    });\n\n    // Issue Type and Parent chunk\n    const parentInfo = item.json.fields.parent || {};\n    chunksList.push({\n        issueTypeAndParent: {\n            id: baseId,\n            key: baseKey,\n            issuetype: item.json.fields.issuetype,\n            parent: parentInfo\n        }\n    });\n\n    // Project Information chunk\n    chunksList.push({\n        projectInformation: {\n            id: baseId,\n            key: baseKey,\n            project: item.json.fields.project\n        }\n    });\n\n    // Custom Fields chunk, one chunk per custom field with a value\n    Object.entries(item.json.fields).forEach(([field, value]) => {\n        if (field.startsWith(\"customfield_\") && value !== null) {\n            chunksList.push({\n                customField: {\n                    id: baseId,\n                    key: baseKey,\n                    [field]: value\n                }\n            });\n        }\n    });\n\n    // Assignee and Status chunk\n    chunksList.push({\n        assigneeAndStatus: {\n            id: baseId,\n            key: baseKey,\n            assignee: item.json.fields.assignee,\n            status: item.json.fields.status\n        }\n    });\n\n    // Creator, Reporter, and Summary chunk\n    chunksList.push({\n        creatorReporterAndSummary: {\n            id: baseId,\n            key: baseKey,\n            summary: item.json.fields.summary,\n            creator: item.json.fields.creator,\n            reporter: item.json.fields.reporter\n        }\n    });\n}\n\nreturn { chunks: convertChunksToMessages(chunksList) };"},"id":"af657162-483a-4d77-9c84-bd995db085fb","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,760]},{"parameters":{"fieldToSplitOut":"chunks","options":{}},"id":"97e7801b-3507-46aa-a705-bdc9060b47b5","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-40,760]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"70f26750-5820-483e-8cae-081dc18f3761","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[220,980]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks }}","options":{}},"id":"aed4de84-cc39-41ab-8b60-131fe76c8cfe","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[420,980]},{"parameters":{"chunkOverlap":50,"options":{}},"id":"bcff3488-e240-4df4-82e7-422b75bdf301","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[420,1200]},{"parameters":{"method":"PUT","url":"=https://bitovi.atlassian.net/rest/api/3/issue/{{ $json.key }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"update\": {\n    \"labels\": [\n      {\n        \"add\": \"bitbot-processing\"\n      }\n    ]\n  }\n}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"aa2ce8f7-4211-4479-9cfa-12f90cba1a25","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,1020]},{"parameters":{"method":"PUT","url":"=https://bitovi.atlassian.net/rest/api/3/issue/{{ $json.key }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"update\": {\n    \"labels\": [\n      {\n        \"add\": \"bitbot-processing-done\"\n      },\n      {\n        \"remove\": \"bitbot-processing\"\n      }\n    ]\n  }\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c29a3cc5-dc50-459c-908e-708f9d48540e","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,420]},{"parameters":{"mode":"chooseBranch"},"id":"7605fe39-ffaa-4027-91e2-2ddc24550cc7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[520,500]},{"parameters":{"options":{}},"id":"d9a6c432-7234-4e58-9cb5-f6b7914618b2","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1440,1240],"webhookId":"754bc478-b7eb-4adb-9944-df082b7b0a89"},{"parameters":{"model":"gpt-4o","options":{}},"id":"9b928ce4-a436-4278-be76-0bca43f2ee29","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1640,1260]},{"parameters":{"name":"jira_devops","description":"devops jira tickets"},"id":"2a813154-741a-464d-a007-2c4e1820e709","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1840,1260]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2f4f3ef2-be1d-449c-bfd1-555d5ec8a88f","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1780,1660]},{"parameters":{"model":"gpt-4o","options":{}},"id":"6ac179bd-d98e-46e8-ae48-c4a09c95d35b","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1940,1380]},{"parameters":{"mode":"insert","memoryKey":"jira-devops"},"id":"7c1e83b4-cded-414f-a492-eecffcd1d395","name":"In-Memory Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[220,760]},{"parameters":{"memoryKey":"jira-devops"},"id":"7c825225-2ff6-4b92-bc99-d0bed4bc92de","name":"In-Memory Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1,"position":[1780,1520]},{"parameters":{"contextWindowLength":15},"id":"49314c36-a484-437a-875a-0d820a523395","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1740,1160]},{"parameters":{"agent":"conversationalAgent","options":{}},"id":"9b09dd0d-7de8-4132-9a64-2134087070c2","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1660,920]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:07:26.492Z","updatedAt":"2024-10-10T05:07:26.492Z","role":"workflow:owner","workflowId":"LMSWrd9NHoF7tovh","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:05:49.402Z","updatedAt":"2024-10-10T05:05:49.402Z","id":"OmQATFUMi8Jy7yU0","name":"vectorize"}],"triggerCount":0,"updatedAt":"2024-10-10T05:07:26.492Z","versionId":"881f6bae-0c56-473e-9a6e-f5005e20fc58"}