n8n/workflows/2025/Jira Ticket Requirements Checker.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"check jira relations","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"check jira relations","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"check jira relations","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"extract jira key and define schema","type":"ai_languageModel","index":0}]]},"has jira relations":{"main":[[{"node":"extract jira key and define schema","type":"main","index":0}],[{"node":"error not related","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"extract jira key and define schema","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"get ticket details":{"main":[[{"node":"jira content extraction","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"jira content extraction","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"jira content extraction","type":"ai_languageModel","index":0}]]},"jira content extraction":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"extract jira key and define schema":{"main":[[{"node":"get ticket details","type":"main","index":0}]]},"check jira relations":{"main":[[{"node":"has jira relations","type":"main","index":0}]]}},"createdAt":"2024-10-30T14:42:53.759Z","id":"v6xUl6xEWGcUasTe","meta":{"templateCredsSetupCompleted":true},"name":"Jira Ticket Requirements Checker","nodes":[{"parameters":{},"id":"6c666d9b-73a7-4da8-aee5-3304b31af446","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[480,400]},{"parameters":{"model":"gpt-4o","options":{}},"id":"df89b68f-e6f2-4cca-8880-982da6263521","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1000,560],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"is_jira_related\": true\n}"},"id":"beb84590-2ed1-4a73-9069-4d133693271a","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,560]},{"parameters":{"model":"gpt-4o","options":{}},"id":"4324b815-d4c7-42be-bac0-f65d4fcf5cd6","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1680,560],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"jira_key\": {\n      \"type\": \"string\",\n      \"description\": \"A valid Jira ticket key\",\n      \"example\": \"FOO-XX\"\n    },\n    \"structure_of_data_to_check\": {\n      \"type\": \"object\",\n      \"description\": \"The content of this structure can be any valid JSON object\",\n      \"additionalProperties\": true\n    }\n  },\n  \"required\": [\"jira_ticket_url\", \"structure_of_data_to_check\"]\n}\n"},"id":"e1810e4a-eddc-4e67-9cd1-01436d092c0c","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1900,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"30b468fa-d9d3-4f11-bb3a-49b7fa15eca4","leftValue":"={{ $json.output.is_jira_related }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"def6c108-41e6-44fd-bac2-cb79603a5483","name":"has jira relations","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1320,400]},{"parameters":{"options":{}},"id":"61c134af-23e8-43f9-9e13-f3b49eae2d84","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1800,560]},{"parameters":{"model":"gpt-4o","options":{}},"id":"70676cfa-4a84-4261-9350-4db95d342665","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1780,720],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"operation":"get","issueKey":"={{ $json.output.jira_key }}","additionalFields":{}},"id":"3ad0737c-68ac-4ec3-b9ac-c609abca2c62","name":"get ticket details","type":"n8n-nodes-base.jira","typeVersion":1,"position":[2320,400],"credentials":{"jiraSoftwareCloudApi":{"id":"aimT1fEgSeAp0wku","name":"Jira SW Cloud - bitbot"}}},{"parameters":{"options":{}},"id":"c725d3a4-68de-409b-bf7d-9d2d8941bb24","name":"Auto-fixing Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2880,620]},{"parameters":{"model":"gpt-4o","options":{}},"id":"7d917dbb-c974-4180-8ca6-c0021620d957","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2860,760],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"has_all_data\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether all data is present\",\n      \"example\": false\n    },\n    \"all_data\": {\n      \"type\": \"array\",\n      \"description\": \"An array of key-value pairs with additional booleans\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"key\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the data field\",\n            \"example\": \"customer_problem\"\n          },\n          \"value\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"The value corresponding to the key, which can be null\",\n            \"example\": \"null\"\n          },\n          \"value_in_comments\": {\n            \"type\": \"boolean\",\n            \"description\": \"Indicates whether the value is in comments\",\n            \"example\": false\n          },\n          \"value_in_description\": {\n            \"type\": \"boolean\",\n            \"description\": \"Indicates whether the value is in description\",\n            \"example\": true\n          }\n        },\n        \"required\": [\"key\", \"value\", \"value_in_comments\", \"value_in_description\"]\n      },\n      \"example\": [\n        {\n          \"key\": \"goals\",\n          \"value\": \"the best goals!\",\n          \"value_in_comments\": false,\n          \"value_in_description\": true\n        },\n        {\n          \"key\": \"costs\",\n          \"value\": \"low cost!\",\n          \"value_in_comments\": true,\n          \"value_in_description\": false\n        }\n      ]\n    }\n  },\n  \"required\": [\"has_all_data\", \"all_data\"]\n}\n"},"id":"e9210438-56f6-4511-bfaf-847cb9ad8dfa","name":"Structured Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2980,760]},{"parameters":{"model":"gpt-4o","options":{}},"id":"16a29269-b974-42c1-81f0-73e0834fd4c0","name":"OpenAI Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2780,540],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toJsonString() }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=you are an expert jira ticket information extractor. Given jira ticket info, extract information from it based on a schema.\n\nhere are the keys & their descriptions for which to extract values.  only look for this data:\n<data to look for>\n{{ $('extract jira key and define schema').item.json.output.structure_of_data_to_check.toJsonString() }}\n</data to look for>\n\nif a value is null, the corresponding `value_in_` values should be false.\nYou can be somewhat relaxed about the necessary content for now. If there's a bit of relevant info for a given ticket, let that be sufficient."}]}},"id":"a2306258-4904-4779-93c5-cf6bda95c567","name":"jira content extraction","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2780,400],"retryOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.output }}\n}\n","options":{}},"id":"24466ec8-40a5-4da6-85ba-ac5ca7a5b87a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3160,400]},{"parameters":{"promptType":"define","text":"={{ $('Execute Workflow Trigger').first().json.query.query }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# core role\nYou are an expert Jira information extractor as part of a larger agent graph.\ngiven a query, extract the jira key and create an example object that represents the schema that can be used in a subsequent steps to check if the jira content contains the data described by the schema. \n\nalways use underscore case for example object keys.  the values of the structure_of_data_to_check object don't matter, but the data types to, so pay attention to those.\n\n# example\n\nquery\n```\ndoes my jira ticket capture the following properties: customer problem, expected value, and costs?\nhere is the ticket: https://bitovi.atlassian.net/browse/FOO-XX\n```\n\nresponse\n```\n{\n\t\"jira_key\": \"FOO-XX\",\n\t\"structure_of_data_to_check\": {\n      \"customer_problem\": \"description of customer problem, if the content exists\"\",\n      \"expected_value\": \"description of expected value, if the content exists\",\n      \"costs\": \"description about costs, if content exists\n    }\n}\n```\nadhere scrictly to the response schema, respond only in json, and do not add any additional context around your answer. "}]}},"id":"67a60285-c7d2-4fe5-8c6a-380a0790eb14","name":"extract jira key and define schema","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1680,400],"retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $json.query.query }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert Jira admin. when given a query, check to see if it is jira related.  if there's a jira url in it, assume it's jira related.  Here's the format of a jira url for reference: https://bitovi.atlassian.net/browse/FOO-00.\nif the query explicitly asks to check jira data, say it is jira related.\n\nExample:\nquery: \"here's a dog poem\"\nresponse:\n{\n\t\"is_jira_related\": false\n}\n\nexample:\nquery: anything here... https://bitovi.atlassian.net/browse/FOO-00 anything else here...\nresponse:\n{\n\t\"is_jira_related\": true\n}\n\nquery: check this ticket for requirements: FOO-00.  requirements to check: cost, return\nresponse:\n{\n\t\"is_jira_related\": true\n}"}]}},"id":"4caffbb8-cc1a-41fa-9350-99b29f8b796e","name":"check jira relations","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1000,400]},{"parameters":{"assignments":{"assignments":[{"id":"83948bf4-4815-4838-bca2-d2b10219361f","name":"error","value":"input not related to jira","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,1040],"id":"1d5573cd-0a9d-48e7-80ba-fe2d83fa95c7","name":"error not related"}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"query":"ticket:  AMDP-1\nrequired information:\n- purpose for the ticket\n- acceptance criteria"}}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-30T14:42:53.759Z","updatedAt":"2024-10-30T14:42:53.759Z","role":"workflow:owner","workflowId":"v6xUl6xEWGcUasTe","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-30T14:43:01.334Z","updatedAt":"2024-10-30T14:43:01.334Z","id":"UsCZQwggjHGyf2SZ","name":"jira"}],"triggerCount":0,"updatedAt":"2025-02-05T07:01:08.831Z","versionId":"73fd6491-b35f-42a9-91ce-98c85bfe0db5"}