n8n/workflows/2025/Jira - Agent Managed Demo - Refinement.json
{"active":false,"connections":{"prepare field checker query":{"main":[[{"node":"Check ticket contents","type":"main","index":0}]]},"Check ticket contents":{"main":[[{"node":"if data missing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate More Info Response","type":"ai_languageModel","index":0}]]},"Generate More Info Response":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Generate More Info Response","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"4o-mini":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"infer direct response":{"main":[[{"node":"if not direct query","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"infer direct response","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser2":{"ai_outputParser":[[{"node":"infer direct response","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser2","type":"ai_outputParser","index":0}]]},"if not direct query":{"main":[[{"node":"prepare field checker query","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"trigger":{"main":[[{"node":"globals","type":"main","index":0}]]},"if data missing":{"main":[[{"node":"Generate More Info Response","type":"main","index":0}],[{"node":"Jira Software1","type":"main","index":0}]]},"globals":{"main":[[{"node":"infer direct response","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"search google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"webpage visitor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Confluence Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Confluence - Read Page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"4o assistant":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser3","type":"ai_outputParser","index":0}]]},"4o-mini2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser3","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser3":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Jira Software1":{"main":[[]]}},"createdAt":"2025-02-05T05:09:42.847Z","id":"67709MKyx5dGJgdV","meta":null,"name":"Jira - Agent Managed Demo - Refinement","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"74f26f97-b2a3-4dfd-841c-da4c4c8d64c1","name":"query.query","value":"=ticket:  {{ $('trigger').first().json.body.key }}\nrequired information:\n- purpose for the ticket\n- acceptance criteria","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,140],"id":"07b7bf9d-96d6-4685-9962-fc68468d71f4","name":"prepare field checker query"},{"parameters":{"workflowId":{"__rl":true,"value":"v6xUl6xEWGcUasTe","mode":"list","cachedResultName":"Jira Ticket Requirements Checker"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1920,140],"id":"eeb3c299-1689-47fe-ab2b-aa36f4ebfd63","name":"Check ticket contents"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3420,20],"id":"e5493568-be81-495e-a197-819fcce228e4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=<ticket key>\n{{ $('trigger').item.json.body.key }}\n</ticket key>\n\n<ticket info>\n{{ $('trigger').item.json.body.toJsonString() }}\n</ticket info>\n\n<ticket required info details>\nticket required info details:  {{ $('Check ticket contents').first().json.response.toJsonString() }}\n</ticket required info details>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are BitBot. You are acting project manager for incoming jira tickets.  A user performed an action on a ticket, and a previous step determined that there is not enough detail in the descripiton of the ticket.  you will be given the ticket key, the current description, and the details about the missing information.  \nYour job for this request is to write a message to the user explaining the situation and prompting for more details (be specific).\nYour message will be posted in a comment in the same Jira ticket.\n\n\nBefore composing your message, please take a moment to analyze the situation and plan your response:\n\n<analysis>\n1. Quote portions of the current description verbatim when referencing it.\n2. List out each piece of missing information.\n3. Brainstorm potential reasons for why this information might be missing.\n4. Suggest specific questions to ask for each missing piece of information.\n5. Consider the user's perspective and potential challenges they might face in providing the information.\n6. Assess whether the ticket's title is clear and informative.\n7. Determine if any information might be present in the comments rather than the description.\n8. Plan out the structure of your message, including bullet points for each main section.\n9. Plan how to structure your message using Jira wiki markup.\n10. Provide solutions, not just guidelines. e.g. give concrete examples for recommendations\n</analysis>\n\nNow, compose your message to the user, following these guidelines:\n<message guidelines>\n1. Use Jira wiki markup for formatting.\n2. Be empathetic and specific in your requests for more information.\n3. Refer to yourself as \"I\" or \"BitBot\", not \"us\" or \"we\".\n4. If relevant information is in the comments, suggest moving it to the description. Provide a well-thought-out and formatted template for the user to copy and paste (into Jira).\n5. If the title isn't clear, suggest updating it as well.\n6. Use first names when referring to people unless there are multiple people with the same first name\n</message guidelines>"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3380,-160],"id":"b0cb8632-2917-45d3-b954-4bb433052814","name":"Generate More Info Response"},{"parameters":{"resource":"issueComment","issueKey":"={{ $('trigger').item.json.body.key }}","comment":"={{ $json.output.markup }}","options":{"wikiMarkup":true}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[4840,860],"id":"8c762818-fdbf-4038-84c3-8f37a6c4f9a2","name":"Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"aimT1fEgSeAp0wku","name":"Jira SW Cloud - bitbot"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3420,180],"id":"e024c272-abb6-480d-8eef-0692fc340f31","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n\t\"markup\": \"# valid jira wiki markup\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3640,340],"id":"ca2f33e2-8998-4427-8cab-9225ba6c8540","name":"Structured Output Parser"},{"parameters":{"model":"o1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3460,340],"id":"c779c1bb-df92-4cfd-adde-d7ecff223e7d","name":"4o-mini","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=ticket key:  {{ $('trigger').first().json.body.key }}\nYour Jira ID is: {{ $('globals').first().json.jira_id }}\n\n<last comment>\n{{ $('trigger').first().json.body.fields.comment?.comments[$('trigger').first().json.body.fields.comment.comments.length-1].body }}\n</last comment>\n\n<guidelines>\n- If the user is asking you a direct question, you should respond directly\n</guidelines>\n\n<full ticket details>\n{{ $('trigger').first().json.toJsonString() }}\n</full ticket details>","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are BitBot. You are acting project manager for incoming jira tickets.  A user performed an action on a ticket, and you need to determine if the latest comment is a question for you to respond to or not."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[520,480],"id":"565ecfbf-794e-4217-93c8-50e31b20e2db","name":"infer direct response"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,700],"id":"aa59645d-9de2-438b-ac1c-29535c870482","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[680,700],"id":"195f2978-40e2-4aba-a51d-6b3502920569","name":"Auto-fixing Output Parser2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[740,920],"id":"bb3cf7e3-ccd9-4ef8-abe1-fb9977743d78","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"should_respond_directly\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,920],"id":"4ffa1a94-e491-42ce-a429-1f5fd9a56eee","name":"Structured Output Parser2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f040a57-6ac4-4d42-bf6d-ab7c76c28eef","leftValue":"={{ $json.output.should_respond_directly }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,480],"id":"716cd400-d69f-474a-b1a4-f20c7d7b5bb1","name":"if not direct query"},{"parameters":{"content":"# Helpful question answering assistant","height":1060,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[2460,1420],"typeVersion":1,"id":"97468157-114a-4ab3-8f38-ffdd9924093e","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-200,480],"id":"f9b1c6b8-a468-4c87-b35a-4edf88af757d","name":"trigger"},{"parameters":{"content":"# Check ticket criteria","height":380,"width":700},"type":"n8n-nodes-base.stickyNote","position":[1600,20],"typeVersion":1,"id":"261cac60-bc3a-4d37-972e-36307b59d9e4","name":"Sticky Note2"},{"parameters":{"content":"# Missing Criteria - Prompt User","height":840,"width":860},"type":"n8n-nodes-base.stickyNote","position":[2860,-280],"typeVersion":1,"id":"5d7665c8-1832-41f3-800a-310a361fd3e3","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d40b71-0d0e-4f1c-9240-52ac7c2cf308","leftValue":"={{ $json.response.has_all_data }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2120,140],"id":"c39dd239-1ead-4cff-ad45-7d4af868a925","name":"if data missing"},{"parameters":{"content":"# direct user query\nCheck ticket criteria if not direct user query","height":860,"width":700},"type":"n8n-nodes-base.stickyNote","position":[440,280],"typeVersion":1,"id":"48297b2c-efe1-415a-bf2a-fbaf17282d34","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"4b96fbe9-d64f-4788-aab6-079c64387535","name":"jira_id","value":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,480],"id":"ecd29859-7523-444b-aa89-4974c0e7197a","name":"globals"},{"parameters":{"promptType":"define","text":"=Today is: {{ $now.toUTC() }}\n<ticket key>\n{{ $('trigger').item.json.body.key }}\n</ticket key>\n\n<ticket info>\n{{ $('trigger').item.json.body.toJsonString() }}\n</ticket info>\n\n<last comment>\n{{ $('trigger').first().json.body.fields.comment?.comments[$('trigger').first().json.body.fields.comment.comments.length-1].body }}\n</last comment>\n\nReturn JSON","hasOutputParser":true,"options":{"systemMessage":"You are BitBot, a helpful assistant. You are acting project manager for incoming jira tickets.  A user has asked you a question on a ticket, and you should respond to the user thoroughly and concisely.  you will be given the ticket key, the last comment, and the full ticket info.  Your goal is to reduce the amount of time users need to spend doing things.  If you can infer what they mean or need, provide a suggestion, and provide it in a way that is easy for the user to use (e.g. nicely formatted blocks that are easy to read, easy for humans to understand, and easy to copy)\n\n\n\nYour message will be posted in a comment in the same Jira ticket (you will not do the posting, you will just generate the message)\n\nBefore composing your message, please take a moment to analyze the situation and plan your response:\n\n<tools guidance>\n- Use your tools\n- Use your tools more often than you think you should\n- there might be valuable information that could be helpful to the user if you just think for a minute about some things to search using the google search and the confluence search and the wikipedia search\n- try searching to reinforce your response\n</tools guidance>\n<analysis>\n0. Use your tools to find information that would be helpful to the user. consider a few things to search in confluence.  also consider a few web search queries.  \n1. Quote portions of the current description verbatim when referencing it.\n2. Consider the user's perspective and potential challenges they might face in providing the information.\n3. important informaiton might be in the comments. weight it less heavily in importance than the main body of the ticket.\n4. Plan out the structure of your message, including bullet points for each main section.\n5. The message you are to respond to is contained in the last comment (specified by <last comment> block.\n6. Use your tools to find information that would be helpful to the user. consider a few things to search in confluence.  also consider a few web search queries.  \n7. Provide solutions, not just guidelines. e.g. give concrete examples for recommendations\n</analysis>\n\nNow, compose your message to the user, following these guidelines:\n<message guidelines>\n1. Use Jira wiki markup for formatting.\n2. Refer to yourself as \"I\" or \"BitBot\", not \"us\" or \"we\".\n3. If relevant information is in the comments, suggest moving it to the description. Provide a well-thought-out and formatted template for the user to copy and paste (into Jira).\n4. Use first names when referring to people unless there are multiple people with the same first name\n</message guidelines>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2800,1580],"id":"5769a5e6-5e43-4de1-b677-ea92a09e4017","name":"AI Agent","retryOnFail":true,"waitBetweenTries":500},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2720,1800],"id":"e8a8a892-7c03-43ea-8f1d-42098cc402ce","name":"Window Buffer Memory"},{"parameters":{"name":"GoogleSearch","description":"use this tool to search google","workflowId":{"__rl":true,"value":"VBYRqdaenqQOxUUX","mode":"list","cachedResultName":"Google custom search tool"},"fields":{"values":[{"name":"return_items","type":"booleanValue"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"the query to use for the google search\"\n\t\t}\n\t}\n}"},"id":"b68c415e-4736-4b07-bc2c-7af9df338adb","name":"search google","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2720,2260]},{"parameters":{"name":"WebVisitor","description":"Use this tool to read webpages","workflowId":{"__rl":true,"value":"aPPxtIl541wXGEhE","mode":"list","cachedResultName":"Website Visitor"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"url\": \"https://www.google.com/url?q=https://www.eventbrite.com/o/bu-spark-13250579290\"\n}"},"id":"eac94811-5c25-4ab2-936e-cff99c101c17","name":"webpage visitor","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2580,2260]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"sessionId\": \"{{ $now.toSeconds()}}\",\n    \"action\": \"sendMessage\",\n    \"chatInput\": {{ $('trigger').first().json.toJsonString() }}\n}","options":{}},"id":"c58d4095-82fc-40c4-80c4-6948ab86f5d3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2620,1580]},{"parameters":{},"id":"8b39d00d-4a41-429c-b217-03f26d7ca289","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2860,2260]},{"parameters":{},"id":"f13d9959-31a3-4cf1-8a59-34ec25de41cd","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[2980,2260]},{"parameters":{"name":"Confluence_Search","description":"Use this tool to search confluence. It's a natural language search. Provide the space if you know it.  Use key phrases separated by commas. come up with a decent breadth of topics to search.","workflowId":{"__rl":true,"value":"29pI9xljW35PfNTn","mode":"list","cachedResultName":"Confluence - Search Tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"something to find in confluence\"\n}"},"id":"7dfe1e10-bd45-47c3-85a1-6d87d49cb4d6","name":"Confluence Search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[3180,2260]},{"parameters":{"name":"Confluence_Read_Page","description":"Use this tool to read confluence pages.   Pass the full url. get full urls from confluence search.","workflowId":{"__rl":true,"value":"rr8EsIGtvm8sFhZx","mode":"list","cachedResultName":"Confluence - Read Page tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"url\": \"https://bitovi.atlassian.net/wiki/spaces/AI/pages/999948367/LLM+-+Marketing+-+AI+Agents+-+Workshop+landing+page\"\n}"},"id":"6797db4d-ca20-4656-a29c-33e73407fcf2","name":"Confluence - Read Page","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[3380,2260]},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2560,1800],"id":"0a3497c3-64ab-4a8b-81ce-436a80f813da","name":"4o assistant","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3420,1820],"id":"4e769945-2edb-4250-a634-cb6bb44ca5ac","name":"Auto-fixing Output Parser3"},{"parameters":{"jsonSchemaExample":"{\n\t\"markup\": \"# valid jira wiki markup\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3560,2020],"id":"f7d42c56-c972-4fae-a84d-98b70d9a6960","name":"Structured Output Parser3"},{"parameters":{"model":"o1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3440,2020],"id":"6b903a78-5af1-46d5-a446-94f9fe54e6be","name":"4o-mini2","credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"operation":"update","issueKey":"={{ $('trigger').first().json.body.key }}","updateFields":{"statusId":{"__rl":true,"value":"21","mode":"list","cachedResultName":"To Do"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[3100,1000],"id":"588a5f0e-404a-4cfd-a7ca-dda5f21d9bff","name":"Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"aimT1fEgSeAp0wku","name":"Jira SW Cloud - bitbot"}}},{"parameters":{"content":"# Move to todo","height":500,"width":640},"type":"n8n-nodes-base.stickyNote","position":[2820,760],"typeVersion":1,"id":"84778eae-9114-4048-92f6-c30e02086111","name":"Sticky Note5"}],"pinData":{"trigger":[{"json":{"headers":{"accept":"application/json; charset=UTF-8, */*;q=0.8","trigger-type":"comment","content-type":"application/json","content-length":"27131","host":"n8n.bitovi-ai.com","connection":"Keep-Alive","user-agent":"Automation for Jira AC app/1.0;c9b5d392-2b48-44cf-a868-40b17fff4e63","accept-encoding":"gzip,deflate"},"params":{},"query":{},"body":{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319","id":23319,"key":"AMDP-3","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"statuscategorychangedate":"2025-02-05T04:59:42.827+0000","issuetype":{"self":"https://bitovi.atlassian.net/rest/api/2/issuetype/10007","id":10007,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://bitovi.atlassian.net/images/icons/issuetypes/story.svg","name":"Story","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"namedValue":"Story"},"customfield_10070":null,"customfield_10071":null,"timespent":null,"customfield_10072":null,"customfield_10030":[],"project":{"self":"https://bitovi.atlassian.net/rest/api/2/project/10125","id":10125,"key":"AMDP","name":"Agent Managed Demo Project","description":null,"avatarUrls":{"48x48":"https://bitovi.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10408","24x24":"https://bitovi.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10408?size=small","16x16":"https://bitovi.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10408?size=xsmall","32x32":"https://bitovi.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10408?size=medium"},"issuetypes":null,"projectCategory":null,"email":null,"lead":null,"components":null,"versions":null,"projectTypeKey":"business","simplified":false},"fixVersions":[],"aggregatetimespent":null,"resolution":null,"customfield_10028":null,"resolutiondate":null,"workratio":-1,"issuerestriction":{"issuerestrictions":{},"shouldDisplay":false},"lastViewed":null,"watches":{"self":"https://bitovi.atlassian.net/rest/api/2/issue/AMDP-3/watchers","watchCount":2,"isWatching":false},"created":1738708353591,"customfield_10062":null,"customfield_10063":null,"customfield_10020":null,"customfield_10021":null,"customfield_10022":null,"priority":{"self":"https://bitovi.atlassian.net/rest/api/2/priority/3","id":3,"name":"Medium","iconUrl":"https://bitovi.atlassian.net/images/icons/priorities/medium.svg","namedValue":"Medium"},"customfield_10023":null,"customfield_10067":null,"customfield_10068":null,"customfield_10024":"2025-02-04T22:32:51.367+0000","customfield_10025":null,"labels":[],"customfield_10016":null,"customfield_10017":null,"customfield_10018":{"hasEpicLinkFieldDependency":true,"showField":true},"customfield_10019":"0|i01t8n:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":1738734094703,"status":{"self":"https://bitovi.atlassian.net/rest/api/2/status/1","description":"The issue needs refinement before it is assigned.","iconUrl":"https://bitovi.atlassian.net/images/icons/statuses/open.png","name":"Refinement","untranslatedName":null,"id":1,"statusCategory":{"self":"https://bitovi.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"components":[],"customfield_10050":null,"timeoriginalestimate":null,"customfield_10051":null,"customfield_10052":null,"description":null,"customfield_10054":null,"customfield_10010":null,"customfield_10014":null,"timetracking":{"originalEstimate":null,"remainingEstimate":null,"timeSpent":null,"originalEstimateSeconds":0,"remainingEstimateSeconds":0,"timeSpentSeconds":0},"customfield_10015":null,"customfield_10005":null,"customfield_10049":null,"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":null,"customfield_10009":null,"aggregatetimeestimate":null,"attachment":[],"summary":"Initial workflow build","creator":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"subtasks":[],"customfield_10040":null,"customfield_10041":null,"customfield_10042":null,"reporter":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"customfield_10000":"{}","aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10002":[],"customfield_10003":null,"customfield_10004":null,"customfield_10038":null,"customfield_10039":null,"environment":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://bitovi.atlassian.net/rest/api/2/issue/AMDP-3/votes","votes":0,"hasVoted":false},"comment":{"maxResults":7,"total":7,"startAt":0,"comments":[{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16541","id":16541,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"body":"Hello Mick,\n\nI noticed that the description for this ticket (AMDP-3) is currently empty. To help us better understand the scope and requirements of the task, could you please provide the following essential details?\n\n* **Purpose for the Ticket:** \n  * What is the main objective of the workflow build? \n  * Are there specific user goals or functionality that this story aims to deliver?\n\n* **Acceptance Criteria:** \n  * What conditions must be met for this story to be considered complete? \n  * Are there specific tests or outcomes that should be validated?\n\nProviding these details will help ensure that the implementation aligns with expectations and project goals. If any relevant information already exists in the comments, please move or duplicate it into the description for clarity.\n\nThank you!\n\nBitBot","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"created":1738708371367,"updated":1738708371367,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16546","id":16546,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"body":"[~accountid:712020:426df7bb-6567-4f45-a393-7ffd0daaeae6] this ticket is for building out the initial MVA (minimum viable automation) for connecting Jira to n8n. please draft a purpose and write up acceptance criteria.","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"created":1738710916143,"updated":1738710916143,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16557","id":16557,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"body":"Hello Mick,\n\nI noticed that the description for this ticket (AMDP-3) is currently empty. To help us better understand the scope and requirements of the task, could you please provide more details directly in the description field?\n\nHere's what is needed:\n\n* **Purpose for the Ticket:** \n  * Currently, you mentioned in the comments: \"this ticket is for building out the initial MVA (minimum viable automation) for connecting Jira to n8n.\" Could you please expand on this by adding it as a description? \n  * Include specific user goals or what this automation aims to achieve.\n\n* **Acceptance Criteria:** \n  * Again, as per your comment, you asked to \"draft a purpose and write up acceptance criteria.\" Could you please specify these criteria directly? \n  * Outline the conditions that must be met for this task to be considered complete.\n  * Include any tests or outcomes that need validation.\n\nTo make it easier, you can copy from the comment and enhance it with additional details. Moving this essential information into the description will ensure clarity and help team members align on objectives.\n\nFeel free to reach out if you have any questions or need assistance.\n\nThank you!\n\nBitBot","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"created":1738731244994,"updated":1738731244994,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16558","id":16558,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"body":"Hello Mick,\n\nI noticed that the description for this ticket (AMDP-3) is currently empty. To better assist with moving this issue forward, could you please update the description with the following details:\n\n* **Purpose for the Ticket:**\n  * From your comment, it was noted that this ticket aims at \"building out the initial MVA (minimum viable automation) for connecting Jira to n8n.\" Could you please expand this into a more detailed description? Consider including the objectives and any user goals related to this automation.\n\n* **Acceptance Criteria:**\n  * You mentioned the need to \"draft a purpose and write up acceptance criteria.\" It would be very helpful if you could list specific criteria for this task's completion, include tests or conditions that need to be validated. \n\nHaving these details in the description will help everyone involved to have a unified understanding of the task's scope and make tracking progress easier.\n\nThank you for your collaboration!\n\nBitBot","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"created":1738733104282,"updated":1738733104282,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16561","id":16561,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"body":"[~accountid:712020:426df7bb-6567-4f45-a393-7ffd0daaeae6] Please provide a purpose and acceptance criteria","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"created":1738733800017,"updated":1738733800017,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16562","id":16562,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"body":"Hello Mick,\n\nI noticed that the description for this ticket (AMDP-3) is currently empty, and certain important details are missing. To help refine the ticket further, could you please update the description with the following information?\n\n* **Purpose for the Ticket:**\n  * You've mentioned in a comment: \"this ticket is for building out the initial MVA (minimum viable automation) for connecting Jira to n8n.\" Please incorporate this into the ticket description and elaborate on the main objectives and user goals associated with this automation.\n\n* **Acceptance Criteria:**\n  * In your comment, you requested additional purpose and acceptance criteria. Could you please specify these directly in the description? Include the conditions that must be satisfied for the task to be considered complete, as well as any specific tests or outcomes that need validation.\n\nTo facilitate this, you can move or expand upon the details from the comments into the description using the following format:\n\n{panel:title=Suggested Description Format|borderStyle=dashed}\n*Purpose for the Ticket:*\n- [Describe the automation, objectives, and user goals here]\n\n*Acceptance Criteria:*\n- [List conditions, tests, or outcomes for completion here]\n{panel}\n\nProviding this essential information will ensure everyone has a clear understanding of the task and its objectives. If you have any questions or need assistance with updating the ticket, please let me know.\n\nThank you!\n\nBitBot","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=712020%3A426df7bb-6567-4f45-a393-7ffd0daaeae6","name":null,"key":null,"accountId":"712020:426df7bb-6567-4f45-a393-7ffd0daaeae6","emailAddress":null,"avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","24x24":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","16x16":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png","32x32":"https://secure.gravatar.com/avatar/103692f4f108d9145f7fa798600e5083?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FB-4.png"},"displayName":"BitBot","active":true,"timeZone":"Etc/GMT","groups":null,"locale":null,"accountType":"atlassian"},"created":1738733823811,"updated":1738733823811,"visibility":null},{"self":"https://bitovi.atlassian.net/rest/api/2/issue/23319/comment/16563","id":16563,"author":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"body":"[~accountid:712020:426df7bb-6567-4f45-a393-7ffd0daaeae6] Please provide a purpose and acceptance criteria","renderedBody":null,"updateAuthor":{"self":"https://bitovi.atlassian.net/rest/api/2/user?accountId=557058%3Ac616dc6d-74ab-42f4-80e9-4403893f3b7b","name":null,"key":null,"accountId":"557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:c616dc6d-74ab-42f4-80e9-4403893f3b7b/cf85e326-7829-4c78-9eb0-c0a8c692d744/32"},"displayName":"Mick McGrath","active":true,"timeZone":"US/Eastern","groups":null,"locale":null,"accountType":"atlassian"},"created":1738734094703,"updated":1738734094703,"visibility":null}],"last":false},"worklog":{"maxResults":20,"total":0,"startAt":0,"worklogs":[],"last":false}},"renderedFields":null},"webhookUrl":"https://n8n.bitovi-ai.com/webhook/23d02c03-42cd-4e9d-a7f8-f9d88f76f156","executionMode":"production"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-02-05T05:09:42.847Z","updatedAt":"2025-02-05T05:09:42.847Z","role":"workflow:owner","workflowId":"67709MKyx5dGJgdV","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-30T14:43:01.334Z","updatedAt":"2024-10-30T14:43:01.334Z","id":"UsCZQwggjHGyf2SZ","name":"jira"},{"createdAt":"2025-02-04T14:05:36.687Z","updatedAt":"2025-02-04T14:05:36.687Z","id":"OVtlflUMUG7VGye1","name":"Demo"}],"triggerCount":0,"updatedAt":"2025-02-05T07:44:10.612Z","versionId":"1fb26e7c-6b1b-412d-825b-b5d83e6c20e4"}