n8n/workflows/2025/KB with sources - pinecone.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Query expander","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"4o-mini-reranker","type":"ai_languageModel","index":0}]]},"Sort":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"4o-mini-reranker","type":"ai_embedding","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"4o-mini-reranker","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Query expander","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Query expander","type":"ai_outputParser","index":0}]]},"4o-mini-reranker":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Query expander":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:06:57.102Z","id":"Yg9WqvYoELy3PIt2","meta":{"templateCredsSetupCompleted":true},"name":"KB with sources - pinecone","nodes":[{"parameters":{},"id":"e4228b39-9d5e-46af-b91f-9c08399c5e2e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[2900,820]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"0195a4e7-cadf-42d8-af5d-4a8b0c80fb9d","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[3600,1000],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"e1704942-a22c-4aec-b753-bd04c3b0419d","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3980,820]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"b9df2278-c24f-4dbf-95df-171473fd517a","name":"OpenAI Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4660,980],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"41a17fca-4e47-442f-b7df-67725de3899b","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[4780,980],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"03936efd-e543-4f4c-a9db-332b209556e8","name":"query","value":"={{ $('Execute Workflow Trigger').item.json.query }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"d75cc979-3321-4d1f-9bb7-d67f37feb481","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4200,820]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document"}]},"options":{}},"id":"82b6ab36-dfda-47f4-877e-fca5632d3388","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4520,500]},{"parameters":{"jsCode":"const item =$input.first();\nlet sources = {};\nconsole.log(\"item\")\nconsole.log(item)\nitem.json.results.forEach(result => {\n  let currentVal = sources[result.metadata.url] || 0;\n  sources[result.metadata.url] = currentVal++\n})\nitem.json.response = `\n${item.json.response}\n\n*Sources Considered:*\n- ${Object.keys(sources).join(\"\\n- \")}\n`;\n\n\nreturn item"},"id":"422d6eb0-ede5-425e-9d7c-2d913104ac70","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5740,620]},{"parameters":{"mode":"combine","fieldsToMatchString":"foo","joinMode":"keepEverything","options":{}},"id":"687876e4-40d0-483c-b9e5-10e507696563","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[5200,620]},{"parameters":{"jsCode":"const results = $input.first().json.document;\nconst response = $input.last().json.output.kwargs.content;\n\nlet ret = {\n  \"results\": results,\n  \"response\": response\n};\n\nreturn ret"},"id":"082656c8-c270-4120-8172-b97b4d3cf80d","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[5340,620]},{"parameters":{"content":"## Merge + Code\nmerge returns 2 items (# of inputs).  use code to extract.","height":347.63077336473197,"width":390.36164714844926},"id":"a99e8efd-0ef7-4c86-984b-dc94f956098b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5100,440]},{"parameters":{"model":"gpt-4o","options":{}},"id":"0e581cc7-7f0c-432c-b2c7-9cb6e97d9d0b","name":"OpenAI Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3160,1040],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"alternatives\": [\"California\", \"where is california\"]\n}"},"id":"e90bc3ca-5f3d-4e50-8d78-f0cd9d091736","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3320,1040]},{"parameters":{"code":{"execute":{"code":"function _log() {\n    console.log(\"\");\n    console.log(\"---\");\n    console.log(...arguments);\n    console.log(\"---\");\n    console.log(\"\");\n  }\n\n  _log(\"this\",this)\n  \n  // 1. Get Inputs\n  const chunks = this.getInputData();\n  _log(\"chunks\", chunks);\n\n  //assume the user query on the first result is the same for all (for now)\n  const userQuery = chunks[0].json.query;\n\n  const embedding = await this.getInputConnectionData('ai_embedding', 0);\n  _log(\"embeddings\",embedding)  \n  \n  \n  const llm = await this.getInputConnectionData('ai_languageModel', 0);\n  _log(\"llm\",llm);\n  \n  const systemPrompt = `\nYou are an advanced language model designed to provide precise and accurate answers based on the provided context. Your goal is to synthesize information from the given documents to answer the user's query comprehensively. \n\n**Instructions:**\n1. **Understand the Context:** Carefully read and comprehend the provided context.\n2. **Answer Accurately:** Generate a clear and concise response that directly addresses the user's question using information from the context.\n3. **Cite Sources:** Always, reference the sources of your information by including their URLs in markdown format, e.g., [Source Title](URL).\n4. **Maintain Objectivity:** Ensure that your response is unbiased and based solely on the provided context.\n5. **Avoid Hallucinations:** Do not include information that is not present in the context.\n\n**Context:**\n{context}\n\n**User Question:**\n{question}\n  `;\n  \n  // 3. Implement OpenAI Rerank Logic\n  async function rerankDocumentsOpenAI(chunks) {\n      const documents = chunks.map((chunk) => chunk.json.document);\n      const documentTexts = documents.map((doc) => doc.pageContent);\n      \n      _log(\"rerankDocumentsOpenAI\", chunks, \"documents\", documents, \"documentTexts\", documentTexts);\n    // Get the embedding of the query\n    const queryEmbedding = await embedding.embedQuery(userQuery);\n    \n  \n    // Get the embeddings of all documents\n    const documentEmbeddings = await embedding.embedDocuments(documentTexts);\n  \n    // Compute cosine similarities and assign scores\n    for (let i = 0; i < documents.length; i++) {\n      const docEmbedding = documentEmbeddings[i];\n      const score = cosineSimilarity(queryEmbedding, docEmbedding);\n  \n      // Update the chunk's score\n      chunks[i].json.score = score;\n      // Optionally, include the score in the document's metadata\n      documents[i].metadata.score = score;\n    }\n  \n    // Sort chunks by score descending\n    chunks.sort((a, b) => b.json.score - a.json.score);\n  \n    // Extract the documents from the sorted chunks\n    const rerankedDocuments = chunks.map((chunk) => chunk.json.document);\n  \n    return rerankedDocuments;\n  }\n  \n  // Helper function to compute cosine similarity\n  function cosineSimilarity(vecA, vecB) {\n    let dotProduct = 0;\n    let normA = 0;\n    let normB = 0;\n    for (let i = 0; i < vecA.length; i++) {\n      dotProduct += vecA[i] * vecB[i];\n      normA += vecA[i] ** 2;\n      normB += vecB[i] ** 2;\n    }\n    return dotProduct / (Math.sqrt(normA) * Math.sqrt(normB));\n  }\n  \n  // 4. Rerank the documents\n  const rerankedDocuments = await rerankDocumentsOpenAI(chunks);\n  _log(\"rerankedDocuments\", rerankedDocuments);\n\n  const context = rerankedDocuments.map(doc => doc.pageContent).join(\"\\n\\n\");\n  \n  // 5. Set up the prompt and chain\n  const { ChatPromptTemplate } = require(\"@langchain/core/prompts\");\n \n  const prompt = ChatPromptTemplate.fromMessages([\n    [\"system\", `${systemPrompt}\\nYou have the following context:\\n{context}\\n\\n`],\n    [\"human\", \"{question}\"],\n  ]);\n  \n  const chain = prompt.pipe(llm)\n  \n  // 6. Use the chain with the reranked documents\n  const output = await chain.invoke({\n    context: context,\n    question: userQuery\n  });\n  \n  return [{ json: { output } }];\n  "}},"inputs":{"input":[{"type":"ai_languageModel","maxConnections":1,"required":true},{"type":"main","required":true},{"type":"ai_embedding","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"2e7ecef3-bf98-4373-b500-72c2e6a3def2","name":"4o-mini-reranker","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[4640,780],"retryOnFail":true},{"parameters":{"promptType":"define","text":"=You are an intelligent assistant specialized in enhancing search queries for a web technology consulting company, Bitovi. Given an input query, generate a list of 10 alternative lookup terms or phrases that can be used to search a knowledgebase more effectively. These alternatives should include synonyms, related terms, and different phrasings that capture the essence of the original query.\n\n**Input Query:**\n{{ $json.query }}\n","hasOutputParser":true},"id":"120968fb-c400-42f8-90de-cccebbeecf83","name":"Query expander","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3120,820]},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"={{ $('Execute Workflow Trigger').first().json.pineconeIndex }}","mode":"id"},"prompt":"=original_query: {{ $('Execute Workflow Trigger').first().json.query }}\n\nAlternatives:\n- {{ $json.output.alternatives.join('\\n- ') }}","topK":25,"options":{"pineconeNamespace":"={{ $('Execute Workflow Trigger').first().json.pineconeNamespace }}"}},"id":"340751f4-8921-408a-8920-1be324b6a459","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[3600,820],"retryOnFail":true,"credentials":{"pineconeApi":{"id":"XzXMwaRxQsBHUpvb","name":"PineconeApi account"}}}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"modlet","pineconeIndex":"bitbot-webcrawl-bitovi","pineconeNamespace":"bitovi-site"}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:06:57.102Z","updatedAt":"2024-10-10T05:06:57.102Z","role":"workflow:owner","workflowId":"Yg9WqvYoELy3PIt2","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"}],"triggerCount":0,"updatedAt":"2024-11-05T22:50:38.645Z","versionId":"f1674202-6e79-43a6-94bc-5036d221eef5"}