n8n/workflows/2025/Parallel node test.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"serial_start","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"serial_start":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"serial_duration","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"merge","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"merge","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"merge","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"merge","type":"main","index":0}]]},"serial_duration":{"main":[[{"node":"parallel_start","type":"main","index":0}]]},"parallel_start":{"main":[[{"node":"Wait4","type":"main","index":0},{"node":"Wait5","type":"main","index":0},{"node":"Wait6","type":"main","index":0},{"node":"Wait7","type":"main","index":0}]]},"merge":{"main":[[{"node":"parallel_duration","type":"main","index":0}]]}},"createdAt":"2025-02-05T15:59:07.294Z","id":"mgjlBvmFK7mL4tOi","meta":null,"name":"Parallel node test","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,0],"id":"15a98c80-38aa-403e-9a6b-5f4ce563ca7d","name":"When clicking ‘Test workflow’"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[360,-60],"id":"ea4a46ed-eb00-4c44-bd77-e3e10e7daf43","name":"Wait","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"content":"# Serial - 1s each\n","height":560,"width":700},"type":"n8n-nodes-base.stickyNote","position":[160,-200],"typeVersion":1,"id":"e60f6e9f-beef-426e-b581-52dce1df1884","name":"Sticky Note"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,0],"id":"423ab27b-40e4-47f7-bf4c-80313e0f70c5","name":"Wait1","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"assignments":{"assignments":[{"id":"245664c6-1da2-489d-9df2-cda1f2a6dce6","name":"seconds","value":"={{ $now.toSeconds() }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0],"id":"d8fd840a-84c9-4e71-9195-9aeeae7bc0ce","name":"serial_start"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[600,60],"id":"af050213-b51d-4234-b1b5-3337a7d76fe6","name":"Wait2","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,120],"id":"7f927b30-2482-4dba-9041-9422601a7545","name":"Wait3","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"content":"# Serial - result\n","height":280,"width":360},"type":"n8n-nodes-base.stickyNote","position":[940,-100],"typeVersion":1,"id":"ee03dbfb-0be5-4204-a20a-a72443bafce9","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"245664c6-1da2-489d-9df2-cda1f2a6dce6","name":"serial_duration","value":"={{ parseFloat($now.toSeconds(), 10)-parseFloat($('serial_start').first().json.seconds, 10) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,0],"id":"05b4b3e5-53d2-4f4f-a521-4d5f38d63c9c","name":"serial_duration"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1660,-60],"id":"d1658634-878a-4ae3-ac96-ca5fb5161a36","name":"Wait4","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"content":"# Parallel - 1s each\n","height":700,"width":700},"type":"n8n-nodes-base.stickyNote","position":[1420,-160],"typeVersion":1,"id":"4a1c9c51-3694-4350-9dca-6576b0371123","name":"Sticky Note2"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1660,80],"id":"34282e93-063f-4caf-b643-c3957e52f73c","name":"Wait5","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1660,220],"id":"4f943af7-fd69-4290-9357-0941a042933a","name":"Wait6","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1660,380],"id":"54f1a7dd-489e-48aa-a927-073b00a72856","name":"Wait7","webhookId":"cff4a1f8-22e1-46ac-ab62-ec0fe5f7d18b"},{"parameters":{"content":"# Parallel - result\n","height":320,"width":520},"type":"n8n-nodes-base.stickyNote","position":[2360,-100],"typeVersion":1,"id":"c571a57d-66d0-48d7-9ce0-dc7a11fabe3f","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"245664c6-1da2-489d-9df2-cda1f2a6dce6","name":"seconds","value":"={{ $now.toSeconds() }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,0],"id":"89fba865-b968-4048-ad2d-21fe180468fd","name":"parallel_start"},{"parameters":{"jsCode":"return $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,40],"id":"599a4623-79c4-4097-9f55-851f6821d5b6","name":"merge"},{"parameters":{"assignments":{"assignments":[{"id":"245664c6-1da2-489d-9df2-cda1f2a6dce6","name":"serial_duration","value":"={{ parseFloat($now.toSeconds(), 10)-parseFloat($('parallel_start').first().json.seconds, 10) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2660,40],"id":"cbe0f3a3-5731-4799-b516-b673c8dcf4c5","name":"parallel_duration"}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-02-05T15:59:07.294Z","updatedAt":"2025-02-05T15:59:07.294Z","role":"workflow:owner","workflowId":"mgjlBvmFK7mL4tOi","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:02:58.181Z","updatedAt":"2024-10-10T05:02:58.181Z","id":"KtYRNd3rjRAkM76N","name":"test"}],"triggerCount":0,"updatedAt":"2025-02-05T16:13:21.648Z","versionId":"9f3f1639-c0fa-409b-ad8a-fde94b8a9603"}