n8n/workflows/2025/Vector Chat - Pinecone.json
{"active":false,"connections":{"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"kb - bitovi site":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"kb - devops":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"kb - ai":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"createdAt":"2024-10-24T14:36:54.381Z","id":"unHoYifhIFRKmGQD","meta":{"templateCredsSetupCompleted":true},"name":"Vector Chat - Pinecone","nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"cb623b5b-8179-484d-95c0-53ee9de429f5","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1560,580],"credentials":{"openAiApi":{"id":"6JofNkolv1usBLGu","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"d44364d8-745b-4f05-8bd9-fc2c73d801af","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1820,580]},{"parameters":{},"id":"ac6b7624-2998-421c-8b2e-a26599e28244","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[860,540]},{"parameters":{},"id":"cec9fba7-d27a-4769-8687-daa456fcefb2","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[920,300],"webhookId":"2f2abee9-26b8-4b4e-8004-d50c82e3321c"},{"parameters":{"assignments":{"assignments":[{"id":"e00c38e5-8f19-40a2-bfdd-269248f1f3a9","name":"sessionId","value":"={{ $now.toSeconds() }}","type":"string"},{"id":"f0b7f31a-b11f-418c-835c-397df0d5aebe","name":"action","value":"sendMessage","type":"string"},{"id":"293477f9-25c7-435b-82a3-1bae2235b393","name":"chatInput","value":"={{ $json.query }}","type":"string"},{"id":"c5199c98-243d-4067-8ee5-83f067747978","name":"chat_history","value":"={{ $json.chat_history }}","type":"array"}]},"options":{}},"id":"16dea553-7984-4855-8510-36b7d6ab8a30","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,460]},{"parameters":{"name":"knowledgebaseBitoviSite","description":"Call this tool to find information about your knowledge base for Bitovi's site (general services information, public presence, etc).\nit should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"Yg9WqvYoELy3PIt2","mode":"list","cachedResultName":"KB with sources - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot-webcrawl-bitovi"},{"name":"pineconeNamespace","stringValue":"bitovi-site"}]}},"id":"718b45a2-9b2b-4bab-bf71-b76f59f3588d","name":"kb - bitovi site","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2060,620]},{"parameters":{"name":"knowledgebaseConfluenceDevOps","description":"Call this tool to find information about your knowledge base for devops related information.\nit should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"Yg9WqvYoELy3PIt2","mode":"list","cachedResultName":"KB with sources - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot"},{"name":"pineconeNamespace","stringValue":"bitovi-confluence-devops"}]}},"id":"894d41d0-5ed8-465f-ac7f-7e2e3643d8bc","name":"kb - devops","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2200,620]},{"parameters":{"name":"knowledgebaseConfluenceAI","description":"Call this tool to find information about your knowledge base for AI related information.\n\nit should always cite sources, so be sure to preserve them!","workflowId":{"__rl":true,"value":"Yg9WqvYoELy3PIt2","mode":"list","cachedResultName":"KB with sources - pinecone"},"fields":{"values":[{"name":"pineconeIndex","stringValue":"bitbot"},{"name":"pineconeNamespace","stringValue":"bitovi-confluence-ai"}]}},"id":"5d996ec6-7bc1-45b2-8ff8-b22755b42709","name":"kb - ai","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2320,620]},{"parameters":{"promptType":"define","text":"=You are an information retrieval agent tasked with retrieving accurate and reliable data exclusively from a specified knowledgebase. Your primary responsibilities are:\n\n1) Retrieve First: Always prioritize going directly to the knowledgebase(s) for data before providing any response.\n\n2) Cite Sources: Every response must include detailed citations from the knowledgebase, including URLs, specific articles, document titles, page numbers, or section references. If the knowledgebase does not include exact page numbers, include document titles and section headings where the information is found.\n\n3) No Guessing or External Information: Do not provide data that is not explicitly found in the knowledgebase. If the knowledgebase does not contain the requested information, respond with a clear indication that the data is unavailable from the source.\n\n4) Formatting Citations: When citing, format each citation with the following structure: [heading](url), Page Number or Specific Location, Date if applicable). If the knowledgebase uses a different citation format, follow that standard instead.\n\nExample response format: \"According to the 'Product Specifications' section of the [Knowledgebase Reference Guide](https://foo.com], the widget operates at 500 MHz (Page 23, 2024).\"\n\nYour primary focus is on precision and verifiable information, sourced directly from the knowledgebase at all times.\n\nHere is the chat history (if applicable):\n--- Chat history\n{{ $json.chat_history?.toJsonString() }}\n--- end Chat history\n\nAnswer this query:\n---\n{{ $json.chatInput }}\n---","options":{}},"id":"29eabc1c-40ef-4a85-ba0a-3e8e50a4006a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1560,300]}],"pinData":{"Execute Workflow Trigger":[{"json":{"query":"what are bitovi's pillars of devops?","chat_history":[]}}]},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-24T14:36:54.381Z","updatedAt":"2024-10-24T14:36:54.381Z","role":"workflow:owner","workflowId":"unHoYifhIFRKmGQD","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"}],"triggerCount":0,"updatedAt":"2024-10-24T14:45:46.320Z","versionId":"9e83f5d2-14d4-4525-8191-aec6df8130e2"}