n8n/workflows/2025/Website Visitor.json
{"active":false,"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Visit Website","type":"main","index":0}]]},"Visit Website":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"createdAt":"2024-10-10T05:05:16.213Z","id":"aPPxtIl541wXGEhE","meta":{"templateCredsSetupCompleted":true},"name":"Website Visitor","nodes":[{"parameters":{},"id":"2af846b2-bc78-4e8f-852d-8f552178f5c2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"url":"={{ $json.query.url }}","options":{"allowUnauthorizedCerts":true}},"id":"6758aa3f-36fb-4d60-9d35-07026890a4bb","name":"Visit Website","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,460]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"body","cssSelector":"html","skipSelectors":"head,.pv-profile-card"}]},"options":{"cleanUpText":true}},"id":"1daae7e2-c125-4bde-b19e-92dcf495310d","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[820,460]}],"pinData":{},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2024-10-10T05:05:16.213Z","updatedAt":"2024-10-10T05:05:16.213Z","role":"workflow:owner","workflowId":"aPPxtIl541wXGEhE","projectId":"eE7ZreXxU8opHSMo","project":{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:59:11.018Z","id":"eE7ZreXxU8opHSMo","name":"Mick McGrath <mick@bitovi.com>","type":"personal","projectRelations":[{"createdAt":"2024-10-10T04:58:21.883Z","updatedAt":"2024-10-10T04:58:21.883Z","role":"project:personalOwner","userId":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","projectId":"eE7ZreXxU8opHSMo","user":{"createdAt":"2024-10-10T04:58:20.675Z","updatedAt":"2024-12-17T18:55:32.734Z","id":"14d9a0b7-27fe-46d1-889c-eec4b5628bbe","email":"mick@bitovi.com","firstName":"Mick","lastName":"McGrath","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-10-10T04:59:14.261Z","personalization_survey_n8n_version":"1.57.0"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"Yg9WqvYoELy3PIt2","userActivatedAt":1729778795697,"npsSurvey":{"responded":true,"lastShownAt":1734461728909}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"staticData":null,"tags":[{"createdAt":"2024-10-10T05:04:45.882Z","updatedAt":"2024-10-10T05:04:45.882Z","id":"11bdVLxIiRQ50jIh","name":"tool"}],"triggerCount":0,"updatedAt":"2024-10-10T05:05:16.213Z","versionId":"37a4c320-6b92-4400-ab0c-74c8370febd5"}